{% extends '../_partials/cnote-main-layout.html' %}
{% block page-title %}<title>Carousels | cNote Responsive Template</title> {% endblock %}

{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper">
    
    <!-- Header -->
    <header id="header" class="cn-header">
        {% include '../_partials/headers/_main-header.html' %}
    </header>
    <!-- END Header -->
    
    <!-- Main Content -->
    <div id="main-content">
        <!-- Page Header -->
        <section class="jumbotron g-py-50 g-bg-gray-100 g-border-b g-border-b-gray-300">
            <div class="container">
                <div class="g-flex-md-middle">
                    <h5 class="text-uppercase">Carousels</h5>
                    <nav aria-label="breadcrumb" class="ml-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Components</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Carousels</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- END Page Header -->
    
        <!-- Carousels -->
        <section class="g-py-70 g-bg-white">
            <div class="container">
            
                <!-- Image Carousel -->
                <h5 class= "text-uppercase font-weight-bold g-mb-20">Carousel 1</h5>
                <div class="row g-mb-100">
                    <div class="owl-carousel images-carousel">
                        <div class="item">
                            <div class="gallery-wrapper">
                                <a href="#"><img src="http://via.placeholder.com/900x600/eee/777" alt="Image Description"></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="gallery-wrapper">
                                <a href="#"><img src="http://via.placeholder.com/900x600/eee/777" alt="Image Description"></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="gallery-wrapper">
                                <a href="#"><img src="http://via.placeholder.com/900x600/eee/777" alt="Image Description"></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="gallery-wrapper">
                                <a href="#"><img src="http://via.placeholder.com/900x600/eee/777" alt="Image Description"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Image Carousel -->
            
                <!-- Image Carousel No Gutter -->
                <h5 class= "text-uppercase font-weight-bold g-mb-20">Carousel 2 - No gutter</h5>
                <div class="row g-mb-100">
                    <div class="owl-carousel images-carousel-no-gutter">
                        <div class="item">
                            <div class="gallery-wrapper">
                                <a href="#"><img src="http://via.placeholder.com/900x600/eee/777" alt="Image Description"></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="gallery-wrapper">
                                <a href="#"><img src="http://via.placeholder.com/900x600/ddd/777" alt="Image Description"></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="gallery-wrapper">
                                <a href="#"><img src="http://via.placeholder.com/900x600/eee/777" alt="Image Description"></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="gallery-wrapper">
                                <a href="#"><img src="http://via.placeholder.com/900x600/ddd/777" alt="Image Description"></a>
                            </div>
                        </div>
                
                    </div>
                </div>
                <!-- END Image Carousel No Gutter -->
            
                <!-- Image Carousel + Content -->
                <h6 class="text-uppercase font-weight-bold g-mb-20">Image Carousel + Content</h6>
                <div class="row g-mb-100">
                    <div class="owl-carousel images-carousel">
                        <div class="item text-center">
                            <div class="gallery-wrapper g-bg-white g-border g-border-gray-300">
                                <div class="gallery-header">
                                    <a href="#"><img src="http://via.placeholder.com/900x600/eee/777" alt="Image Description"></a>
                                </div>
                                <div class="gallery-content g-py-30">
                                    <div class="title g-mb-20">
                                        <h6 class="text-uppercase font-weight-bold">Project Title</h6>
                                    </div>
                                    <div class="description text-center g-mx-md-30">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque explicabo hic ipsa quo rem?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item text-center">
                            <div class="gallery-wrapper g-bg-white g-border g-border-gray-300">
                                <div class="gallery-header">
                                    <a href="#"><img src="http://via.placeholder.com/900x600/eee/777" alt="Image Description"></a>
                                </div>
                                <div class="gallery-content g-py-30">
                                    <div class="title g-mb-20">
                                        <h6 class="text-uppercase font-weight-bold">Project Title</h6>
                                    </div>
                                    <div class="description text-center g-mx-md-30">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque explicabo hic ipsa quo rem?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item text-center">
                            <div class="gallery-wrapper g-bg-white g-border g-border-gray-300">
                                <div class="gallery-header">
                                    <a href="#"><img src="http://via.placeholder.com/900x600/eee/777" alt="Image Description"></a>
                                </div>
                                <div class="gallery-content g-py-30">
                                    <div class="title g-mb-20">
                                        <h6 class="text-uppercase font-weight-bold">Project Title</h6>
                                    </div>
                                    <div class="description text-center g-mx-md-30">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque explicabo hic ipsa quo rem?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item text-center">
                            <div class="gallery-wrapper g-bg-white g-border g-border-gray-300">
                                <div class="gallery-header">
                                    <a href="#"><img src="http://via.placeholder.com/900x600/eee/777" alt="Image Description"></a>
                                </div>
                                <div class="gallery-content g-py-30">
                                    <div class="title g-mb-20">
                                        <h6 class="text-uppercase font-weight-bold">Project Title</h6>
                                    </div>
                                    <div class="description text-center g-mx-md-30">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque explicabo hic ipsa quo rem?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                    </div> <!-- / .image-carousel -->
                </div>
                <!-- END Image Carousel + Content -->
            
                <!-- Features Carousel -->
                <h6 class="text-uppercase font-weight-bold g-mb-20">Features Carousel</h6>
                <div class="row g-mb-100">
                    <div class="owl-carousel feature-carousel">
                        <div class="feature-item g-bg-white text-center g-py-60 pulse-primary-effect g-border g-border-gray-300">
                            <div class="feature-header">
                                <div class="cn-icon cn-icon-lg cn-icon-primary rounded-circle g-mb-20">
                                    <i class="icon-notebook g-font-size-20" aria-hidden="true"></i>
                                </div>
                                <div class="title g-mb-20">
                                    <h5 class="text-uppercase font-weight-bold">Clean design</h5>
                                </div>
                            </div>
                            <div class="feature-desc">
                                <p class="g-mx-10 g-mx-md-30"> Grandis, emeritis bullas tandem promissio de festus, clemens cotta. A falsis, decor peritus burgus.  </p>
                            </div>
                        </div>
                        <div class="feature-item g-bg-white text-center g-py-60 pulse-primary-effect g-border g-border-gray-300">
                            <div class="feature-header">
                                <div class="cn-icon cn-icon-lg cn-icon-primary rounded-circle g-mb-20">
                                    <i class="icon-screen-desktop g-font-size-20" aria-hidden="true"></i>
                                </div>
                                <div class="title g-mb-20">
                                    <h5 class="text-uppercase font-weight-bold">Responsive</h5>
                                </div>
                            </div>
                            <div class="feature-desc">
                                <p class="g-mx-10 g-mx-md-30"> Grandis, emeritis bullas tandem promissio de festus, clemens cotta. A falsis, decor peritus burgus.  </p>
                            </div>
                        </div>
                        <div class="feature-item g-bg-white text-center g-py-60 pulse-primary-effect g-border g-border-gray-300">
                            <div class="feature-header">
                                <div class="cn-icon cn-icon-lg cn-icon-primary rounded-circle g-mb-20">
                                    <i class="icon-bell g-font-size-20" aria-hidden="true"></i>
                                </div>
                                <div class="title g-mb-20">
                                    <h5 class="text-uppercase font-weight-bold">Best Quality</h5>
                                </div>
                            </div>
                            <div class="feature-desc">
                                <p class="g-mx-10 g-mx-md-30"> Grandis, emeritis bullas tandem promissio de festus, clemens cotta. A falsis, decor peritus burgus.  </p>
                            </div>
                        </div>
                        <div class="feature-item g-bg-white text-center g-py-60 pulse-primary-effect g-border g-border-gray-300">
                            <div class="feature-header">
                                <div class="cn-icon cn-icon-lg cn-icon-primary rounded-circle g-mb-20">
                                    <i class="icon-people g-font-size-20" aria-hidden="true"></i>
                                </div>
                                <div class="title g-mb-20">
                                    <h5 class="text-uppercase font-weight-bold">Unlimited Support</h5>
                                </div>
                            </div>
                            <div class="feature-desc">
                                <p class="g-mx-10 g-mx-md-30"> Grandis, emeritis bullas tandem promissio de festus, clemens cotta. A falsis, decor peritus burgus.  </p>
                            </div>
                        </div>
                        <div class="feature-item g-bg-white text-center g-py-60 pulse-primary-effect g-border g-border-gray-300">
                            <div class="feature-header">
                                <div class="cn-icon cn-icon-lg cn-icon-primary rounded-circle g-mb-20">
                                    <i class="icon-settings g-font-size-20" aria-hidden="true"></i>
                                </div>
                                <div class="title g-mb-20">
                                    <h5 class="text-uppercase font-weight-bold">Easy to Customize</h5>
                                </div>
                            </div>
                            <div class="feature-desc">
                                <p class="g-mx-10 g-mx-md-30"> Grandis, emeritis bullas tandem promissio de festus, clemens cotta. A falsis, decor peritus burgus.  </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Features Carousel -->
            
                <!-- Team Carousel -->
                <h6 class="text-uppercase font-weight-bold g-mb-20">Team Carousel</h6>
                <div class="row g-mb-100">
                    <div class="owl-carousel team-carousel">
                        
                        <div class="item g-shadow-v1 g-m-10">
                            <div class="member-block text-center">
                                <div class="member-header">
                                    <a href="#"><img src="http://via.placeholder.com/800x1000/eee/777" alt="Image Description"></a>
                                </div>
                                <div class="member-content g-py-30 g-bg-white">
                                    <div class="member-title g-mb-10">
                                        <h5 class="font-weight-semibold">John Doe </h5>
                                        <p>CEO of Company</p>
                                    </div>
                                    <div class="member-description">
                                        <ul class="member-social-links d-flex justify-content-center list-unstyled">
                                            <li class="g-mx-5">
                                                <a href="#" class="cn-icon cn-icon-xs g-bg-gray-200 g-bg-gray-900-h">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="g-mx-5">
                                                <a href="#" class="cn-icon cn-icon-xs g-bg-gray-200 g-bg-gray-900-h">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="g-mx-5">
                                                <a href="#" class="cn-icon cn-icon-xs g-bg-gray-200 g-bg-gray-900-h">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                            <li class="g-mx-5">
                                                <a href="#" class="cn-icon cn-icon-xs g-bg-gray-200 g-bg-gray-900-h">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- / .team-block -->
                        </div>
                        <div class="item g-shadow-v1 g-m-10">
                            <div class="member-block text-center">
                                <div class="member-header">
                                    <a href="#"><img src="http://via.placeholder.com/800x1000/eee/777" alt="Image Description"></a>
                                </div>
                                <div class="member-content g-py-30 g-bg-white">
                                    <div class="member-title g-mb-10">
                                        <h5 class="font-weight-semibold">Bill Will</h5>
                                        <p>CEO of Company</p>
                                    </div>
                                    <div class="member-description">
                                        <ul class="member-social-links d-flex justify-content-center list-unstyled">
                                            <li class="g-mx-5">
                                                <a href="#" class="cn-icon cn-icon-xs g-bg-gray-200 g-bg-gray-900-h">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="g-mx-5">
                                                <a href="#" class="cn-icon cn-icon-xs g-bg-gray-200 g-bg-gray-900-h">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="g-mx-5">
                                                <a href="#" class="cn-icon cn-icon-xs g-bg-gray-200 g-bg-gray-900-h">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                            <li class="g-mx-5">
                                                <a href="#" class="cn-icon cn-icon-xs g-bg-gray-200 g-bg-gray-900-h">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- / .team-block -->
                        </div>
                        <div class="item g-shadow-v1 g-m-10">
                            <div class="member-block text-center">
                                <div class="member-header">
                                    <a href="#"><img src="http://via.placeholder.com/800x1000/eee/777" alt="Image Description"></a>
                                </div>
                                <div class="member-content g-py-30 g-bg-white">
                                    <div class="member-title g-mb-10">
                                        <h5 class="font-weight-semibold">Jenny Doe </h5>
                                        <p>CEO of Company</p>
                                    </div>
                                    <div class="member-description">
                                        <ul class="member-social-links d-flex justify-content-center list-unstyled">
                                            <li class="g-mx-5">
                                                <a href="#" class="cn-icon cn-icon-xs g-bg-gray-200 g-bg-gray-900-h">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="g-mx-5">
                                                <a href="#" class="cn-icon cn-icon-xs g-bg-gray-200 g-bg-gray-900-h">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="g-mx-5">
                                                <a href="#" class="cn-icon cn-icon-xs g-bg-gray-200 g-bg-gray-900-h">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                            <li class="g-mx-5">
                                                <a href="#" class="cn-icon cn-icon-xs g-bg-gray-200 g-bg-gray-900-h">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- / .team-block -->
                        </div>
                    </div>
            
            
                </div>
                <!-- END Team Carousel -->
        
            </div>
        </section>
        <!-- END Carousels -->
    </div>
    <!-- END Main Content -->

    <!-- Footer -->
    {% include '../_partials/footers/footer-2.html' %}
    <!-- END Footer -->
    
</div>
<!-- END Main Wrapper -->
{% endblock %}
