{% extends '../_partials/cnote-main-layout.html' %}
{% block page-title %}<title>Colors | cNote Responsive Template</title> {% endblock %}

{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper">
    
    <!-- Header -->
    <header id="header" class="cn-header">
        {% include '../_partials/headers/_main-header.html' %}
    </header>
    <!-- END Header -->
    
    <!-- Main Content -->
    <div id="main-content">
        <!-- Page Header -->
        <section class="jumbotron g-py-50 g-bg-gray-100 g-border-b g-border-b-gray-300">
            <div class="container">
                <div class="g-flex-md-middle">
                    <h5 class="text-uppercase">Colors</h5>
                    <nav aria-label="breadcrumb" class="ml-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Components</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Colors</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- END Page Header -->
    
        <!-- Colors -->
        <section class="g-py-70 g-bg-white">
            <div class="container text-center">

                <div class="row g-my-10">
                    <div class="col-lg-3 g-mb-15">
                        <div class="g-p-10 g-mb-10 g-bg-red">Red</div>
                        <div class="g-p-10 g-bg-red-100">Red 100</div>
                        <div class="g-p-10 g-bg-red-200">Red 200</div>
                        <div class="g-p-10 g-bg-red-300">Red 300</div>
                        <div class="g-p-10 g-bg-red-400">Red 400</div>
                        <div class="g-p-10 g-bg-red-500">Red 500</div>
                        <div class="g-p-10 g-bg-red-600">Red 600</div>
                        <div class="g-p-10 g-bg-red-700">Red 700</div>
                        <div class="g-p-10 g-bg-red-800">Red 800</div>
                        <div class="g-p-10 g-bg-red-900">Red 900</div>
                    </div>
                    <div class="col-lg-3 g-mb-15">
                        <div class="g-p-10 g-mb-10 g-bg-pink">Pink</div>
                        <div class="g-p-10 g-bg-pink-100">Pink 100</div>
                        <div class="g-p-10 g-bg-pink-200">Pink 200</div>
                        <div class="g-p-10 g-bg-pink-300">Pink 300</div>
                        <div class="g-p-10 g-bg-pink-400">Pink 400</div>
                        <div class="g-p-10 g-bg-pink-500">Pink 500</div>
                        <div class="g-p-10 g-bg-pink-600">Pink 600</div>
                        <div class="g-p-10 g-bg-pink-700">Pink 700</div>
                        <div class="g-p-10 g-bg-pink-800">Pink 800</div>
                        <div class="g-p-10 g-bg-pink-900">Pink 900</div>
                    </div>
                    <div class="col-lg-3 g-mb-15">
                        <div class="g-p-10 g-mb-10 g-bg-purple">Purple</div>
                        <div class="g-p-10 g-bg-purple-100">Purple 100</div>
                        <div class="g-p-10 g-bg-purple-200">Purple 200</div>
                        <div class="g-p-10 g-bg-purple-300">Purple 300</div>
                        <div class="g-p-10 g-bg-purple-400">Purple 400</div>
                        <div class="g-p-10 g-bg-purple-500">Purple 500</div>
                        <div class="g-p-10 g-bg-purple-600">Purple 600</div>
                        <div class="g-p-10 g-bg-purple-700">Purple 700</div>
                        <div class="g-p-10 g-bg-purple-800">Purple 800</div>
                        <div class="g-p-10 g-bg-purple-900">Purple 900</div>
                    </div>
                    <div class="col-lg-3 g-mb-15">
                        <div class="g-p-10 g-mb-10 g-bg-indigo">Indigo</div>
                        <div class="g-p-10 g-bg-indigo-100">Indigo 100</div>
                        <div class="g-p-10 g-bg-indigo-200">Indigo 200</div>
                        <div class="g-p-10 g-bg-indigo-300">Indigo 300</div>
                        <div class="g-p-10 g-bg-indigo-400">Indigo 400</div>
                        <div class="g-p-10 g-bg-indigo-500">Indigo 500</div>
                        <div class="g-p-10 g-bg-indigo-600">Indigo 600</div>
                        <div class="g-p-10 g-bg-indigo-700">Indigo 700</div>
                        <div class="g-p-10 g-bg-indigo-800">Indigo 800</div>
                        <div class="g-p-10 g-bg-indigo-900">Indigo 900</div>
                    </div>
                </div>
                <div class="row g-my-10">
                    <div class="col-lg-3 g-mb-15">
                        <div class="g-p-10 g-mb-10 g-bg-blue">Blue</div>
                        <div class="g-p-10 g-bg-blue-100">Blue 100</div>
                        <div class="g-p-10 g-bg-blue-200">Blue 200</div>
                        <div class="g-p-10 g-bg-blue-300">Blue 300</div>
                        <div class="g-p-10 g-bg-blue-400">Blue 400</div>
                        <div class="g-p-10 g-bg-blue-500">Blue 500</div>
                        <div class="g-p-10 g-bg-blue-600">Blue 600</div>
                        <div class="g-p-10 g-bg-blue-700">Blue 700</div>
                        <div class="g-p-10 g-bg-blue-800">Blue 800</div>
                        <div class="g-p-10 g-bg-blue-900">Blue 900</div>
                    </div>
                    <div class="col-lg-3 g-mb-15">
                        <div class="g-p-10 g-mb-10 g-bg-cyan">Cyan</div>
                        <div class="g-p-10 g-bg-cyan-100">Cyan 100</div>
                        <div class="g-p-10 g-bg-cyan-200">Cyan 200</div>
                        <div class="g-p-10 g-bg-cyan-300">Cyan 300</div>
                        <div class="g-p-10 g-bg-cyan-400">Cyan 400</div>
                        <div class="g-p-10 g-bg-cyan-500">Cyan 500</div>
                        <div class="g-p-10 g-bg-cyan-600">Cyan 600</div>
                        <div class="g-p-10 g-bg-cyan-700">Cyan 700</div>
                        <div class="g-p-10 g-bg-cyan-800">Cyan 800</div>
                        <div class="g-p-10 g-bg-cyan-900">Cyan 900</div>
                    </div>
                    <div class="col-lg-3 g-mb-15">
                        <div class="g-p-10 g-mb-10 g-bg-teal">Teal</div>
                        <div class="g-p-10 g-bg-teal-100">Teal 100</div>
                        <div class="g-p-10 g-bg-teal-200">Teal 200</div>
                        <div class="g-p-10 g-bg-teal-300">Teal 300</div>
                        <div class="g-p-10 g-bg-teal-400">Teal 400</div>
                        <div class="g-p-10 g-bg-teal-500">Teal 500</div>
                        <div class="g-p-10 g-bg-teal-600">Teal 600</div>
                        <div class="g-p-10 g-bg-teal-700">Teal 700</div>
                        <div class="g-p-10 g-bg-teal-800">Teal 800</div>
                        <div class="g-p-10 g-bg-teal-900">Teal 900</div>
                    </div>
                    <div class="col-lg-3 g-mb-15">
                        <div class="g-p-10 g-mb-10 g-bg-green">Green</div>
                        <div class="g-p-10 g-bg-green-100">Green 100</div>
                        <div class="g-p-10 g-bg-green-200">Green 200</div>
                        <div class="g-p-10 g-bg-green-300">Green 300</div>
                        <div class="g-p-10 g-bg-green-400">Green 400</div>
                        <div class="g-p-10 g-bg-green-500">Green 500</div>
                        <div class="g-p-10 g-bg-green-600">Green 600</div>
                        <div class="g-p-10 g-bg-green-700">Green 700</div>
                        <div class="g-p-10 g-bg-green-800">Green 800</div>
                        <div class="g-p-10 g-bg-green-900">Green 900</div>
                    </div>
                </div>
                <div class="row g-my-10">
                    <div class="col-lg-3 g-mb-15">
                        <div class="g-p-10 g-mb-10 g-bg-yellow">Yellow</div>
                        <div class="g-p-10 g-bg-yellow-100">Yellow 100</div>
                        <div class="g-p-10 g-bg-yellow-200">Yellow 200</div>
                        <div class="g-p-10 g-bg-yellow-300">Yellow 300</div>
                        <div class="g-p-10 g-bg-yellow-400">Yellow 400</div>
                        <div class="g-p-10 g-bg-yellow-500">Yellow 500</div>
                        <div class="g-p-10 g-bg-yellow-600">Yellow 600</div>
                        <div class="g-p-10 g-bg-yellow-700">Yellow 700</div>
                        <div class="g-p-10 g-bg-yellow-800">Yellow 800</div>
                        <div class="g-p-10 g-bg-yellow-900">Yellow 900</div>
                    </div>
                    <div class="col-lg-3 g-mb-15">
                        <div class="g-p-10 g-mb-10 g-bg-orange">Orange</div>
                        <div class="g-p-10 g-bg-orange-100">Orange 100</div>
                        <div class="g-p-10 g-bg-orange-200">Orange 200</div>
                        <div class="g-p-10 g-bg-orange-300">Orange 300</div>
                        <div class="g-p-10 g-bg-orange-400">Orange 400</div>
                        <div class="g-p-10 g-bg-orange-500">Orange 500</div>
                        <div class="g-p-10 g-bg-orange-600">Orange 600</div>
                        <div class="g-p-10 g-bg-orange-700">Orange 700</div>
                        <div class="g-p-10 g-bg-orange-800">Orange 800</div>
                        <div class="g-p-10 g-bg-orange-900">Orange 900</div>
                    </div>
                    <div class="col-lg-3 g-mb-15">
                        <div class="g-p-10 g-mb-10 g-bg-deep-orange">Deep Orange</div>
                        <div class="g-p-10 g-bg-deep-orange-100">Deep Orange 100</div>
                        <div class="g-p-10 g-bg-deep-orange-200">Deep Orange 200</div>
                        <div class="g-p-10 g-bg-deep-orange-300">Deep Orange 300</div>
                        <div class="g-p-10 g-bg-deep-orange-400">Deep Orange 400</div>
                        <div class="g-p-10 g-bg-deep-orange-500">Deep Orange 500</div>
                        <div class="g-p-10 g-bg-deep-orange-600">Deep Orange 600</div>
                        <div class="g-p-10 g-bg-deep-orange-700">Deep Orange 700</div>
                        <div class="g-p-10 g-bg-deep-orange-800">Deep Orange 800</div>
                        <div class="g-p-10 g-bg-deep-orange-900">Deep Orange 900</div>
                    </div>
                    <div class="col-lg-3 g-mb-15">
                        <div class="g-p-10 g-mb-10 g-bg-brown">Brown</div>
                        <div class="g-p-10 g-bg-brown-100">Brown 100</div>
                        <div class="g-p-10 g-bg-brown-200">Brown 200</div>
                        <div class="g-p-10 g-bg-brown-300">Brown 300</div>
                        <div class="g-p-10 g-bg-brown-400">Brown 400</div>
                        <div class="g-p-10 g-bg-brown-500">Brown 500</div>
                        <div class="g-p-10 g-bg-brown-600">Brown 600</div>
                        <div class="g-p-10 g-bg-brown-700">Brown 700</div>
                        <div class="g-p-10 g-bg-brown-800">Brown 800</div>
                        <div class="g-p-10 g-bg-brown-900">Brown 900</div>
                    </div>
                </div>
                <div class="row g-my-40">
                    <div class="col-lg-6 g-mb-15">
                        <div class="g-p-10 g-bg-gray-100">Gray 100</div>
                        <div class="g-p-10 g-bg-gray-200">Gray 200</div>
                        <div class="g-p-10 g-bg-gray-300">Gray 300</div>
                        <div class="g-p-10 g-bg-gray-400">Gray 400</div>
                        <div class="g-p-10 g-bg-gray-500">Gray 500</div>
                        <div class="g-p-10 g-bg-gray-600">Gray 600</div>
                        <div class="g-p-10 g-bg-gray-700">Gray 700</div>
                        <div class="g-p-10 g-bg-gray-800">Gray 800</div>
                        <div class="g-p-10 g-bg-gray-900">Gray 900</div>
                        <div class="g-p-10 g-bg-black">Black</div>
                    </div>
                    <div class="col-lg-6 g-mb-15">
                        <div class="g-p-10 g-bg-bluegray-100">Bluegray 100</div>
                        <div class="g-p-10 g-bg-bluegray-200">Bluegray 200</div>
                        <div class="g-p-10 g-bg-bluegray-300">Bluegray 300</div>
                        <div class="g-p-10 g-bg-bluegray-400">Bluegray 400</div>
                        <div class="g-p-10 g-bg-bluegray-500">Bluegray 500</div>
                        <div class="g-p-10 g-bg-bluegray-600">Bluegray 600</div>
                        <div class="g-p-10 g-bg-bluegray-700">Bluegray 700</div>
                        <div class="g-p-10 g-bg-bluegray-800">Bluegray 800</div>
                        <div class="g-p-10 g-bg-bluegray-900">Bluegray 900</div>
                        <div class="g-p-10 g-bg-black">Black</div>
                    </div>
                </div>
                
            </div>
        </section>
        <!-- END Colors -->
    </div>
    <!-- END Main Content -->
    
    <!-- Footer -->
    {% include '../_partials/footers/footer-1-light.html' %}
    <!-- END Footer -->
    
</div>
<!-- END Main Wrapper -->
{% endblock %}
