{% extends '../_partials/cnote-main-layout.html' %}
{% block page-title %}<title>Counters | cNote Responsive Template</title> {% endblock %}

{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper">
    
    <!-- Header -->
    <header id="header" class="cn-header">
        {% include '../_partials/headers/_main-header.html' %}
    </header>
    <!-- END Header -->
    
    <!-- Main Content -->
    <div id="main-content">
        <!-- Page Header -->
        <section class="jumbotron g-py-50 g-bg-gray-100 g-border-b g-border-b-gray-300">
            <div class="container">
                <div class="g-flex-md-middle">
                    <h5 class="text-uppercase">Counters</h5>
                    <nav aria-label="breadcrumb" class="ml-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Components</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Counters</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- END Page Header -->
    
        <!-- Counters -->
        <section class="g-py-70 g-bg-white">
            <div class="container">
            
                <!-- Counter Style 1 -->
                <h6 class= "text-uppercase font-weight-bold g-mb-10 text-center text-lg-left">Counter Version 1</h6>
                <div class="g-bg-white g-border g-border-gray-300 g-mb-100 g-py-40 g-shadow-v1">
                    <div class="counters v1">
                        <div class="row">
                            <!-- Counter 1 -->
                            <div class="col-lg-3 text-center">
                                <div class="counter-wrapper g-px-20 g-my-20 g-rounded-5">
                                    <div class="counter-icon g-bg-white g-text-gray-600 g-rounded-5">
                                        <i class="fa fa-image g-font-size-25"></i>
                                    </div>
                                    <div class="counter-text">
                                        <h5 class="g-font-size-25 g-text-gray-800 countup" data-counter="593">593</h5>
                                        <p class="g-text-gray-800">Projects</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Counter 2 -->
                            <div class="col-lg-3 text-center">
                                <div class="counter-wrapper g-px-20 g-my-20 g-rounded-5">
                                    <div class="counter-icon g-bg-white g-text-gray-600 g-rounded-5">
                                        <i class="fa fa-coffee g-font-size-25"></i>
                                    </div>
                                    <div class="counter-text">
                                        <h5 class="g-font-size-25 g-text-gray-800 countup" data-counter="1631">1631</h5>
                                        <p class="g-text-gray-800">Coffees</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Counter 3 -->
                            <div class="col-lg-3 text-center">
                                <div class="counter-wrapper g-px-20 g-my-20 g-rounded-5">
                                    <div class="counter-icon g-bg-white g-text-gray-600 g-rounded-5">
                                        <i class="fa fa-code g-font-size-25"></i>
                                    </div>
                                    <div class="counter-text">
                                        <h5 class="g-font-size-25 g-text-gray-800 countup" data-counter="42535">42535</h5>
                                        <p class="g-text-gray-800">Code Lines</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Counter 4 -->
                            <div class="col-lg-3 text-center">
                                <div class="counter-wrapper g-px-20 g-my-20 g-rounded-5">
                                    <div class="counter-icon g-bg-white g-text-gray-600 g-rounded-5">
                                        <i class="fa fa-user g-font-size-25"></i>
                                    </div>
                                    <div class="counter-text">
                                        <h5 class="g-font-size-25 g-text-gray-800 countup" data-counter="1288">1288</h5>
                                        <p class="g-text-gray-800">Users satisfied</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Counter Style 1 -->
                
                <!-- Counter Style 2 -->
                <h6 class= "text-uppercase font-weight-bold g-mb-10 text-center text-lg-left">Counter Version 2</h6>
                <div class="counters v2 g-bg-white g-border g-border-gray-300 g-mb-100 g-shadow-v1">
                    <div class="row">
                        <!-- Counter 1 -->
                        <div class="col-lg-3 text-center">
                            <div class="counter-wrapper g-py-50 g-border-lg-r g-border-r-gray-300">
                                <div class="icon g-mb-15 g-text-gray-600">
                                    <i class="fa fa-image g-font-size-25"></i>
                                </div>
                                <div class="g-font-size-25 g-text-gray-800 countup" data-counter="593">593</div>
                                <p class="g-text-gray-800">Projects</p>
                            </div>
                        </div>
                        <!-- Counter 2 -->
                        <div class="col-lg-3 text-center">
                            <div class="counter-wrapper g-py-50 g-border-lg-r g-border-r-gray-300">
                                <div class="icon g-mb-15 g-text-gray-600">
                                    <i class="fa fa-coffee g-font-size-25"></i>
                                </div>
                                <div class="g-font-size-25 g-text-gray-800 countup" data-counter="1631">1631</div>
                                <p class="g-text-gray-800">Coffees</p>
                            </div>
                        </div>
                        <!-- Counter 3 -->
                        <div class="col-lg-3 text-center">
                            <div class="counter-wrapper g-py-50 g-border-lg-r g-border-r-gray-300">
                                <div class="icon g-mb-15 g-text-gray-600">
                                    <i class="fa fa-code g-font-size-25"></i>
                                </div>
                                <div class="g-font-size-25 g-text-gray-800 countup" data-counter="42535">42535</div>
                                <p class="g-text-gray-800">Code Lines</p>
                            </div>
                        </div>
                        <!-- Counter 4 -->
                        <div class="col-lg-3 text-center">
                            <div class="counter-wrapper g-py-50">
                                <div class="icon g-mb-15 g-text-gray-600">
                                    <i class="fa fa-user g-font-size-25"></i>
                                </div>
                                <div class="g-font-size-25 g-text-gray-800 countup" data-counter="1288">1288</div>
                                <p class="g-text-gray-800">Users satisfied</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Counter Style 2 -->
                
                <!-- Counter Style 3 -->
                <h6 class= "text-uppercase font-weight-bold g-mb-10 text-center text-lg-left">Counter Version 3</h6>
                <div class="counters v3 g-bg-white g-border g-border-gray-300 g-mb-100 g-shadow-v1">
                    <div class="row">
                        <div class="col-lg-3 text-center">
                            <div class="counter-wrapper g-py-50 g-border-lg-r g-border-r-gray-300">
                                <div class="g-font-size-25 g-text-gray-800 countup" data-counter="593">593</div>
                                <p class="g-text-gray-800">Projects</p>
                            </div>
                        </div>
                        <div class="col-lg-3 text-center">
                            <div class="counter-wrapper g-py-50 g-border-lg-r g-border-r-gray-300">
                                <div class="g-font-size-25 g-text-gray-800 countup" data-counter="1631">1631</div>
                                <p class="g-text-gray-800">Coffees</p>
                            </div>
                        </div>
                        <div class="col-lg-3 text-center">
                            <div class="counter-wrapper g-py-50 g-border-lg-r g-border-r-gray-300">
                                <div class="g-font-size-25 g-text-gray-800 countup" data-counter="42535">42535</div>
                                <p class="g-text-gray-800">Code Lines</p>
                            </div>
                        </div>
                        <div class="col-lg-3 text-center">
                            <div class="counter-wrapper g-py-50">
                                <div class="g-font-size-25 g-text-gray-800 countup" data-counter="1288">1288</div>
                                <p class="g-text-gray-800">Users satisfied</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Counter Style 3 -->
                
            </div>
        </section>
        <!-- END Counters -->
    </div>
    <!-- END Main Content -->
    
    <!-- Footer -->
    {% include '../_partials/footers/footer-1.html' %}
    <!-- END Footer -->
    
</div>
<!-- END Main Wrapper -->
{% endblock %}
