{% extends '../_partials/cnote-main-layout.html' %}
{% block page-title %}<title>Gallery | cNote Responsive Template</title> {% endblock %}

{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper">
    
    <!-- Header -->
    <header id="header" class="cn-header">
        {% include '../_partials/headers/_main-header.html' %}
    </header>
    <!-- END Header -->
    
    <!-- Main Content -->
    <div id="main-content">
    
        <!-- Page Header -->
        <section class="jumbotron g-py-50 g-bg-gray-100 g-border-b g-border-b-gray-300">
            <div class="container">
                <div class="g-flex-md-middle">
                    <h5 class="text-uppercase">Gallery</h5>
                    <nav aria-label="breadcrumb" class="ml-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Components</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Gallery</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- END Page Header -->
    
        <!-- Gallery -->
        <section class="g-py-70 g-bg-white">
           
            <div class="container">
                <!-- Gallery 1 -->
                <h5 class="text-uppercase font-weight-bold g-mb-10 text-center text-md-left">Gallery #1 ( no gutter )</h5>
                <div class="g-bg-white g-mb-100">
                    <div class="gallery images-gallery left-overlay">
                        <div class="row no-gutters">
                            
                            <div class="col-md-4">
                                <div class="gallery-item caption position-relative">
                                    <a href="http://via.placeholder.com/900x600/eee/777" class="popup-img" data-effect="mfp-move-from-top">
                                        <div class="caption-default ">
                                            <img src="http://via.placeholder.com/900x600/eee/777" alt="Image Description">
                                        </div>
                                        <div class="caption-active g-bg-primary-opacity-8">
                                            <div class="h-100 g-flex-center g-px-20">
                                                <i class="fa fa-image g-font-size-30 text-white" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="gallery-item caption position-relative">
                                    <a href="http://via.placeholder.com/900x600/ddd/777" class="popup-img" data-effect="mfp-move-from-top">
                                        <div class="caption-default ">
                                            <img src="http://via.placeholder.com/900x600/ddd/777" alt="Image Description">
                                        </div>
                                        <div class="caption-active g-bg-primary-opacity-8">
                                            <div class="h-100 g-flex-center g-px-20">
                                                <i class="fa fa-image g-font-size-30 text-white" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="gallery-item caption position-relative">
                                    <a href="http://via.placeholder.com/900x600/eee/777" class="popup-img" data-effect="mfp-move-from-top">
                                        <div class="caption-default ">
                                            <img src="http://via.placeholder.com/900x600/eee/777" alt="Image Description">
                                        </div>
                                        <div class="caption-active g-bg-primary-opacity-8">
                                            <div class="h-100 g-flex-center g-px-20">
                                                <i class="fa fa-image g-font-size-30 text-white" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="gallery-item caption">
                                    <a href="http://via.placeholder.com/900x600/ddd/777" class="popup-img" data-effect="mfp-move-from-top">
                                        <div class="caption-default ">
                                            <img src="http://via.placeholder.com/900x600/ddd/777" alt="Image Description">
                                        </div>
                                        <div class="caption-active g-bg-primary-opacity-8">
                                            <div class="h-100 g-flex-center g-px-20">
                                                <i class="fa fa-image g-font-size-30 text-white" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="gallery-item caption">
                                    <a href="http://via.placeholder.com/900x600/eee/777" class="popup-img" data-effect="mfp-move-from-top">
                                        <div class="caption-default ">
                                            <img src="http://via.placeholder.com/900x600/eee/777" alt="Image Description">
                                        </div>
                                        <div class="caption-active g-bg-primary-opacity-8">
                                            <div class="h-100 g-flex-center g-px-20">
                                                <i class="fa fa-image g-font-size-30 text-white" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="gallery-item caption">
                                    <a href="http://via.placeholder.com/900x600/ddd/777" class="popup-img" data-effect="mfp-move-from-top">
                                        <div class="caption-default ">
                                            <img src="http://via.placeholder.com/900x600/ddd/777" alt="Image Description">
                                        </div>
                                        <div class="caption-active g-bg-primary-opacity-8">
                                            <div class="h-100 g-flex-center g-px-20">
                                                <i class="fa fa-image g-font-size-30 text-white" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Gallery 1 -->
                
                <!-- Gallery 2 -->
                <h5 class="text-uppercase font-weight-bold g-mb-10 text-center text-md-left">Gallery #2 ( with gutter )</h5>
                <div class="g-bg-white g-mb-100 ">
                    <div class="gallery images-gallery left-overlay">
                        <div class="row">
                
                            <div class="col-md-4 g-mb-10">
                                <div class="gallery-item caption">
                                    <a href="http://via.placeholder.com/900x600/eee/777" class="popup-img" data-effect="mfp-move-from-top">
                                        <div class="caption-default ">
                                            <img src="http://via.placeholder.com/900x600/eee/777" alt="Image Description">
                                        </div>
                                        <div class="caption-active g-bg-primary-opacity-8">
                                            <div class="h-100 g-flex-center g-px-20">
                                                <i class="fa fa-image g-font-size-30 text-white" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                
                            <div class="col-md-4 g-mb-10">
                                <div class="gallery-item caption">
                                    <a href="http://via.placeholder.com/900x600/eee/777" class="popup-img" data-effect="mfp-move-from-top">
                                        <div class="caption-default ">
                                            <img src="http://via.placeholder.com/900x600/eee/777" alt="Image Description">
                                        </div>
                                        <div class="caption-active g-bg-primary-opacity-8">
                                            <div class="h-100 g-flex-center g-px-20">
                                                <i class="fa fa-image g-font-size-30 text-white" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                
                            <div class="col-md-4 g-mb-10">
                                <div class="gallery-item caption">
                                    <a href="http://via.placeholder.com/900x600/eee/777" class="popup-img" data-effect="mfp-move-from-top">
                                        <div class="caption-default ">
                                            <img src="http://via.placeholder.com/900x600/eee/777" alt="Image Description">
                                        </div>
                                        <div class="caption-active g-bg-primary-opacity-8">
                                            <div class="h-100 g-flex-center g-px-20">
                                                <i class="fa fa-image g-font-size-30 text-white" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                
                            <div class="col-md-4 g-mb-10">
                                <div class="gallery-item caption">
                                    <a href="http://via.placeholder.com/900x600/eee/777" class="popup-img" data-effect="mfp-move-from-top">
                                        <div class="caption-default ">
                                            <img src="http://via.placeholder.com/900x600/eee/777" alt="Image Description">
                                        </div>
                                        <div class="caption-active g-bg-primary-opacity-8">
                                            <div class="h-100 g-flex-center g-px-20">
                                                <i class="fa fa-image g-font-size-30 text-white" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                
                            <div class="col-md-4 g-mb-10">
                                <div class="gallery-item caption">
                                    <a href="http://via.placeholder.com/900x600/eee/777" class="popup-img" data-effect="mfp-move-from-top">
                                        <div class="caption-default ">
                                            <img src="http://via.placeholder.com/900x600/eee/777" alt="Image Description">
                                        </div>
                                        <div class="caption-active g-bg-primary-opacity-8">
                                            <div class="h-100 g-flex-center g-px-20">
                                                <i class="fa fa-image g-font-size-30 text-white" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                
                            <div class="col-md-4 g-mb-10">
                                <div class="gallery-item caption">
                                    <a href="http://via.placeholder.com/900x600/eee/777" class="popup-img" data-effect="mfp-move-from-top">
                                        <div class="caption-default ">
                                            <img src="http://via.placeholder.com/900x600/eee/777" alt="Image Description">
                                        </div>
                                        <div class="caption-active g-bg-primary-opacity-8">
                                            <div class="h-100 g-flex-center g-px-20">
                                                <i class="fa fa-image g-font-size-30 text-white" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Gallery 2 -->
                
                <!-- Masonry Grid -->
                <h5 class="text-uppercase font-weight-bold g-mb-10 text-center text-md-left">Masonry</h5>
                <div class="grid g-mb-100 zoom">
                    <div class="grid-sizer grid-item-w-20"></div>
                    
                    <div class="grid-item grid-item-w-20">
                        <div class="caption">
                            <div class="caption-default">
                                <img src="http://via.placeholder.com/900x600/e6e6e6/777" class="img-fluid" alt="Image Description">
                            </div>
                            <a href="#">
                                <div class="caption-active g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-plus text-white g-font-size-30"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item grid-item-w-20">
                        <div class="caption">
                            <div class="caption-default">
                                <img src="http://via.placeholder.com/900x600/eee/777" class="img-fluid" alt="Image Description">
                            </div>
                            <a href="#">
                                <div class="caption-active g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-plus text-white g-font-size-30"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item grid-item-w-60">
                        <div class="caption">
                            <div class="caption-default">
                                <img src="http://via.placeholder.com/900x600/e6e6e6/777" class="img-fluid" alt="Image Description">
                            </div>
                            <a href="#">
                                <div class="caption-active g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-plus text-white g-font-size-30"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item grid-item-w-40">
                        <div class="caption">
                            <div class="caption-default">
                                <img src="http://via.placeholder.com/900x600/ddd/777" class="img-fluid" alt="Image Description">
                            </div>
                            <a href="#">
                                <div class="caption-active g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-plus text-white g-font-size-30"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item grid-item-w-60">
                        <div class="caption">
                            <div class="caption-default">
                                <img src="http://via.placeholder.com/900x600/eee/777" class="img-fluid" alt="Image Description">
                            </div>
                            <a href="#">
                                <div class="caption-active g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-plus text-white g-font-size-30"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item grid-item-w-20">
                        <div class="caption">
                            <div class="caption-default">
                                <img src="http://via.placeholder.com/900x600/eee/777" class="img-fluid" alt="Image Description">
                            </div>
                            <a href="#">
                                <div class="caption-active g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-plus text-white g-font-size-30"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item grid-item-w-20">
                        <div class="caption">
                            <div class="caption-default">
                                <img src="http://via.placeholder.com/900x600/ddd/777" class="img-fluid" alt="Image Description">
                            </div>
                            <a href="#">
                                <div class="caption-active g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-plus text-white g-font-size-30"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item grid-item-w-20">
                        <div class="caption">
                            <div class="caption-default">
                                <img src="http://via.placeholder.com/900x600/e6e6e6/777" class="img-fluid" alt="Image Description">
                            </div>
                            <a href="#">
                                <div class="caption-active g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-plus text-white g-font-size-30"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item grid-item-w-20">
                        <div class="caption">
                            <div class="caption-default">
                                <img src="http://via.placeholder.com/900x600/eee/777" class="img-fluid" alt="Image Description">
                            </div>
                            <a href="#">
                                <div class="caption-active g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-plus text-white g-font-size-30"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item grid-item-w-20">
                        <div class="caption">
                            <div class="caption-default">
                                <img src="http://via.placeholder.com/900x600/eee/777" class="img-fluid" alt="Image Description">
                            </div>
                            <a href="#">
                                <div class="caption-active g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-plus text-white g-font-size-30"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item grid-item-w-20">
                        <div class="caption">
                            <div class="caption-default">
                                <img src="http://via.placeholder.com/900x600/ddd/777" class="img-fluid" alt="Image Description">
                            </div>
                            <a href="#">
                                <div class="caption-active g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-plus text-white g-font-size-30"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- END Masonry Grid -->
    
                <!-- Gallery 4 -->
                <h5 class="text-uppercase font-weight-bold g-mb-10 text-center text-md-left">Gallery 4</h5>
                <div class="work-wrapper gallery images-gallery g-py-20 g-mb-100 zoom">
                    <div class="row">
                        <!-- Portfolio 1 -->
                        <div class="col-md-6  g-mb-10 g-mb-md-0">
                            <div class="g-p-5 g-border g-border-gray-300 g-shadow-v1">
                                <div class="caption">
                                    <div class="caption-default">
                                        <img class="img-fluid" src="http://via.placeholder.com/900x600/eee/777" alt="Image Description">
                                    </div>
                                    <div class="caption-active g-bg-primary-opacity-6">
                                        <div class="h-100 g-flex-center g-px-20 text-white">
                                            <div>
                                                <a href="../pages/portfolio-single.html" class="cn-icon cn-icon-light g-mr-15 g-rounded-50" target="_blank"><i class="fa fa-link g-font-size-20" aria-hidden="true"></i></a>
                                                <a href="http://via.placeholder.com/900x600/eee/777" class="popup-img cn-icon cn-icon-light g-mr-15 g-rounded-50" data-effect="mfp-move-from-top">
                                                    <i class="fa fa-search-plus g-font-size-20" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-description text-center g-m-0 g-py-25 g-bg-gray-100 text-dark">
                                    <p class="font-weight-bold text-gray-500">Standard Project Title</p>
                                    <p class="font-italic">Photography</p>
                                </div>
                            </div>
                        </div>
                        <!-- END Portfolio 1 -->
            
                        <!-- Portfolio 2 -->
                        <div class="col-md-6  g-mb-10 g-mb-md-0">
                            <div class="g-p-5 g-border g-border-gray-300 g-shadow-v1">
                                <div class="caption">
                                    <div class="caption-default">
                                        <img class="img-fluid" src="http://via.placeholder.com/900x600/eee/777.jpg" alt="Image Description">
                                    </div>
                                    <div class="caption-active g-bg-primary-opacity-6">
                                        <div class="h-100 g-flex-center g-px-20 text-white">
                                            <div>
                                                <a href="../pages/portfolio-single.html" class="cn-icon cn-icon-light g-mr-15 g-rounded-50" target="_blank"><i class="fa fa-link g-font-size-20" aria-hidden="true"></i></a>
                                                <a href="http://via.placeholder.com/900x600/eee/777" class="popup-img cn-icon cn-icon-light g-mr-15 g-rounded-50" data-effect="mfp-move-from-top">
                                                    <i class="fa fa-search-plus g-font-size-20" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-description text-center g-m-0 g-py-25 g-bg-gray-100 text-dark">
                                    <p class="font-weight-bold text-gray-500">Standard Project Title</p>
                                    <p class="font-italic">Website</p>
                                </div>
                            </div>
                        </div>
                        <!-- END Portfolio 2 -->
            
                        <!-- Portfolio 3 -->
                        <div class="col-md-6  g-mb-10 g-mb-md-0 g-mt-md-50">
                            <div class="g-p-5 g-border g-border-gray-300 g-shadow-v1">
                                <div class="caption">
                                    <div class="caption-default">
                                        <img class="img-fluid" src="http://via.placeholder.com/900x600/eee/777" alt="Image Description">
                                    </div>
                                    <div class="caption-active g-bg-primary-opacity-6">
                                        <div class="h-100 g-flex-center g-px-20 text-white">
                                            <div>
                                                <a href="../pages/portfolio-single.html" class="cn-icon cn-icon-light g-mr-15 g-rounded-50" target="_blank"><i class="fa fa-link g-font-size-20" aria-hidden="true"></i></a>
                                                <a href="http://via.placeholder.com/900x600/eee/777" class="popup-img cn-icon cn-icon-light g-mr-15 g-rounded-50" data-effect="mfp-move-from-top">
                                                    <i class="fa fa-search-plus g-font-size-20" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-description text-center g-m-0 g-py-25 g-bg-gray-100 text-dark">
                                    <p class="font-weight-bold text-gray-500">Standard Project Title</p>
                                    <p class="font-italic">Design</p>
                                </div>
                            </div>
                        </div>
                        <!-- END Portfolio 3 -->
            
                        <!-- Portfolio 4 -->
                        <div class="col-md-6  g-mb-10 g-mb-md-0 g-mt-md-50">
                            <div class="g-p-5 g-border g-border-gray-300 g-shadow-v1">
                                <div class="caption">
                                    <div class="caption-default">
                                        <img class="img-fluid" src="http://via.placeholder.com/900x600/eee/777" alt="Image Description">
                                    </div>
                                    <div class="caption-active g-bg-primary-opacity-6">
                                        <div class="h-100 g-flex-center g-px-20 text-white">
                                            <div>
                                                <a href="../pages/portfolio-single.html" class="cn-icon cn-icon-light g-mr-15 g-rounded-50" target="_blank"><i class="fa fa-link g-font-size-20" aria-hidden="true"></i></a>
                                                <a href="http://via.placeholder.com/900x600/eee/777" class="popup-img cn-icon cn-icon-light g-mr-15 g-rounded-50" data-effect="mfp-move-from-top">
                                                    <i class="fa fa-search-plus g-font-size-20" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-description text-center g-m-0 g-py-25 g-bg-gray-100 text-dark">
                                    <p class="font-weight-bold text-gray-500">Standard Project Title</p>
                                    <p class="font-italic">UX Design</p>
                                </div>
                            </div>
                        </div>
                        <!-- END Portfolio 4 -->
        
                    </div> <!-- / .row -->
                </div>
                <!-- END Gallery 4 -->
                
            </div>
        </section>
        <!-- END Gallery -->

    </div>
    <!-- END Main Content -->
    
    <!-- Footer -->
    {% include '../_partials/footers/footer-3.html' %}
    <!-- END Footer -->

</div>
<!-- END Main Wrapper -->
{% endblock %}
