{% extends '../_partials/cnote-main-layout.html' %}
{% block page-title %}<title>Pricing Tables | cNote Responsive Template</title> {% endblock %}

{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper">
    
    <!-- Header -->
    <header id="header" class="cn-header">
        {% include '../_partials/headers/_main-header.html' %}
    </header>
    <!-- END Header -->
    
    <!-- Main Content -->
    <div id="main-content">
        
        <!-- Page Header -->
        <section class="jumbotron g-py-50 g-bg-gray-100 g-border-b g-border-b-gray-300">
            <div class="container">
                <div class="g-flex-md-middle">
                    <h5 class="text-uppercase">Pricing Tables</h5>
                    <nav aria-label="breadcrumb" class="ml-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Components</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Pricing Tables</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- END Page Header -->

        <section class="g-py-100">
            <div class="container">
                
                <!-- Pricing Plan v1 -->
                <div class="g-mb-100">
                    <h5 class="text-uppercase font-weight-bold g-mb-30 g-px-7 text-center text-md-left">Pricing Plan <span class="g-text-primary">#</span>1</h5>
                    <div class="row justify-content-center">

                        <div class="col-sm-8 col-md-6 col-lg-3 g-pb-20 g-pb-lg-0">
                            <div class="plan g-bg-white g-border g-border-gray-300 g-shadow-v2 g-p-30 text-center g-rounded-5">

                                <div class="g-border-b g-border-gray-300 g-py-15">
                                    <h4 class="text-uppercase g-mb-10"><span class="text-primary">Basic</span> Plan</h4>
                                </div>

                                <ul class="list-unstyled g-mt-20 g-mb-70">
                                    <li class="g-mb-10">50GB Storage</li>
                                    <li class="g-mb-10">Unlimited Members</li>
                                    <li class="g-mb-10">10 Projects</li>
                                    <li class="g-mb-10">Admin Area</li>
                                    <li class="g-mb-10">3 Months Support</li>
                                </ul>
                                <div class="g-border-t g-border-b g-border-gray-300 g-py-15">
                                    <p>$ <span class="price font-weight-bold">10</span> /month</p>
                                </div>
                                <a href="#" class="btn cn-btn-outline-primary g-rounded-50 g-mt-20">Choose Price</a>
                            </div>
                        </div>

                        <div class="col-sm-8 col-md-6 col-lg-3 g-pb-20 g-pb-lg-0">
                            <div class="plan recommended-plan g-bg-white g-border g-border-gray-300 g-shadow-v2 g-p-30 text-center g-rounded-5">

                                <div class="g-border-b g-border-gray-300 g-py-15">
                                    <h4 class="text-uppercase g-mb-10"><span class="text-primary">Medium</span> Plan</h4>
                                </div>

                                <ul class="list-unstyled g-mt-20 g-mb-70">
                                    <li class="g-mb-10">100GB Storage</li>
                                    <li class="g-mb-10">Unlimited Members</li>
                                    <li class="g-mb-10">20 Projects</li>
                                    <li class="g-mb-10">Admin Area</li>
                                    <li class="g-mb-10">6 Months Support</li>
                                </ul>
                                <div class="g-border-t g-border-b g-border-gray-300 g-py-15">
                                    <p>$ <span class="price font-weight-bold">20</span> /month</p>
                                </div>
                                <a href="#" class="btn cn-btn-primary g-rounded-50 g-mt-20">Choose Price</a>
                            </div>
                        </div>

                        <div class="col-sm-8 col-md-6 col-lg-3 g-pb-20 g-pb-lg-0">
                            <div class="plan g-bg-white g-border g-border-gray-300 g-shadow-v2 g-p-30 text-center g-rounded-5">

                                <div class="g-border-b g-border-gray-300 g-py-15">
                                    <h4 class="text-uppercase g-mb-10"><span class="text-primary">Pro</span> Plan</h4>
                                </div>

                                <ul class="list-unstyled g-mt-20 g-mb-70">
                                    <li class="g-mb-10">500GB Storage</li>
                                    <li class="g-mb-10">Unlimited Members</li>
                                    <li class="g-mb-10">40 Projects</li>
                                    <li class="g-mb-10">Admin Area</li>
                                    <li class="g-mb-10">9 Months Support</li>
                                </ul>
                                <div class="g-border-t g-border-b g-border-gray-300 g-py-15">
                                    <p>$ <span class="price font-weight-bold">40</span> /month</p>
                                </div>
                                <a href="#" class="btn cn-btn-outline-primary g-rounded-50 g-mt-20">Choose Price</a>
                            </div>
                        </div>

                        <div class="col-sm-8 col-md-6 col-lg-3">
                            <div class="plan g-bg-white g-border g-border-gray-300 g-shadow-v2 g-p-30 text-center g-rounded-5">

                                <div class="g-border-b g-border-gray-300 g-py-15">
                                    <h4 class="text-uppercase g-mb-10"><span class="text-primary">Premium</span> Plan</h4>
                                </div>

                                <ul class="list-unstyled g-mt-20 g-mb-70">
                                    <li class="g-mb-10">1TB Storage</li>
                                    <li class="g-mb-10">Unlimited Members</li>
                                    <li class="g-mb-10">60 Projects</li>
                                    <li class="g-mb-10">Admin Area</li>
                                    <li class="g-mb-10">12 Months Support</li>
                                </ul>
                                <div class="g-border-t g-border-b g-border-gray-300 g-py-15">
                                    <p>$ <span class="price font-weight-bold">50</span> /month</p>
                                </div>
                                <a href="#" class="btn cn-btn-outline-primary g-rounded-50 g-mt-20">Choose Price</a>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- END Pricing Plan v1 -->
    
                <!-- Pricing Plan v2 + Ribbon-->
                <div class="g-mb-100">
                    <h5 class="text-uppercase font-weight-bold g-mb-30 g-px-7 text-center text-md-left">Pricing Plan <span class="g-text-primary">#</span>2 with ribbon</h5>
                    <div class="row justify-content-center">

                        <div class="col-sm-8 col-lg-4 g-pb-20 g-pb-lg-0">
                            <div class="plan g-bg-white g-border g-border-gray-300 g-shadow-v2 g-p-30 text-center g-rounded-5">
                                
                                <div class="g-border-b g-border-gray-300 g-py-15">
                                    <h4 class="text-uppercase g-mb-10"><span class="text-primary">Basic</span> Plan</h4>
                                </div>

                                <ul class="list-unstyled g-mt-20 g-mb-70">
                                    <li class="g-mb-10"><span class="font-weight-bold">50GB</span> Storage</li>
                                    <li class="g-mb-10"><span class="font-weight-bold">Unlimited</span> Members</li>
                                    <li class="g-mb-10"><span class="font-weight-bold">10</span> Projects</li>
                                    <li class="g-mb-10"><span class="font-weight-bold">Admin</span> Area</li>
                                    <li class="g-mb-10"><span class="font-weight-bold">3</span> Months Support</li>
                                </ul>
                                <div class="g-border-t g-border-b g-border-gray-300 g-py-15">
                                    <p>$ <span class="price font-weight-bold">10</span> /month</p>
                                </div>
                                <a href="#" class="btn cn-btn-outline-primary g-rounded-50 g-mt-20">Choose Price</a>
                            </div>
                        </div>

                        <div class="col-sm-8 col-lg-4 g-pb-20 g-pb-lg-0">
                            <div class="plan recommended-plan box g-bg-white g-border g-border-gray-300 g-shadow-v2 g-p-30 text-center g-rounded-5">

                                <div class="ribbon"><span>Recommended</span></div>

                                <div class="g-border-b g-border-gray-300 g-py-15">
                                    <h4 class="text-uppercase g-mb-10"><span class="text-primary">Medium</span> Plan</h4>
                                </div>

                                <ul class="list-unstyled g-mt-20 g-mb-70">
                                    <li class="g-mb-10"><span class="font-weight-bold">100GB</span> Storage</li>
                                    <li class="g-mb-10"><span class="font-weight-bold">Unlimited</span> Members</li>
                                    <li class="g-mb-10"><span class="font-weight-bold">20</span> Projects</li>
                                    <li class="g-mb-10"><span class="font-weight-bold">Admin</span> Area</li>
                                    <li class="g-mb-10"><span class="font-weight-bold">6</span> Months Support</li>
                                </ul>
                                <div class="g-border-t g-border-b g-border-gray-300 g-py-15">
                                    <p>$ <span class="price font-weight-bold">25</span> /month</p>
                                </div>
                                <a href="#" class="btn cn-btn-primary g-rounded-50 g-mt-20">Choose Price</a>

                            </div>
                        </div>

                        <div class="col-sm-8 col-lg-4 g-pb-20 g-pb-lg-0">
                            <div class="plan g-bg-white g-border g-border-gray-300 g-shadow-v2 g-p-30 text-center g-rounded-5">

                                <div class="g-border-b g-border-gray-300 g-py-15">
                                    <h4 class="text-uppercase g-mb-10"><span class="text-primary">Pro</span> Plan</h4>
                                </div>

                                <ul class="list-unstyled g-mt-20 g-mb-70">
                                    <li class="g-mb-10"><span class="font-weight-bold">500GB</span> Storage</li>
                                    <li class="g-mb-10"><span class="font-weight-bold">Unlimited</span> Members</li>
                                    <li class="g-mb-10"><span class="font-weight-bold">50</span> Projects</li>
                                    <li class="g-mb-10"><span class="font-weight-bold">Admin</span> Area</li>
                                    <li class="g-mb-10"><span class="font-weight-bold">9</span> Months Support</li>
                                </ul>
                                <div class="g-border-t g-border-b g-border-gray-300 g-py-15">
                                    <p>$ <span class="price font-weight-bold">40</span> /month</p>
                                </div>
                                <a href="#" class="btn cn-btn-outline-primary g-rounded-50 g-mt-20">Choose Price</a>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- END Pricing Plan v2 -->
    
                <!-- Pricing Plan v3 -->
                <div class="g-mb-100">
                    <h5 class="text-uppercase font-weight-bold g-mb-30 g-px-7 text-center text-md-left">Pricing Plan <span class="g-text-primary">#</span>3</h5>
                    <div class="row justify-content-center no-gutters align-items-end">
                        <div class="col-sm-8 col-md-4 col-lg-3 g-mb-50 g-border g-border-gray-300 d-none d-lg-block">
                            <div class="g-p-35">
                                <ul class="list-unstyled">
                                    <li class="g-border-b g-border-gray-300 g-py-10">
                                        Price
                                    </li>
                                    <li class="g-border-b g-border-gray-300 g-py-10">
                                        400+ pages
                                    </li>
                                    <li class="g-border-b g-border-gray-300 g-py-10">
                                        1610+ elements
                                    </li>
                                    <li class="g-border-b g-border-gray-300 g-py-10">
                                        24/7 support
                                    </li>
                                    <li class="g-border-b g-border-gray-300 g-py-10">
                                        Online support
                                    </li>
                                    <li class="g-border-b g-border-gray-300 g-py-10">
                                        Unlimited traffic
                                    </li>
                                    <li class="g-py-15">
                                        Unlimited domain
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-4 col-lg-3">
                            <div class="plan text-center g-pb-50">
                                <h4 class="g-p-30 g-bg-primary">Normal
                                    <span>License</span>
                                </h4>

                                <ul class="list-unstyled g-pb-40 g-px-20 g-border-l g-border-b g-border-r g-border-md-r-0 g-border-lg-l-0 g-border-gray-300">
                                    <li class="g-py-15">
                                        <span class="g-font-size-20 align-top">$</span>
                                        <span class="font-weight-bold g-font-size-40">60</span>
                                    </li>
                                    <li class="g-py-10 d-flex d-lg-block justify-content-between justify-content-start">
                                        <span class="d-lg-none">400+ pages</span>
                                        <span><i class="fa fa-check g-text-cyan g-mx-10"></i></span>
                                    </li>
                                    <li class="g-py-10 d-flex d-lg-block justify-content-between justify-content-start">
                                        <span class="d-lg-none">1610+ elements</span>
                                        <span><i class="fa fa-check g-text-cyan g-mx-10"></i></span>
                                    </li>

                                    <li class="g-py-10 d-flex d-lg-block justify-content-between justify-content-start">
                                        <span class="d-lg-none">24/7 support</span>
                                        <span><i class="fa fa-check g-text-cyan g-mx-10"></i></span>
                                    </li>

                                    <li class="g-py-10 d-flex d-lg-block justify-content-between justify-content-start">
                                        <span class="d-lg-none">Online support</span>
                                        <span><i class="fa fa-check g-text-cyan g-mx-10"></i></span>
                                    </li>

                                    <li class="g-py-10 d-flex d-lg-block justify-content-between justify-content-start">
                                        <span class="d-lg-none">Unlimited traffic</span>
                                        <span><i class="fa fa-times g-text-danger g-mx-10"></i></span>
                                    </li>

                                    <li class="g-py-10 d-flex d-lg-block justify-content-between justify-content-start">
                                        <span class="d-lg-none">Unlimited domain</span>
                                        <span><i class="fa fa-times g-text-danger g-mx-10"></i></span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-4 col-lg-3">
                            <div class="plan recommended-plan text-left text-center g-pb-50">
                                <h4 class="g-p-30 g-bg-primary">Multiple
                                    <span>License</span>
                                </h4>

                                <ul class="list-unstyled g-pb-40 g-px-20 g-border g-border-t-0 g-border-gray-300">
                                    <li class="g-py-15">
                                        <span class="g-font-size-20 align-top">$</span>
                                        <span class="font-weight-bold g-font-size-40">125</span>
                                    </li>
                                    <li class="g-py-10 d-flex d-lg-block justify-content-between justify-content-start">
                                        <span class="d-lg-none">400+ pages</span>
                                        <span><i class="fa fa-check g-text-cyan g-mx-10"></i></span>
                                    </li>
                                    <li class="g-py-10 d-flex d-lg-block justify-content-between justify-content-start">
                                        <span class="d-lg-none">1610+ elements</span>
                                        <span><i class="fa fa-check g-text-cyan g-mx-10"></i></span>
                                    </li>

                                    <li class="g-py-10 d-flex d-lg-block justify-content-between justify-content-start">
                                        <span class="d-lg-none">24/7 support</span>
                                        <span><i class="fa fa-check g-text-cyan g-mx-10"></i></span>
                                    </li>

                                    <li class="g-py-10 d-flex d-lg-block justify-content-between justify-content-start">
                                        <span class="d-lg-none">Online support</span>
                                        <span><i class="fa fa-check g-text-cyan g-mx-10"></i></span>
                                    </li>

                                    <li class="g-py-10 d-flex d-lg-block justify-content-between justify-content-start">
                                        <span class="d-lg-none">Unlimited traffic</span>
                                        <span><i class="fa fa-check g-text-cyan g-mx-10"></i></span>
                                    </li>

                                    <li class="g-py-10 d-flex d-lg-block justify-content-between justify-content-start">
                                        <span class="d-lg-none">Unlimited domain</span>
                                        <span><i class="fa fa-times g-text-danger g-mx-10"></i></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-4 col-lg-3">
                            <div class="plan text-left text-center g-pb-50">
                                <h4 class="g-p-30 g-bg-primary">Extended
                                    <span>License</span>
                                </h4>

                                <ul class="list-unstyled g-pb-40 g-px-20 g-border-l g-border-md-l-0 g-border-r g-border-b g-border-gray-300">
                                    <li class="g-py-15">
                                        <span class="g-font-size-20 align-top">$</span>
                                        <span class="font-weight-bold g-font-size-40">600</span>
                                    </li>
                                    <li class="g-py-10 d-flex d-lg-block justify-content-between justify-content-start">
                                        <span class="d-lg-none">400+ pages</span>
                                        <span><i class="fa fa-check g-text-cyan g-mx-10"></i></span>
                                    </li>
                                    <li class="g-py-10 d-flex d-lg-block justify-content-between justify-content-start">
                                        <span class="d-lg-none">1610+ elements</span>
                                        <span><i class="fa fa-check g-text-cyan g-mx-10"></i></span>
                                    </li>

                                    <li class="g-py-10 d-flex d-lg-block justify-content-between justify-content-start">
                                        <span class="d-lg-none">24/7 support</span>
                                        <span><i class="fa fa-check g-text-cyan g-mx-10"></i></span>
                                    </li>

                                    <li class="g-py-10 d-flex d-lg-block justify-content-between justify-content-start">
                                        <span class="d-lg-none">Online support</span>
                                        <span><i class="fa fa-check g-text-cyan g-mx-10"></i></span>
                                    </li>

                                    <li class="g-py-10 d-flex d-lg-block justify-content-between justify-content-start">
                                        <span class="d-lg-none">Unlimited traffic</span>
                                        <span><i class="fa fa-check g-text-cyan g-mx-10"></i></span>
                                    </li>

                                    <li class="g-py-10 d-flex d-lg-block justify-content-between justify-content-start">
                                        <span class="d-lg-none">Unlimited domain</span>
                                        <span><i class="fa fa-check g-text-cyan g-mx-10"></i></span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- END Pricing Plan v3 -->
    
                <!-- Pricing Plan v4 -->
                <div class="g-mb-100">
                    <h5 class="text-uppercase font-weight-bold g-mb-30 g-px-7 text-center text-lg-left">Pricing Plan <span class="g-text-primary">#</span>4</h5>
                    <div class="row justify-content-center">
        
                        <div class="col-sm-8 col-lg-4 g-pb-20 g-pb-lg-0">
                            <div class="plan g-shadow-v1 g-bg-white g-border g-border-gray-300 text-center g-rounded-5">
                
                                <div class="g-border-b g-border-gray-300 g-py-20 g-bg-bluegray-700">
                                    <h4 class="text-uppercase font-weight-bold">Basic</h4>
                                </div>
                
                                <div class="g-border-b g-border-gray-300 g-py-20">
                                    <p>$ <span class="price font-weight-bold g-font-size-60 font-montserrat">10</span> /mo</p>
                                    <p class="text-muted g-font-size-14 g-mb-10">You can upgrade any time</p>
                                </div>
                
                                <ul class="list-unstyled g-py-45">
                                    <li class="g-mb-20"><span class="font-weight-bold">50GB</span> Storage</li>
                                    <li class="g-mb-20"><span class="font-weight-bold">Unlimited</span> Members</li>
                                    <li class="g-mb-20"><span class="font-weight-bold">10</span> Projects</li>
                                    <li class="g-mb-20"><span class="font-weight-bold">Admin</span> Area</li>
                                    <li><span class="font-weight-bold">3</span> Months Support</li>
                                </ul>
                
                                <div class="g-pb-20">
                                    <a href="#" class="btn cn-btn-bluegray-700 g-py-15 g-px-70 g-px-lg-100">Purchase</a>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-sm-8 col-lg-4 g-pb-20 g-pb-lg-0">
                            <div class="plan recommended-plan g-shadow-v1 g-bg-white g-border g-border-gray-300 text-center g-rounded-5">
                
                                <div class="g-border-b g-border-gray-300 g-py-20 g-bg-primary">
                                    <h4 class="text-uppercase font-weight-bold">Medium</h4>
                                </div>
                
                                <div class="g-border-b g-border-gray-300 g-py-20">
                                    <p>$ <span class="price font-weight-bold g-font-size-60 font-montserrat">50</span> /mo</p>
                                    <p class="text-muted g-font-size-14 g-mb-10">You can upgrade any time</p>
                                </div>
                
                                <ul class="list-unstyled g-py-45">
                                    <li class="g-mb-20"><span class="font-weight-bold">100GB</span> Storage</li>
                                    <li class="g-mb-20"><span class="font-weight-bold">Unlimited</span> Members</li>
                                    <li class="g-mb-20"><span class="font-weight-bold">50</span> Projects</li>
                                    <li class="g-mb-20"><span class="font-weight-bold">Admin</span> Area</li>
                                    <li><span class="font-weight-bold">6</span> Months Support</li>
                                </ul>
                
                                <div class="g-pb-20">
                                    <a href="#" class="btn cn-btn-primary g-py-15 g-px-70 g-px-lg-100">Purchase</a>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-sm-8 col-lg-4 g-pb-20 g-pb-lg-0">
                            <div class="plan g-shadow-v1 g-bg-white g-border g-border-gray-300 text-center g-rounded-5">
                
                                <div class="g-border-b g-border-gray-300 g-py-20 g-bg-bluegray-700">
                                    <h4 class="text-uppercase font-weight-bold">Advanced</h4>
                                </div>
                
                                <div class="g-border-b g-border-gray-300 g-py-20">
                                    <p>$ <span class="price font-weight-bold g-font-size-60 font-montserrat">90</span> /mo</p>
                                    <p class="text-muted g-font-size-14 g-mb-10">You can upgrade any time</p>
                                </div>
                
                                <ul class="list-unstyled g-py-45">
                                    <li class="g-mb-20"><span class="font-weight-bold">Unlimited</span> Storage</li>
                                    <li class="g-mb-20"><span class="font-weight-bold">Unlimited</span> Members</li>
                                    <li class="g-mb-20"><span class="font-weight-bold">100</span> Projects</li>
                                    <li class="g-mb-20"><span class="font-weight-bold">Admin</span> Area</li>
                                    <li><span class="font-weight-bold">9</span> Months Support</li>
                                </ul>
                
                                <div class="g-pb-20">
                                    <a href="#" class="btn cn-btn-bluegray-700 g-py-15 g-px-70 g-px-lg-100">Purchase</a>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
                <!-- END Pricing Plan v4 -->

            </div>
        </section>
        
    </div>
    <!-- END Main Content -->
    
    <!-- Footer -->
    {% include '../_partials/footers/footer-3.html' %}
    <!-- END Footer -->
    
</div>
<!-- END Main Wrapper -->