{% extends '../_partials/cnote-main-layout.html' %}
{% block page-title %}<title>Progress Steps | cNote Responsive Template</title> {% endblock %}

{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper">
    
    <!-- Header -->
    <header id="header" class="cn-header">
        <!-- Main Navbar -->
        {% include '../_partials/headers/_main-header.html' %}
        <!-- END Main Navbar -->
    </header>
    <!-- END Header -->
    
    <!-- Main Content -->
    <div id="main-content">
    
        <!-- Page Header -->
        <section class="jumbotron g-py-50 g-bg-gray-100 g-border-b g-border-b-gray-300">
            <div class="container">
                <div class="g-flex-md-middle">
                    <h5 class="text-uppercase">Progress Steps</h5>
                    <nav aria-label="breadcrumb" class="ml-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Components</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Progress Steps</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- END Page Header -->
    
        <!-- Progress Steps  -->
        <section class="g-py-70 g-bg-white">
            <div class="container g-px-15 g-px-md-0">
    
                <div class="g-bg-white g-py-50 g-px-20 g-border g-border-gray-300 g-shadow-v1">
                    <!-- Progress Steps 1 -->
                    <div class="progress-steps d-flex justify-content-between flex-wrap flex-md-nowrap g-mb-50">
                        <div class="step">
                            <div class="step-icon-wrap">
                                <div class="cn-icon cn-icon-gray-300 rounded-circle">
                                    <i class="fa fa-sticky-note"></i>
                                </div>
                            </div>
                            <h6 class="step-title font-weight-bold g-mb-10">Order placed</h6>
                        </div>
                        <div class="step">
                            <div class="step-icon-wrap">
                                <div class="cn-icon cn-icon-gray-300 rounded-circle">
                                    <i class="fa fa-credit-card-alt"></i>
                                </div>
                            </div>
                            <h6 class="step-title font-weight-bold g-mb-10">Processing order</h6>
                        </div>
                        <div class="step">
                            <div class="step-icon-wrap">
                                <div class="cn-icon cn-icon-gray-300 rounded-circle">
                                    <i class="fa fa-truck"></i>
                                </div>
                            </div>
                            <h6 class="step-title font-weight-bold g-mb-10">Product under delivery</h6>
                        </div>
                        <div class="step">
                            <div class="step-icon-wrap">
                                <div class="cn-icon cn-icon-gray-300 rounded-circle">
                                    <i class="fa fa-handshake-o"></i>
                                </div>
                            </div>
                            <h6 class="step-title font-weight-bold g-mb-10">Product dispatched</h6>
                        </div>
                    </div>
                    <!-- END Progress Steps 1 -->
                    
                    <!-- Progress Steps 2 -->
                    <div class="progress-steps d-flex justify-content-between flex-wrap flex-md-nowrap g-mb-50">
                        <div class="step completed">
                            <div class="step-icon-wrap">
                                <div class="cn-icon cn-icon-primary rounded-circle">
                                    <i class="fa fa-sticky-note"></i>
                                </div>
                            </div>
                            <h6 class="step-title font-weight-bold g-mb-10">Order placed</h6>
                        </div>
                        <div class="step completed">
                            <div class="step-icon-wrap">
                                <div class="cn-icon cn-icon-primary rounded-circle">
                                    <i class="fa fa-credit-card-alt"></i>
                                </div>
                            </div>
                            <h6 class="step-title font-weight-bold g-mb-10">Processing order</h6>
                        </div>
                        <div class="step">
                            <div class="step-icon-wrap">
                                <div class="cn-icon cn-icon-outline-primary g-bg-white rounded-circle">
                                    <i class="fa fa-truck"></i>
                                </div>
                            </div>
                            <h6 class="step-title font-weight-bold g-mb-10">Product under delivery</h6>
                        </div>
                        <div class="step">
                            <div class="step-icon-wrap">
                                <div class="cn-icon cn-icon-outline-primary g-bg-white rounded-circle">
                                    <i class="fa fa-handshake-o"></i>
                                </div>
                            </div>
                            <h6 class="step-title font-weight-bold g-mb-10">Product dispatched</h6>
                        </div>
                    </div>
                    <!-- END Progress Steps 2 -->
                    
                    <!-- Progress Steps 3 -->
                    <div class="progress-steps d-flex justify-content-between flex-wrap flex-md-nowrap g-mb-50">
                        <div class="step">
                            <div class="step-icon-wrap">
                                <div class="cn-icon cn-icon-blue rounded-circle">
                                    <i class="fa fa-pencil"></i>
                                </div>
                            </div>
                            <h6 class="step-title font-weight-bold g-mb-10">Brainstorm</h6>
                        </div>
                        <div class="step">
                            <div class="step-icon-wrap">
                                <div class="cn-icon cn-icon-blue rounded-circle">
                                    <i class="fa fa-pencil"></i>
                                </div>
                            </div>
                            <h6 class="step-title font-weight-bold g-mb-10">Concept</h6>
                        </div>
                        <div class="step">
                            <div class="step-icon-wrap">
                                <div class="cn-icon cn-icon-blue rounded-circle">
                                    <i class="fa fa-desktop"></i>
                                </div>
                            </div>
                            <h6 class="step-title font-weight-bold g-mb-10">Design</h6>
                        </div>
                        <div class="step">
                            <div class="step-icon-wrap">
                                <div class="cn-icon cn-icon-blue rounded-circle">
                                    <i class="fa fa-cogs"></i>
                                </div>
                            </div>
                            <h6 class="step-title font-weight-bold g-mb-10">Build</h6>
                        </div>
                    </div>
                    <!-- END Progress Steps 3 -->
                    
                    <!-- Progress Steps 4 -->
                    <div class="progress-steps d-flex justify-content-between flex-wrap flex-md-nowrap">
                        <div class="step">
                            <div class="step-icon-wrap">
                                <div class="cn-icon cn-icon-outline-success g-bg-white rounded-circle">
                                    <i class="fa fa-check"></i>
                                </div>
                            </div>
                            <h6 class="step-title font-weight-bold g-mb-10">Brainstorm</h6>
                            <p class="g-px-10 g-mb-40 g-mb-md-10">Cum guttus peregrinationes, omnes lubaes prensionem alter, mirabilis extumes.</p>
                        </div>
                        <div class="step">
                            <div class="step-icon-wrap">
                                <div class="cn-icon cn-icon-outline-success g-bg-white rounded-circle">
                                    <i class="fa fa-check"></i>
                                </div>
                            </div>
                            <h6 class="step-title font-weight-bold g-mb-10">Concept</h6>
                            <p class="g-px-10 g-mb-40 g-mb-md-10">Cum guttus peregrinationes, omnes lubaes prensionem alter, mirabilis extumes.</p>
                        </div>
                        <div class="step">
                            <div class="step-icon-wrap">
                                <div class="cn-icon cn-icon-success rounded-circle">
                                    <i class="fa fa-check"></i>
                                </div>
                            </div>
                            <h6 class="step-title font-weight-bold g-mb-10">Design</h6>
                            <p class="g-px-10 g-mb-40 g-mb-md-10">Cum guttus peregrinationes, omnes lubaes prensionem alter, mirabilis extumes.</p>
                        </div>
                        <div class="step">
                            <div class="step-icon-wrap">
                                <div class="cn-icon cn-icon-gray-400 rounded-circle">
                                    <i class="fa fa-close"></i>
                                </div>
                            </div>
                            <h6 class="step-title font-weight-bold g-mb-10">Build</h6>
                            <p class="g-px-10 g-mb-40 g-mb-md-10">Cum guttus peregrinationes, omnes lubaes prensionem alter, mirabilis extumes.</p>
                        </div>
                    </div>
                    <!-- END Progress Steps 4 -->
                </div>
                
            </div>
        </section>
        <!-- END Progress Steps  -->

    </div>
    <!-- END Main Content -->
    
    <!-- Footer -->
    {% include '../_partials/footers/footer-1.html' %}
    <!-- END Footer -->

</div>
<!-- END Main Wrapper -->
{% endblock %}
