{% extends '../_partials/cnote-main-layout.html' %}
{% block page-title %}<title>Progress Bars | cNote Responsive Template</title> {% endblock %}

{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper">
    
    <!-- Header -->
    <header id="header" class="cn-header">
        <!-- Main Navbar -->
        {% include '../_partials/headers/_main-header.html' %}
        <!-- END Main Navbar -->
    </header>
    <!-- END Header -->
    
    <!-- Main Content -->
    <div id="main-content">
        
        <!-- Page Header -->
        <section class="jumbotron g-py-50 g-bg-gray-100 g-border-b g-border-b-gray-300">
            <div class="container">
                <div class="g-flex-md-middle">
                    <h5 class="text-uppercase">Progress Bars</h5>
                    <nav aria-label="breadcrumb" class="ml-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Components</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Progress Bars</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- END Page Header -->
    
        <!-- Progress Bars -->
        <section class="g-py-70 g-bg-white">
            <div class="container">
            
                <div class="row justify-content-center">
                    
                    <!-- Default  -->
                    <div class="col-lg-10 col-12 g-mb-50 g-px-15 g-pt-15 g-bg-white g-border g-border-gray-300 g-shadow-v1">
                        <h6 class="text-uppercase g-mb-20 font-weight-bold">Default</h6>
                        <div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                                    <span class="tooltiptext"></span>
                                </div>
                            </div>
                        
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                    <span class="tooltiptext"></span>
                                </div>
                            </div>
                        
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                    <span class="tooltiptext"></span>
                                </div>
                            </div>
                        
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                    <span class="tooltiptext"></span>
                                </div>
                            </div>
                        
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <span class="tooltiptext"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Default  -->
    
                    <!-- Rounded -->
                    <div class="col-lg-10 col-12 g-mb-50 g-px-15 g-pt-15 g-bg-white g-border g-border-gray-300 g-shadow-v1">
                        <h6 class="text-uppercase g-mb-20 font-weight-bold">Rounded</h6>
                        <div>
                            <div class="progress progress-rounded">
                                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                                    <span class="tooltiptext"></span>
                                </div>
                            </div>
            
                            <div class="progress progress-rounded">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                    <span class="tooltiptext"></span>
                                </div>
                            </div>
            
                            <div class="progress progress-rounded">
                                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                    <span class="tooltiptext"></span>
                                </div>
                            </div>
            
                            <div class="progress progress-rounded">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                    <span class="tooltiptext"></span>
                                </div>
                            </div>
            
                            <div class="progress progress-rounded">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <span class="tooltiptext"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Rounded -->
                    
                    <!-- Style 1  -->
                    <div class="col-lg-10 col-12 g-mb-50 g-px-15 g-pt-15 g-bg-white g-border g-border-gray-300 g-shadow-v1">
                        <h6 class="text-uppercase g-mb-20 font-weight-bold">Style 1</h6>
                        <div>
                            <div class="progress style1 progress-rounded">
                                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                                    <span class="tooltiptext"></span>
                                </div>
                            </div>
    
                            <div class="progress style1 progress-rounded">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                    <span class="tooltiptext"></span>
                                </div>
                            </div>
    
                            <div class="progress style1 progress-rounded">
                                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                    <span class="tooltiptext"></span>
                                </div>
                            </div>
    
                            <div class="progress style1 progress-rounded">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                    <span class="tooltiptext"></span>
                                </div>
                            </div>
    
                            <div class="progress style1 progress-rounded">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <span class="tooltiptext"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Style 1  -->
                
                    <!-- Style 2 -->
                    <div class="col-lg-10 col-12 g-mb-50 g-px-15 g-pt-15 g-bg-white g-border g-border-gray-300 g-shadow-v1">
                        <h6 class="text-uppercase g-mb-20 font-weight-bold">Style 2</h6>
                        <div>
                            <div class="progress style2 progress-rounded">
                                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                                    <span class="tooltiptext"></span>
                                </div>
                            </div>
    
                            <div class="progress style2 progress-rounded">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                    <span class="tooltiptext"></span>
                                </div>
                            </div>
    
                            <div class="progress style2 progress-rounded">
                                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                    <span class="tooltiptext"></span>
                                </div>
                            </div>
    
                            <div class="progress style2 progress-rounded">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                    <span class="tooltiptext"></span>
                                </div>
                            </div>
    
                            <div class="progress style2 progress-rounded">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <span class="tooltiptext"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Style 2 -->
                
                    <!-- Sizes -->
                    <div class="col-lg-10 col-12 g-mb-50 g-px-15 g-pt-15 g-bg-white g-border g-border-gray-300 g-shadow-v1">
                        <h6 class="text-uppercase g-mb-20 font-weight-bold">Sizes</h6>
                        <div class="">
                            <p>Progress Size 1</p>
                            <div class="progress style1 progress-size-1 progress-rounded">
                                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                                    <span class="tooltiptext"></span>
                                </div>
                            </div>
                        
                            <p>Progress Size 2</p>
                            <div class="progress style1 progress-size-2 progress-rounded">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                    <span class="tooltiptext"></span>
                                </div>
                            </div>
                        
                            <p>Progress Size 3</p>
                            <div class="progress style1 progress-size-3 progress-rounded">
                                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                    <span class="tooltiptext"></span>
                                </div>
                            </div>
                        
                            <p>Progress Size 4</p>
                            <div class="progress style1 progress-size-4 progress-rounded">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                    <span class="tooltiptext"></span>
                                </div>
                            </div>
                        
                            <p>Progress Size 5</p>
                            <div class="progress style1 progress-size-5 progress-rounded">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <span class="tooltiptext"></span>
                                </div>
                            </div>
                    
                        </div>
                    </div>
                    <!-- END Sizes -->
                    
                    <!-- Default Circle -->
                    <div class="col-lg-10 col-12 g-mb-50 g-p-15 g-bg-white g-border g-border-gray-300 g-shadow-v1">
                        <h6 class="text-uppercase g-mb-20 font-weight-bold">Default Circle</h6>
                    
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <div class="progress-circle" data-animate="false">
                                    <div class="circle" data-percent="82" data-fill-color="#13c3c0">
                                        <span class="circle-percentage"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="progress-circle" data-animate="false">
                                    <div class="circle" data-percent="54" data-fill-color="#13c3c0">
                                        <span class="circle-percentage"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="progress-circle" data-animate="false">
                                    <div class="circle" data-percent="72" data-fill-color="#13c3c0">
                                        <span class="circle-percentage"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="progress-circle" data-animate="false">
                                    <div class="circle" data-percent="100" data-fill-color="#13c3c0">
                                        <span class="circle-percentage"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                    </div>
                    <!-- END Default Circle -->
                
                    <!-- Circle Sizes -->
                    <div class="col-lg-10 col-12 g-mb-50 g-px-15 g-pt-15 g-bg-white g-border g-border-gray-300 g-shadow-v1">
                        <h6 class="text-uppercase g-mb-20 font-weight-bold">Sizes</h6>
                    
                        <!-- Size 1 -->
                        <div class="row g-mb-30">
                            <div class="col-md-3 text-center">
                                <div class="progress-circle" data-animate="false">
                                    <div class="circle" data-percent="82" data-fill-color="#13c3c0" data-thickness="2">
                                        <span class="circle-percentage"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="progress-circle" data-animate="false">
                                    <div class="circle" data-percent="54" data-fill-color="#13c3c0" data-thickness="2">
                                        <span class="circle-percentage"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="progress-circle" data-animate="false">
                                    <div class="circle" data-percent="72" data-fill-color="#13c3c0" data-thickness="2">
                                        <span class="circle-percentage"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="progress-circle" data-animate="false">
                                    <div class="circle" data-percent="100" data-fill-color="#13c3c0" data-thickness="2">
                                        <span class="circle-percentage"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Size 2 -->
                        <div class="row g-mb-30">
                            <div class="col-md-3 text-center">
                                <div class="progress-circle" data-animate="false">
                                    <div class="circle" data-percent="82" data-fill-color="#13c3c0" data-thickness="4">
                                        <span class="circle-percentage"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="progress-circle" data-animate="false">
                                    <div class="circle" data-percent="54" data-fill-color="#13c3c0" data-thickness="4">
                                        <span class="circle-percentage"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="progress-circle" data-animate="false">
                                    <div class="circle" data-percent="72" data-fill-color="#13c3c0" data-thickness="4">
                                        <span class="circle-percentage"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="progress-circle" data-animate="false">
                                    <div class="circle" data-percent="100" data-fill-color="#13c3c0" data-thickness="4">
                                        <span class="circle-percentage"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Size 3 -->
                        <div class="row g-mb-30">
                            <div class="col-md-3 text-center">
                                <div class="progress-circle" data-animate="false">
                                    <div class="circle" data-percent="82" data-fill-color="#13c3c0" data-thickness="6">
                                        <span class="circle-percentage"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="progress-circle" data-animate="false">
                                    <div class="circle" data-percent="54" data-fill-color="#13c3c0" data-thickness="6">
                                        <span class="circle-percentage"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="progress-circle" data-animate="false">
                                    <div class="circle" data-percent="72" data-fill-color="#13c3c0" data-thickness="6">
                                        <span class="circle-percentage"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="progress-circle" data-animate="false">
                                    <div class="circle" data-percent="100" data-fill-color="#13c3c0" data-thickness="6">
                                        <span class="circle-percentage"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Size 4 -->
                        <div class="row g-mb-30">
                            <div class="col-md-3 text-center">
                                <div class="progress-circle" data-animate="false">
                                    <div class="circle" data-percent="82" data-fill-color="#13c3c0" data-thickness="8">
                                        <span class="circle-percentage"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="progress-circle" data-animate="false">
                                    <div class="circle" data-percent="54" data-fill-color="#13c3c0" data-thickness="8">
                                        <span class="circle-percentage"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="progress-circle" data-animate="false">
                                    <div class="circle" data-percent="72" data-fill-color="#13c3c0" data-thickness="8">
                                        <span class="circle-percentage"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="progress-circle" data-animate="false">
                                    <div class="circle" data-percent="100" data-fill-color="#13c3c0" data-thickness="8">
                                        <span class="circle-percentage"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Size 5 -->
                        <div class="row g-mb-30">
                            <div class="col-md-3 text-center">
                                <div class="progress-circle" data-animate="false">
                                    <div class="circle" data-percent="82" data-fill-color="#13c3c0" data-thickness="10">
                                        <span class="circle-percentage"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="progress-circle" data-animate="false">
                                    <div class="circle" data-percent="54" data-fill-color="#13c3c0" data-thickness="10">
                                        <span class="circle-percentage"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="progress-circle" data-animate="false">
                                    <div class="circle" data-percent="72" data-fill-color="#13c3c0" data-thickness="10">
                                        <span class="circle-percentage"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="progress-circle" data-animate="false">
                                    <div class="circle" data-percent="100" data-fill-color="#13c3c0" data-thickness="10">
                                        <span class="circle-percentage"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Circle Sizes -->
                </div>
        
        
            </div>
        </section>
        <!-- END Progress Bars -->
    </div>
    <!-- END Main Content -->
    
    <!-- Footer -->
    {% include '../_partials/footers/footer-1.html' %}
    <!-- END Footer -->
    
</div>
<!-- END Main Wrapper -->
{% endblock %}
