{% extends '../_partials/cnote-main-layout.html' %}
{% block page-title %}<title>Team Members | cNote Responsive Template</title> {% endblock %}

{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper">
    
    <!-- Header -->
    <header id="header" class="cn-header">
        {% include '../_partials/headers/_main-header.html' %}
    </header>
    <!-- END Header -->
    
    <!-- Main Content -->
    <div id="main-content">
        
        <!-- Page Header -->
        <section class="jumbotron g-py-50 g-bg-gray-100 g-border-b g-border-b-gray-300">
            <div class="container">
                <div class="g-flex-md-middle">
                    <h5 class="text-uppercase">Team Members</h5>
                    <nav aria-label="breadcrumb" class="ml-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Components</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Team Members</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- END Page Header -->
    
        
        <!-- Team Variants -->
        <section class="team-section-variants g-py-100">
            <div class="container">
            
                <!-- Team 1 -->
                <div class="g-mb-100">
                    <h5 class="font-weight-bold text-uppercase g-mb-20 text-center text-lg-left">Team v1</h5>
                    <div class="row justify-content-center top-overlay">
        
                        <!-- Member 1 -->
                        <div class="col-sm-8 col-lg-4 g-mb-20">
                            <div class="member g-border g-border-gray-300 g-border-primary-h g-shadow-v2">
                                <div class="caption">
                                    <div class="caption-default">
                                        <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                                    </div>
                                    <div class="caption-active g-bg-primary-opacity-8">
                                        <div class="h-100 g-flex-center g-px-20">
                                            <div>
                                                <p class="text-center g-font-size-18 g-text-white">Follow me on</p>
                                                <ul class="list-inline mx-auto text-center g-py-10">
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-light rounded-circle"><i class="fa fa-twitter"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-light rounded-circle"><i class="fa fa-facebook"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-light rounded-circle"><i class="fa fa-google-plus"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-light rounded-circle"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="g-bg-white g-p-30 text-center">
                                    <h5 class="font-weight-semibold">John Doe</h5>
                                    <p class="g-text-primary">Designer</p>
                                    <hr class="g-my-10">
                                    <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, maxime.</p>
                                </div>
                            </div>
                        </div>
                        <!-- END Member 1 -->
        
                        <!-- Member 2 -->
                        <div class="col-sm-8 col-lg-4 g-mb-20">
                            <div class="member g-border g-border-gray-300 g-border-primary-h g-shadow-v2">
                                <div class="caption">
                                    <div class="caption-default">
                                        <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                                    </div>
                                    <div class="caption-active g-bg-primary-opacity-8">
                                        <div class="h-100 g-flex-center g-px-20">
                                            <div>
                                                <p class="text-center g-font-size-18 g-text-white">Follow me on</p>
                                                <ul class="list-inline mx-auto text-center g-py-10">
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-light rounded-circle"><i class="fa fa-twitter"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-light rounded-circle"><i class="fa fa-facebook"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-light rounded-circle"><i class="fa fa-google-plus"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-light rounded-circle"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="g-bg-white g-p-30 text-center">
                                    <h5 class="font-weight-semibold">Jenny Doe</h5>
                                    <p class="g-text-primary">Designer</p>
                                    <hr class="g-my-10">
                                    <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, maxime.</p>
                                </div>
                            </div>
                        </div>
                        <!-- END Member 2 -->
        
                        <!-- Member 3 -->
                        <div class="col-sm-8 col-lg-4 g-mb-20">
                            <div class="member g-border g-border-gray-300 g-border-primary-h g-shadow-v2">
                                <div class="caption">
                                    <div class="caption-default">
                                        <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                                    </div>
                                    <div class="caption-active g-bg-primary-opacity-8">
                                        <div class="h-100 g-flex-center g-px-20">
                                            <div>
                                                <p class="text-center g-font-size-18 g-text-white">Follow me on</p>
                                                <ul class="list-inline mx-auto text-center g-py-10">
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-light rounded-circle"><i class="fa fa-twitter"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-light rounded-circle"><i class="fa fa-facebook"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-light rounded-circle"><i class="fa fa-google-plus"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-light rounded-circle"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="g-bg-white g-p-30 text-center">
                                    <h5 class="font-weight-semibold">John Doe</h5>
                                    <p class="g-text-primary">Designer</p>
                                    <hr class="g-my-10">
                                    <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, maxime.</p>
                                </div>
                            </div>
                        </div>
                        <!-- END Member 3 -->
                    </div>
                </div>
                <!-- END Team 1 -->
                
                <!-- Team 2 -->
                <div class="g-mb-100">
                    <h5 class="font-weight-bold text-uppercase g-mb-20 text-center text-lg-left">Team v2</h5>
                    <div class="row justify-content-center bottom-slide">
                        <!-- Member 1 -->
                        <div class="col-sm-8 col-lg-4 g-mb-15">
                            <div class="member g-border g-border-gray-300 g-border-primary-h">
                                <div class="caption">
                                    <div class="caption-default">
                                        <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                                    </div>
                                    <div class="caption-active">
                                        <div class="g-px-20">
                                            <div class="member-description g-bg-white text-center">
                                                <h6 class="text-uppercase font-weight-bold g-bg-primary g-py-10 g-mb-10 g-rounded-top-5">John Doe</h6>
                                                <p class="text-muted g-font-size-16">Designer</p>
                                                <ul class="list-inline mx-auto text-center g-py-15">
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-twitter"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-facebook"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-google-plus"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Member 1 -->

                        <!-- Member 2 -->
                        <div class="col-sm-8 col-lg-4 g-mb-15">
                            <div class="member g-border g-border-gray-300 g-border-primary-h">
                                <div class="caption">
                                    <div class="caption-default">
                                        <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                                    </div>
                                    <div class="caption-active">
                                        <div class="g-px-20">
                                            <div class="member-description g-bg-white text-center">
                                                <h6 class="text-uppercase font-weight-bold g-bg-primary g-py-10 g-mb-10 g-rounded-top-5">Jenny Doe</h6>
                                                <p class="text-muted g-font-size-16">Designer</p>
                                                <ul class="list-inline mx-auto text-center g-py-15">
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-twitter"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-facebook"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-google-plus"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Member 2 -->

                        <!-- Member 3 -->
                        <div class="col-sm-8 col-lg-4 g-mb-15">
                            <div class="member g-border g-border-gray-300 g-border-primary-h">
                                <div class="caption">
                                    <div class="caption-default">
                                        <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                                    </div>
                                    <div class="caption-active">
                                        <div class="g-px-20">
                                            <div class="member-description g-bg-white text-center">
                                                <h6 class="text-uppercase font-weight-bold g-bg-primary g-py-10 g-mb-10 g-rounded-top-5">John Doe</h6>
                                                <p class="text-muted g-font-size-16">Designer</p>
                                                <ul class="list-inline mx-auto text-center g-py-15">
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-twitter"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-facebook"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-google-plus"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Member 3 -->
                    </div>
                </div>
                <!-- END Team 2 -->

                <!-- Team 3 -->
                <div class="g-mb-100">
                    <h5 class="font-weight-bold text-uppercase g-mb-20 text-center text-lg-left">Team v3</h5>
                    <div class="row justify-content-center">
                        <!-- Member 1 -->
                        <div class="col-sm-8 col-lg-4 g-mb-20">
                            <div class="member g-border g-border-gray-300 g-border-primary-h g-bg-white">
                                <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                                <div class="g-p-20">
                                    <div class="member-description text-center">
                                        <p class="text-uppercase font-weight-semibold g-mb-5">John Doe</p>
                                        <p class="font-italic g-text-primary g-font-size-14 g-mb-15">Designer</p>
                                        <ul class="list-inline mx-auto text-center">
                                            <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle"><i class="fa fa-twitter"></i></a></li>
                                            <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle"><i class="fa fa-facebook"></i></a></li>
                                            <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle"><i class="fa fa-google-plus"></i></a></li>
                                            <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Member 1 -->
        
                        <!-- Member 2 -->
                        <div class="col-sm-8 col-lg-4 g-mb-20">
                            <div class="member g-border g-border-gray-300 g-border-primary-h g-bg-white">
                                <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                                <div class="g-p-20">
                                    <div class="member-description text-center">
                                        <p class="text-uppercase font-weight-semibold g-mb-5">John Doe</p>
                                        <p class="font-italic g-text-primary g-font-size-14 g-mb-15">Designer</p>
                                        <ul class="list-inline mx-auto text-center">
                                            <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle"><i class="fa fa-twitter"></i></a></li>
                                            <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle"><i class="fa fa-facebook"></i></a></li>
                                            <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle"><i class="fa fa-google-plus"></i></a></li>
                                            <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Member 2 -->
        
                        <!-- Member 3 -->
                        <div class="col-sm-8 col-lg-4 g-mb-20">
                            <div class="member g-border g-border-gray-300 g-border-primary-h g-bg-white">
                                <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                                <div class="g-p-20">
                                    <div class="member-description text-center">
                                        <p class="text-uppercase font-weight-semibold g-mb-5">John Doe</p>
                                        <p class="font-italic g-text-primary g-font-size-14 g-mb-15">Designer</p>
                                        <ul class="list-inline mx-auto text-center">
                                            <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle"><i class="fa fa-twitter"></i></a></li>
                                            <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle"><i class="fa fa-facebook"></i></a></li>
                                            <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle"><i class="fa fa-google-plus"></i></a></li>
                                            <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Member 3 -->
    
                    </div>
                </div>
                <!-- END Team 3-->
    
                <!-- Team 4 -->
                <div class="g-mb-100">
                    <h5 class="font-weight-bold text-uppercase g-mb-20 text-center text-lg-left">Team v4</h5>
                    <div class="row justify-content-center zoom">

                        <!-- Member 1 -->
                        <div class="col-sm-8 col-lg-4 g-mb-15">
                            <div class="member g-border g-border-gray-300 g-border-primary-h">
                                <div class="caption">
                                    <div class="caption-default">
                                        <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                                    </div>
                                    <div class="caption-active g-bg-primary-opacity-8">
                                        <div class="h-100 g-flex-center g-px-20">
                                            <div class="text-center g-text-white">
                                                <h5 class="text-uppercase font-weight-bold g-mb-5">John Doe</h5>
                                                <p class="font-italic g-font-size-14 g-mb-15">Designer</p>
                                                <p class="g-mb-25">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, repudiandae?</p>
                                                <ul class="list-inline mx-auto text-center">
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-outline-gray-100 rounded-circle"><i class="fa fa-twitter"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-outline-gray-100 rounded-circle"><i class="fa fa-facebook"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-outline-gray-100 rounded-circle"><i class="fa fa-google-plus"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-outline-gray-100 rounded-circle"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Member 1 -->

                        <!-- Member 2 -->
                        <div class="col-sm-8 col-lg-4 g-mb-15">
                            <div class="member g-border g-border-gray-300 g-border-primary-h">
                                <div class="caption">
                                    <div class="caption-default">
                                        <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                                    </div>
                                    <div class="caption-active g-bg-primary-opacity-8">
                                        <div class="h-100 g-flex-center g-px-20">
                                            <div class="text-center g-text-white">
                                                <h5 class="text-uppercase font-weight-bold g-mb-5">John Doe</h5>
                                                <p class="font-italic g-font-size-14 g-mb-15">Designer</p>
                                                <p class="g-mb-25">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, repudiandae?</p>
                                                <ul class="list-inline mx-auto text-center">
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-outline-gray-100 rounded-circle"><i class="fa fa-twitter"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-outline-gray-100 rounded-circle"><i class="fa fa-facebook"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-outline-gray-100 rounded-circle"><i class="fa fa-google-plus"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-outline-gray-100 rounded-circle"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Member 2 -->

                        <!-- Member 3 -->
                        <div class="col-sm-8 col-lg-4 g-mb-15">
                            <div class="member g-border g-border-gray-300 g-border-primary-h">
                                <div class="caption">
                                    <div class="caption-default">
                                        <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                                    </div>
                                    <div class="caption-active g-bg-primary-opacity-8">
                                        <div class="h-100 g-flex-center g-px-20">
                                            <div class="text-center g-text-white">
                                                <h5 class="text-uppercase font-weight-bold g-mb-5">John Doe</h5>
                                                <p class="font-italic g-font-size-14 g-mb-15">Designer</p>
                                                <p class="g-mb-25">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, repudiandae?</p>
                                                <ul class="list-inline mx-auto text-center">
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-outline-gray-100 rounded-circle"><i class="fa fa-twitter"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-outline-gray-100 rounded-circle"><i class="fa fa-facebook"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-outline-gray-100 rounded-circle"><i class="fa fa-google-plus"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-outline-gray-100 rounded-circle"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Member 3 -->
                    </div>
                </div>
                <!-- END Team 4 -->
                
            </div>
        </section>
        <!-- ENDTeam Variants -->
        
    </div>
    <!-- END Main Content -->
    
    <!-- Footer -->
    {% include '../_partials/footers/footer-3.html' %}
    <!-- END Footer -->

</div>
<!-- END Main Wrapper -->