{% extends '../_partials/cnote-main-layout.html' %}
{% block page-title %}<title>Timelines | cNote Responsive Template</title> {% endblock %}

{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper">
    
    <!-- Header -->
    <header id="header" class="cn-header">
        {% include '../_partials/headers/_main-header.html' %}
    </header>
    <!-- END Header -->
    
    <!-- Main Content -->
    <div id="main-content">
        
        <!-- Page Header -->
        <section class="jumbotron g-py-50 g-bg-gray-100 g-border-b g-border-b-gray-300">
            <div class="container">
                <div class="g-flex-md-middle">
                    <h5 class="text-uppercase">Timelines</h5>
                    <nav aria-label="breadcrumb" class="ml-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Components</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Timelines</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- END Page Header -->
    
        <!-- Timeline Section -->
        <section class="g-py-100 g-border-b g-border-gray-300">
            <div class="container">
                <div class="section-title text-center g-mb-60">
                    <h4 class="title text-uppercase g-mb-20 cn-heading-v2">Timeline v1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam itaque quas quidem.</p>
                    <p>Audax, talis armariums solite quaestio de castus, emeritis rumor.</p>
                </div>
                <div class="timeline-wrapper">
                    <!-- Single Timeline Area Start -->
                    <div class="timeline-item left-item text-md-center">
                        <div class="timeline-date position-absolute">
                            <span>03 Mar 2018 </span>
                        </div>
                        <div class="timeline-icon">
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                        </div>
                        <div class="timeline-content g-pb-sm-20">
                            <div class="timeline-body g-p-30 g-bg-dark g-rounded-10">
                                <h5 class="text-uppercase font-weight-bold g-mb-20">Finally grab a space suit.</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt numquam fugiat, vitae facere. Provident odio saepe iure, commodi doloribus architecto.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Timeline Area Start -->
                    <div class="timeline-item right-item text-md-center">
                        <div class="timeline-date position-absolute">
                            <span>14 Dec 2017</span>
                        </div>
                        <div class="timeline-icon">
                            <i class="fa fa-pie-chart" aria-hidden="true"></i>
                        </div>
                        <div class="timeline-content g-pb-sm-20">
                            <div class="timeline-body g-p-30 g-bg-dark g-rounded-10">
                                <h5 class="text-uppercase font-weight-bold g-mb-20">Small collectives, to the bridge.</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt numquam fugiat, vitae facere. Provident odio saepe iure, commodi doloribus architecto.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Timeline Area Start -->
                    <div class="timeline-item left-item text-md-center">
                        <div class="timeline-date position-absolute">
                            <span> 12 Nov 2017</span>
                        </div>
                        <div class="timeline-icon">
                            <i class="fa fa-cloud" aria-hidden="true"></i>
                        </div>
                        <div class="timeline-content g-pb-sm-20">
                            <div class="timeline-body g-p-30 g-bg-dark g-rounded-10">
                                <h5 class="text-uppercase font-weight-bold g-mb-20">Mechanically acquire a sensor. </h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt numquam fugiat, vitae facere. Provident odio saepe iure, commodi doloribus architecto.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Timeline Area Start -->
                    <div class="timeline-item right-item text-md-center">
                        <div class="timeline-date position-absolute">
                            <span>10 Aug 2017</span>
                        </div>
                        <div class="timeline-icon">
                            <i class="fa fa-magic" aria-hidden="true"></i>
                        </div>
                        <div class="timeline-content g-pb-sm-20">
                            <div class="timeline-body g-p-30 g-bg-dark g-rounded-10">
                                <h5 class="text-uppercase font-weight-bold g-mb-20">Technically experience a space. </h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt numquam fugiat, vitae facere. Provident odio saepe iure, commodi doloribus architecto.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Timeline Area Start -->
                    <div class="timeline-item right-item text-md-center">
                        <div class="timeline-icon">
                            <i class="fa fa-close" aria-hidden="true"></i>
                        </div>
                    </div>
    
    
                </div>
            </div>
        </section>
        <!-- END Timeline Section -->
        
    </div>
    <!-- END Main Content -->
    
    <!-- Footer -->
    {% include '../_partials/footers/footer-3.html' %}
    <!-- END Footer -->

</div>
<!-- END Main Wrapper -->