{% extends '../_partials/cnote-main-layout.html' %}
{% block page-title %}<title>Typography | cNote Responsive Template</title> {% endblock %}

{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper">
    
    <!-- Header -->
    <header id="header" class="cn-header">
        {% include '../_partials/headers/_main-header.html' %}
    </header>
    <!-- END Header -->
    
    <!-- Main Content -->
    <div id="main-content">
        <!-- Page Header -->
        <section class="jumbotron g-py-50 g-bg-gray-100 g-border-b g-border-b-gray-300">
            <div class="container">
                <div class="g-flex-md-middle">
                    <h5 class="text-uppercase">Typography</h5>
                    <nav aria-label="breadcrumb" class="ml-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Components</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Typography</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- END Page Header -->
        
        <!-- Colors -->
        <section class="g-py-70 g-bg-white">
            <div class="container text-center text-lg-left">
            
                <div class="g-bg-white g-p-20 g-border g-border-gray-300 g-shadow-v1">
                    <h5 class="text-uppercase font-weight-bold g-mb-10">Google Fonts</h5>
                    <p>Cnote uses Google Nunito font and Montserrat for headings<p>
                    <p class="text-muted g-mb-30">Don't forget you can always use another google font.</p>
                    <div class="row g-p-10 g-mb-30 g-border g-border-gray-300">
                        <div class="col-lg-4">
                            <p class="g-mb-20">Regular</p>
                            <p class="g-font-size-25 text-uppercase">abcdefghi</p>
                            <p class="g-font-size-25">abcdefghi</p>
                            <p class="g-font-size-25">0123456789</p>
                        </div>
                        <div class="col-lg-4">
                            <p class="g-mb-20">Semibold</p>
                            <p class="g-font-size-25 font-weight-semibold text-uppercase">abcdefghi</p>
                            <p class="g-font-size-25 font-weight-semibold">abcdefghi</p>
                            <p class="g-font-size-25 font-weight-semibold">0123456789</p>
                        </div>
                        <div class="col-lg-4">
                            <p class="g-mb-20">Bold</p>
                            <p class="g-font-size-25 font-weight-bold text-uppercase">abcdefghi</p>
                            <p class="g-font-size-25 font-weight-bold">abcdefghi</p>
                            <p class="g-font-size-25 font-weight-bold">0123456789</p>
                        </div>
                    </div>
                    <div class="row g-p-10 g-mb-30 g-bg-dark g-border g-border-dark">
                        <div class="col-lg-4">
                            <p class="g-mb-20">Regular</p>
                            <p class="g-font-size-25 text-uppercase">abcdefghi</p>
                            <p class="g-font-size-25">abcdefghi</p>
                            <p class="g-font-size-25">0123456789</p>
                        </div>
                        <div class="col-lg-4">
                            <p class="g-mb-20">Semibold</p>
                            <p class="g-font-size-25 font-weight-semibold text-uppercase">abcdefghi</p>
                            <p class="g-font-size-25 font-weight-semibold">abcdefghi</p>
                            <p class="g-font-size-25 font-weight-semibold">0123456789</p>
                        </div>
                        <div class="col-lg-4">
                            <p class="g-mb-20">Bold</p>
                            <p class="g-font-size-25 font-weight-bold text-uppercase">abcdefghi</p>
                            <p class="g-font-size-25 font-weight-bold">abcdefghi</p>
                            <p class="g-font-size-25 font-weight-bold">0123456789</p>
                        </div>
                    </div>
                    
                    <!-- Headings -->
                    <div class="g-mb-50">
                        <div class="g-mb-10">
                            <h1>Heading ( H1 )</h1>
                        </div>
                        <hr>
                        <div class="g-mb-10">
                            <h2>Heading ( H2 )</h2>
                        </div>
                        <hr>
                        <div class="g-mb-10">
                            <h3>Heading ( H3 )</h3>
                        </div>
                        <hr>
                        <div class="g-mb-10">
                            <h4>Heading ( H4 )</h4>
                        </div>
                        <hr>
                        <div class="g-mb-10">
                            <h5>Heading ( H5 )</h5>
                        </div>
                        <hr>
                        <div class="g-mb-10">
                            <h6>Heading ( H6 )</h6>
                        </div>
                    </div>
                    <!-- END Headings -->
                    
                    <!-- Contextual Colors -->
                    <div class="g-mb-50">
                        <h5 class="text-uppercase font-weight-bold g-mb-10">Contextual Colors</h5>
                        <p class="g-text-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At nemo qui vel.</p>
                        <p class="g-text-blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur explicabo non?</p>
                        <p class="g-text-warning">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, impedit.</p>
                        <p class="g-text-danger">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium modi optio tempora!</p>
                        <p class="g-text-success">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                    <!-- END Contextual Colors -->

                    <!-- Inline text elements -->
                    <div class="g-mb-50 inline-text-elem">
                        <h5 class="text-uppercase font-weight-bold g-mb-10">Inline text elements</h5>
                        <p>You can use the mark tag to <mark>highlight</mark> text.</p>
                        <p>You can use the mark tag to <mark class="g-bg-blue">highlight</mark> text.</p>
                        <p>You can use the mark tag to <mark class="g-bg-green">highlight</mark> text.</p>
                        <p><del>This line of text is meant to be treated as deleted text.</del></p>
                        <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
                        <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
                        <p><u>This line of text will render as underlined</u></p>
                        <p><small>This line of text is meant to be treated as fine print.</small></p>
                        <p><strong>This line rendered as bold text.</strong></p>
                        <p><em>This line rendered as italicized text.</em></p>
                    </div>
                    <!-- END Inline text elements -->
                    
                    <!-- Blockquote -->
                    <div class="g-mb-50">
                        <h5 class="text-uppercase font-weight-bold g-mb-10">Blockquote</h5>
                        <blockquote class="blockquote">
                            <p class="text-muted"><em>" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</em></p>
                        </blockquote>
                    </div>
                    <!-- END Blockquote -->
                    
                    <!-- Lists -->
                    <div class="g-mb-50">
                        <div class="row justify-content-center">
                            <div class="col-sm-6 col-lg-4 text-left">
                                <h6 class="text-uppercase font-weight-bold g-mb-10">Unordered list</h6>
                                <ul class="g-mb-20">
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Verpas velum. </li>
                                    <li>A falsis, canis germanus</li>
                                    <li>Talis zirbuss ducunt
                                        <ul>
                                            <li>Lorem ipsum dolor sit amet.</li>
                                            <li>Consilium de teres brodium.</li>
                                            <li>Messis satis ducunt ad peritus.</li>
                                            <li>Contencio de dexter.</li>
                                        </ul>
                                    </li>
                                    <li>Barcas prareres tanquam.</li>
                                    <li>Emeritis coordinataes. </li>
                                    <li>Lacta studeres, tanquam regius.</li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-lg-4 text-left">
                                <h6 class="text-uppercase font-weight-bold g-mb-10">Ordered list</h6>
                                <ol class="g-mb-20">
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Verpas velum. </li>
                                    <li>A falsis, canis germanus</li>
                                    <li>Talis zirbuss ducunt
                                        <ol>
                                            <li>Lorem ipsum dolor sit amet.</li>
                                            <li>Consilium de teres brodium.</li>
                                            <li>Messis satis ducunt ad peritus.</li>
                                            <li>Contencio de dexter.</li>
                                        </ol>
                                    </li>
                                    <li>Barcas prareres tanquam.</li>
                                    <li>Emeritis coordinataes. </li>
                                    <li>Lacta studeres, tanquam regius.</li>
                                </ol>
                            </div>
                            <div class="col-sm-6 col-lg-4 text-left">
                                <h6 class="text-uppercase font-weight-bold g-mb-10">Unstyled list</h6>
                                <ul class="list-unstyled g-mb-20">
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Verpas velum. </li>
                                    <li>A falsis, canis germanus</li>
                                    <li>Talis zirbuss ducunt
                                        <ul class="">
                                            <li>Lorem ipsum dolor sit amet.</li>
                                            <li>Consilium de teres brodium.</li>
                                            <li>Messis satis ducunt ad peritus.</li>
                                            <li>Contencio de dexter.</li>
                                        </ul>
                                    </li>
                                    <li>Barcas prareres tanquam.</li>
                                    <li>Emeritis coordinataes. </li>
                                    <li>Lacta studeres, tanquam regius.</li>
                                </ul>
                            </div>
                        </div>
   
                    </div>
                    <!-- END Lists -->
                    
                    <!-- Inline List -->
                    <div class="g-mb-50">
                        <h5 class="text-uppercase font-weight-bold g-mb-10">Inline</h5>
                        <ul class="list-inline">
                            <li class="list-inline-item">List item 1</li>
                            <li class="list-inline-item">List item 2</li>
                            <li class="list-inline-item">List item 3</li>
                        </ul>
                    </div>
                    <!-- END Inline List -->
                    
                    <!-- Description List Alignment -->
                    <div class="g-mb-50 text-left">
                        <h5 class="text-uppercase font-weight-bold g-mb-10">Description List Alignment</h5>
                        <dl class="row">
                            <dt class="col-sm-3">Description lists</dt>
                            <dd class="col-sm-9">A description list is perfect for defining terms.</dd>
        
                            <dt class="col-sm-3">Euismod</dt>
                            <dd class="col-sm-9">
                                <p>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</p>
                                <p>Donec id elit non mi porta gravida at eget metus.</p>
                            </dd>
        
                            <dt class="col-sm-3">Malesuada porta</dt>
                            <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>
        
                            <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
                            <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
        
                            <dt class="col-sm-3">Nesting</dt>
                            <dd class="col-sm-9">
                                <dl class="row">
                                    <dt class="col-sm-4">Nested definition list</dt>
                                    <dd class="col-sm-8">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.</dd>
                                </dl>
                            </dd>
                        </dl>
                    </div>
                    <!-- END Description List Alignment -->
                </div>
                
            </div>
        </section>
        <!-- END Colors -->
    </div>
    <!-- END Main Content -->
    
    <!-- Footer -->
    {% include '../_partials/footers/footer-1.html' %}
    <!-- END Footer -->

</div>
<!-- END Main Wrapper -->
{% endblock %}
