{% extends '../_partials/cnote-main-layout.html' %}
{% block page-title %}<title>cNote Onepage 2 </title> {% endblock %}

{% block content %}
<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Header -->
    <header id="header" class="cn-header">
        <div class="cn-navbar-wrapper cn-navbar-dark-color g-border-b g-border-gray-300 navbar-scrollspy">
            <nav class="navbar navbar-expand-xl">
                <div class="container">
                    <div class="logo-wrapper">
                        <a class="navbar-brand" href="../index.html"><img class="logo" src="http://via.placeholder.com/150x50/eee/777" alt="cNote Logo"></a>
                    </div>
                    <button class="navbar-toggler navbar-toggler-right border-0 cursor-pointer" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon cn-icon cn-icon-sm">
                            <i class="fa fa-bars g-font-size-20"></i>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a class="nav-link active" href="#home">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="#work">Portfolio</a></li>
                            <li class="nav-item"><a class="nav-link" href="#pricing-plan">Prices</a></li>
                            <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                            <li class="nav-item"><a class="nav-link" href="#testimonials">Testimonials</a></li>
                            <li class="nav-item"><a class="nav-link" href="#faq">FAQ</a></li>
                            <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- END Header -->
    
    <!-- Main Content -->
    <div id="main-content">

        <!-- Banner -->
        <section id="home" class="banner fullscreen fullscreen-height-auto bg-cover" style="background-image: url('http://via.placeholder.com/1920x1080/fff/eee');">
            
            <div class="g-flex-center h-100 g-py-100 g-py-lg-0">
                <div class="container">
                    
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-8 col-lg-5 g-mb-50 g-mb-lg-0">
                            <div class="g-bg-white g-px-30 g-py-35 g-rounded-5 g-border g-border-gray-300 g-shadow-v1">
                                <h4 class="text-center g-pb-35">Create an account</h4>
                                <!-- Login-Register Form -->
                                <form class="register-form-1">
                                    <div class="row no-gutters">

                                        <div class="col-lg-6">
                                            <div class="form-group g-mr-lg-5">
                                                <div class="input-group input-group-focus">
                                                <span class="input-group-prepend g-w50 justify-content-center">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                                    <input type="text" class="form-control form-control-lg" id="register-firstname" name="firstname" placeholder="Bill" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <div class="input-group input-group-focus">
                                                <span class="input-group-prepend g-w50 justify-content-center">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                                    <input type="text" class="form-control form-control-lg" id="register-lastname" name="lastname" placeholder="Will" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group input-group-focus">
                                    <span class="input-group-prepend g-w50 justify-content-center">
                                        <i class="fa fa-envelope-open"></i>
                                    </span>
                                            <input type="email" class="form-control form-control-lg" id="register-email" name="email"  placeholder="E-mail" required>
                                        </div>
                                    </div>

                                    <div class="form-group g-mr-md-5">
                                        <div class="input-group input-group-focus">
                                        <span class="input-group-prepend g-w50 justify-content-center">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                            <input type="password" class="form-control form-control-lg" id="register-password" name="password"  placeholder="Your Password" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group input-group-focus">
                                        <span class="input-group-prepend g-w50 justify-content-center">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                            <input type="password" class="form-control form-control-lg" id="register-repassword" name="repassword"  placeholder="Re-Password" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="custom-control cn-custom-checkbox d-flex align-items-center">
                                            <input class="custom-control-input" type="checkbox" id="customCheck2">
                                            <label class="custom-control-label" for="customCheck2">
                                                <span>I accept the <a href="#">Terms and Conditions</a></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group g-mb-40 text-center text-lg-left">
                                        <button type="submit" class="btn cn-btn-primary g-rounded-50">Create your account</button>
                                    </div>
                                    <div class="text-center">
                                        <p>Already have an account? <a href="../pages/login.html">Sign in</a></p>
                                    </div>
                                </form>
                                <!-- END Login-Register Form -->
                            </div>
                        </div>
                        <div class="offset-lg-1 col-lg-6">
                            <div class="text-center text-lg-left">
                                <h1 class="banner-text g-text-dark font-montserrat text-uppercase g-font-size-25 g-font-size-lg-55 font-weight-bold g-mb-20">Cnote<br>Template</h1>
                                <p class="g-font-size-16 g-font-size-lg-18 g-mb-20">Choose the smartest and most flexible bootstrap template you've ever seen</p>
                                <a href="#" class="btn cn-btn-primary g-border-2x font-weight-bold text-uppercase g-rounded-50"><i class="fa fa-long-arrow-right g-mr-5"></i> Get Started</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- END Banner -->

        <!-- Timeline Section -->
        <section id="about" class="about-section g-py-100 g-bg-gray-100 g-border-b g-border-gray-300">
            <div class="container">

                <div class="section-title text-center g-mb-70 g-px-10">
                    <h4 class="g-mb-20 cn-heading-v2 text-uppercase font-weight-bold">How we proceed</h4>
                    <div class="row justify-content-center">
                        <div class="col-md-9 text-center">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam itaque odit praesentium quas quidem.</p>
                        </div>
                    </div>
                </div>

                <!-- Progress Steps -->
                    <div class="progress-steps progress-steps-v1 progress-steps-v1">

                            <div class="d-md-flex justify-content-between flex-wrap flex-lg-nowrap">
                                <div class="step">
                                    <div class="step-icon-wrap">
                                        <div class="step-item g-flex-center g-bg-primary-h">
                                            <div>
                                                <p class="text-center g-mb-20"><i class="fa fa-users g-font-size-30" aria-hidden="true"></i></p>
                                                <p class="text-uppercase font-weight-bold">Brainstorm</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="step">
                                    <div class="step-icon-wrap">
                                        <div class="step-item g-flex-center g-bg-primary-h">
                                            <div>
                                                <p class="text-center g-mb-20"><i class="fa fa-rocket g-font-size-30" aria-hidden="true"></i></p>
                                                <p class="text-uppercase font-weight-bold">Concept</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="step">
                                    <div class="step-icon-wrap">
                                        <div class="step-item g-flex-center g-bg-primary-h">
                                            <div>
                                                <p class="text-center g-mb-20"><i class="fa fa-graduation-cap g-font-size-30" aria-hidden="true"></i></p>
                                                <p class="text-uppercase font-weight-bold">Design</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="step">
                                    <div class="step-icon-wrap">
                                        <div class="step-item g-flex-center g-bg-primary-h">
                                            <div>
                                                <p class="text-center g-mb-20"><i class="fa fa-heart-o g-font-size-30" aria-hidden="true"></i></p>
                                                <p class="text-uppercase font-weight-bold">Build</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                <!-- END Progress Steps -->

            </div>
        </section>
        <!-- END Timeline Section -->

        <!-- Portfolio Section -->
        <section id="work" class="counter-section g-py-100">
            <div class="container">

                <div class="section-title text-center g-mb-70">
                    <h4 class="g-mb-20 cn-heading-v2 text-uppercase font-weight-bold">Our Portfolio</h4>
                    <div class="row justify-content-center">
                        <div class="col-md-9 text-center">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam itaque odit praesentium quas quidem.</p>
                        </div>
                    </div>
                </div>

                <div class="work-wrapper gallery images-gallery g-py-20 zoom">
                    <div class="row">
                        <!-- Portfolio 1 -->
                        <div class="col-md-6  g-mb-10 g-mb-md-0">
                            <div class="g-p-5 g-border g-border-gray-300 g-shadow-v1">
                                <div class="caption">
                                    <div class="caption-default">
                                        <img class="img-fluid" src="http://via.placeholder.com/900x600/eee/777" alt="Image Description">
                                    </div>
                                    <div class="caption-active g-bg-primary-opacity-6">
                                        <div class="h-100 g-flex-center g-px-20 text-white">
                                            <div>
                                                <a href="../pages/portfolio-single.html" class="cn-icon cn-icon-light g-mr-15 g-rounded-50" target="_blank"><i class="fa fa-link g-font-size-20" aria-hidden="true"></i></a>
                                                <a href="http://via.placeholder.com/900x600/eee/777" class="popup-img cn-icon cn-icon-light g-mr-15 g-rounded-50" data-effect="mfp-move-from-top">
                                                    <i class="fa fa-search-plus g-font-size-20" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-description text-center g-m-0 g-py-25 g-bg-gray-100 text-dark">
                                    <p class="font-weight-bold text-gray-500">Standard Project Title</p>
                                    <p class="font-italic">Photography</p>
                                </div>
                            </div>
                        </div>
                        <!-- END Portfolio 1 -->

                        <!-- Portfolio 2 -->
                        <div class="col-md-6  g-mb-10 g-mb-md-0">
                            <div class="g-p-5 g-border g-border-gray-300 g-shadow-v1">
                                <div class="caption">
                                    <div class="caption-default">
                                        <img class="img-fluid" src="http://via.placeholder.com/900x600/eee/777" alt="Image Description">
                                    </div>
                                    <div class="caption-active g-bg-primary-opacity-6">
                                        <div class="h-100 g-flex-center g-px-20 text-white">
                                            <div>
                                                <a href="../pages/portfolio-single.html" class="cn-icon cn-icon-light g-mr-15 g-rounded-50" target="_blank"><i class="fa fa-link g-font-size-20" aria-hidden="true"></i></a>
                                                <a href="http://via.placeholder.com/900x600/eee/777" class="popup-img cn-icon cn-icon-light g-mr-15 g-rounded-50" data-effect="mfp-move-from-top">
                                                    <i class="fa fa-search-plus g-font-size-20" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-description text-center g-m-0 g-py-25 g-bg-gray-100 text-dark">
                                    <p class="font-weight-bold text-gray-500">Standard Project Title</p>
                                    <p class="font-italic">Website</p>
                                </div>
                            </div>
                        </div>
                        <!-- END Portfolio 2 -->

                        <!-- Portfolio 3 -->
                        <div class="col-md-6  g-mb-10 g-mb-md-0 g-mt-md-50">
                            <div class="g-p-5 g-border g-border-gray-300 g-shadow-v1">
                                <div class="caption">
                                    <div class="caption-default">
                                        <img class="img-fluid" src="http://via.placeholder.com/900x600/eee/777" alt="Image Description">
                                    </div>
                                    <div class="caption-active g-bg-primary-opacity-6">
                                        <div class="h-100 g-flex-center g-px-20 text-white">
                                            <div>
                                                <a href="../pages/portfolio-single.html" class="cn-icon cn-icon-light g-mr-15 g-rounded-50" target="_blank"><i class="fa fa-link g-font-size-20" aria-hidden="true"></i></a>
                                                <a href="http://via.placeholder.com/900x600/eee/777" class="popup-img cn-icon cn-icon-light g-mr-15 g-rounded-50" data-effect="mfp-move-from-top">
                                                    <i class="fa fa-search-plus g-font-size-20" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-description text-center g-m-0 g-py-25 g-bg-gray-100 text-dark">
                                    <p class="font-weight-bold text-gray-500">Standard Project Title</p>
                                    <p class="font-italic">Design</p>
                                </div>
                            </div>
                        </div>
                        <!-- END Portfolio 3 -->

                        <!-- Portfolio 4 -->
                        <div class="col-md-6  g-mb-10 g-mb-md-0 g-mt-md-50">
                            <div class="g-p-5 g-border g-border-gray-300 g-shadow-v1">
                                <div class="caption">
                                    <div class="caption-default">
                                        <img class="img-fluid" src="http://via.placeholder.com/900x600/eee/777" alt="Image Description">
                                    </div>
                                    <div class="caption-active g-bg-primary-opacity-6">
                                        <div class="h-100 g-flex-center g-px-20 text-white">
                                            <div>
                                                <a href="../pages/portfolio-single.html" class="cn-icon cn-icon-light g-mr-15 g-rounded-50" target="_blank"><i class="fa fa-link g-font-size-20" aria-hidden="true"></i></a>
                                                <a href="http://via.placeholder.com/900x600/eee/777" class="popup-img cn-icon cn-icon-light g-mr-15 g-rounded-50" data-effect="mfp-move-from-top">
                                                    <i class="fa fa-search-plus g-font-size-20" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-description text-center g-m-0 g-py-25 g-bg-gray-100 text-dark">
                                    <p class="font-weight-bold text-gray-500">Standard Project Title</p>
                                    <p class="font-italic">UX Design</p>
                                </div>
                            </div>
                        </div>
                        <!-- END Portfolio 4 -->

                    </div> <!-- / .row -->
                </div>

            </div>
        </section>
        <!-- END Portfolio Section -->

        <!-- Pricing-plans Section -->
        <section id="pricing-plan" class="pricing-section g-py-100 g-bg-gray-100 g-border g-border-gray-300">
            <div class="container">
                <div class="section-title text-center g-mb-70">
                    <h4 class="title text-uppercase cn-heading-v2 font-weight-bold g-mb-20">Our Prices</h4>
                    <div class="row justify-content-center">
                        <div class="col-md-9 text-center">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias amet asperiores aspernatur assumenda corporis error expedita iusto optio, quam quod reiciendis suscipit voluptates?</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-8 col-lg-4 g-pb-20 g-pb-lg-0">
                        <div class="plan g-bg-white g-border g-border-gray-300 g-shadow-v2 g-p-30 text-center g-rounded-5">
                            <div class="g-border-b g-border-gray-300 g-py-15">
                                <h4 class="text-uppercase g-mb-10"><span class="text-primary">Basic</span> Plan</h4>
                            </div>
                            <ul class="list-unstyled g-mt-20 g-mb-70">
                                <li class="g-mb-10"><span class="font-weight-bold">50GB</span> Storage</li>
                                <li class="g-mb-10"><span class="font-weight-bold">Unlimited</span> Members</li>
                                <li class="g-mb-10"><span class="font-weight-bold">10</span> Projects</li>
                                <li class="g-mb-10"><span class="font-weight-bold">Admin</span> Area</li>
                                <li class="g-mb-10"><span class="font-weight-bold">3</span> Months Support</li>
                            </ul>
                            <div class="g-border-t g-border-b g-border-gray-300 g-py-15">
                                <p>$ <span class="price font-weight-bold g-font-size-25">10</span> /month</p>
                            </div>
                            <a href="#" class="btn cn-btn-outline-primary g-rounded-50 g-mt-20">Choose Price</a>
                        </div>
                    </div>
                    <div class="col-sm-8 col-lg-4 g-pb-20 g-pb-lg-0">
                        <div class="plan recommended-plan g-bg-white g-border g-border-gray-300 g-shadow-v2 g-p-30 text-center g-rounded-5">
                            <div class="ribbon"><span>Recommended</span></div>
                            <div class="g-border-b g-border-gray-300 g-py-15">
                                <h4 class="text-uppercase g-mb-10"><span class="text-primary">Medium</span> Plan</h4>
                            </div>
                            <ul class="list-unstyled g-mt-20 g-mb-70">
                                <li class="g-mb-10"><span class="font-weight-bold">100GB</span> Storage</li>
                                <li class="g-mb-10"><span class="font-weight-bold">Unlimited</span> Members</li>
                                <li class="g-mb-10"><span class="font-weight-bold">20</span> Projects</li>
                                <li class="g-mb-10"><span class="font-weight-bold">Admin</span> Area</li>
                                <li class="g-mb-10"><span class="font-weight-bold">6</span> Months Support</li>
                            </ul>
                            <div class="g-border-t g-border-b g-border-gray-300 g-py-15">
                                <p>$ <span class="price font-weight-bold g-font-size-25">25</span> /month</p>
                            </div>
                            <a href="#" class="btn cn-btn-primary g-rounded-50 g-mt-20">Choose Price</a>
                        </div>
                    </div>
                    <div class="col-sm-8 col-lg-4 g-pb-20 g-pb-lg-0">
                        <div class="plan g-bg-white g-border g-border-gray-300 g-shadow-v2 g-p-30 text-center g-rounded-5">

                            <div class="g-border-b g-border-gray-300 g-py-15">
                                <h4 class="text-uppercase g-mb-10"><span class="text-primary">Pro</span> Plan</h4>
                            </div>

                            <ul class="list-unstyled g-mt-20 g-mb-70">
                                <li class="g-mb-10"><span class="font-weight-bold">500GB</span> Storage</li>
                                <li class="g-mb-10"><span class="font-weight-bold">Unlimited</span> Members</li>
                                <li class="g-mb-10"><span class="font-weight-bold">50</span> Projects</li>
                                <li class="g-mb-10"><span class="font-weight-bold">Admin</span> Area</li>
                                <li class="g-mb-10"><span class="font-weight-bold">9</span> Months Support</li>
                            </ul>
                            <div class="g-border-t g-border-b g-border-gray-300 g-py-15">
                                <p>$ <span class="price font-weight-bold g-font-size-25">40</span> /month</p>
                            </div>
                            <a href="#" class="btn cn-btn-outline-primary g-rounded-50 g-mt-20">Choose Price</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Pricing-plans Section -->

        <!-- Team Section -->
        <section id="team" class="team-section g-py-100 g-bg-white bottom-slide">

            <div class="container">

                <div class="section-title text-center g-mb-70">
                    <h4 class="g-mb-20 cn-heading-v2 text-uppercase font-weight-bold">Our Team</h4>
                    <div class="row justify-content-center">
                        <div class="col-md-9 text-center">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam itaque odit praesentium quas quidem.</p>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center bottom-slide">
                    <!-- Member 1 -->
                    <div class="col-sm-8 col-lg-4 g-mb-20 g-mb-lg-0">
                        <div class="member g-border g-border-gray-300 g-border-primary-h g-shadow-v1">
                            <div class="caption">
                                <div class="caption-default">
                                    <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                                </div>
                                <div class="caption-active">
                                    <div class="g-px-20">
                                        <div class="member-description g-bg-white text-center">
                                            <h6 class="text-uppercase font-weight-bold g-bg-primary g-py-10 g-mb-10 g-rounded-top-5">John Doe</h6>
                                            <p class="text-muted g-font-size-16">Designer</p>
                                            <ul class="list-inline mx-auto text-center g-py-15">
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-twitter"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-facebook"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-google-plus"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Member 1 -->

                    <!-- Member 2 -->
                    <div class="col-sm-8 col-lg-4 g-mb-20 g-mb-lg-0">
                        <div class="member g-border g-border-gray-300 g-border-primary-h g-shadow-v1">
                            <div class="caption">
                                <div class="caption-default">
                                    <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                                </div>
                                <div class="caption-active">
                                    <div class="g-px-20">
                                        <div class="member-description g-bg-white text-center">
                                            <h6 class="text-uppercase font-weight-bold g-bg-primary g-py-10 g-mb-10 g-rounded-top-5">Jenny Doe</h6>
                                            <p class="text-muted g-font-size-16">Designer</p>
                                            <ul class="list-inline mx-auto text-center g-py-15">
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-twitter"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-facebook"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-google-plus"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Member 2 -->

                    <!-- Member 3 -->
                    <div class="col-sm-8 col-lg-4 g-mb-20 g-mb-lg-0">
                        <div class="member g-border g-border-gray-300 g-border-primary-h g-shadow-v1">
                            <div class="caption">
                                <div class="caption-default">
                                    <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                                </div>
                                <div class="caption-active">
                                    <div class="g-px-20">
                                        <div class="member-description g-bg-white text-center">
                                            <h6 class="text-uppercase font-weight-bold g-bg-primary g-py-10 g-mb-10 g-rounded-top-5">John Doe</h6>
                                            <p class="text-muted g-font-size-16">Designer</p>
                                            <ul class="list-inline mx-auto text-center g-py-15">
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-twitter"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-facebook"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-google-plus"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Member 3 -->
                </div>
            </div>

        </section>
        <!-- END Team Section -->

        <!-- Testimonials Section -->
        <section id="testimonials" class="testimonials g-py-100 g-bg-gray-100 g-border g-border-gray-300">

            <div class="container">

                <div class="section-title text-center g-mb-70">
                    <h4 class="g-mb-20 cn-heading-v2 text-uppercase font-weight-bold">Testmonials</h4>
                    <div class="row justify-content-center">
                        <div class="col-md-9 text-center">
                            <p>Don't forget to remove this dummy text.</p>
                            <p>Cum fuga experimentum, omnes fluctuses transferre alter, bi-color impositioes,</p>
                        </div>
                    </div>
                </div>

                <div class="owl-carousel testimonials-carousel style4">
                    <div class="item">
                        <div class="text-center g-p-20">
                            <img class="g-border g-border-5x g-border-white rounded-circle g-w100" src="http://via.placeholder.com/100x100/eee/777">
                            <div class="g-py-25">
                                <h6 class="text-uppercase font-weight-semibold g-mb-10">John Doe</h6>
                                <p class="g-text-primary">Designer</p>
                            </div>
                            <blockquote class="g-mb-25 font-italic">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda maiores, minima nostrum quia ratione suscipit!"</blockquote>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text-center g-p-20">
                            <img class="g-border g-border-5x g-border-white rounded-circle g-w100" src="http://via.placeholder.com/100x100/eee/777">
                            <div class="g-py-25">
                                <h6 class="text-uppercase font-weight-semibold g-mb-10">John Doe</h6>
                                <p class="g-text-primary">Designer</p>
                            </div>
                            <blockquote class="g-mb-25 font-italic">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda maiores, minima nostrum quia ratione suscipit!"</blockquote>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text-center g-p-20">
                            <img class="g-border g-border-5x g-border-white rounded-circle g-w100" src="http://via.placeholder.com/100x100/eee/777">
                            <div class="g-py-25">
                                <h6 class="text-uppercase font-weight-semibold g-mb-10">John Doe</h6>
                                <p class="g-text-primary">Designer</p>
                            </div>
                            <blockquote class="g-mb-25 font-italic">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda maiores, minima nostrum quia ratione suscipit!"</blockquote>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text-center g-p-20">
                            <img class="g-border g-border-5x g-border-white rounded-circle g-w100" src="http://via.placeholder.com/100x100/eee/777">
                            <div class="g-py-25">
                                <h6 class="text-uppercase font-weight-semibold g-mb-10">John Doe</h6>
                                <p class="g-text-primary">Designer</p>
                            </div>
                            <blockquote class="g-mb-25 font-italic">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda maiores, minima nostrum quia ratione suscipit!"</blockquote>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- END Testimonials Section -->

        <!-- FAQ Section -->
        <section id="faq" class="faq-section g-py-100">
            <div class="container">
                <div class="section-title text-center g-mb-70">
                    <h4 class="g-mb-20 cn-heading-v2 text-uppercase font-weight-bold">Frequently Asked Questions</h4>
                    <div class="row justify-content-center">
                        <div class="col-md-9 text-center">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias amet cipit voluptates?</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-8">
                        <div id="accordion-1" class="cn-accordion" role="tablist">
                            <div class="card g-border g-border-gray-300 g-mb-5">
                                <div id="accordion-1-header1" class="accordion-header" role="tab">
                                    <h6 class="g-mb-0">
                                        <a class="d-flex g-bg-light g-py-15 g-px-10" href="#accordion-1-body-1" data-toggle="collapse" aria-expanded="true" aria-controls="accordion-1-body-1">
                                            <span><i class="fa fa-comments fa-fw"></i> Sturgeon medaka loach?</span>
                                            <span class="align-self-center ml-auto g-mr-10"><i class="fa fa-chevron-right"></i></span>
                                        </a>
                                    </h6>
                                </div>
                                <div id="accordion-1-body-1" class="collapse show" role="tabpanel" aria-labelledby="accordion-1-header1" data-parent="#accordion-1">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur aut eaque esse facere incidunt iure laudantium maxime non, pariatur placeat possimus praesentium quam quod, tempore veniam, veritatis? Optio, voluptate.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card g-border g-border-gray-300 g-mb-5">
                                <div id="accordion-1-header2" class="accordion-header" role="tab">
                                    <h6 class="g-mb-0">
                                        <a class="d-flex g-bg-light g-py-15 g-px-10 rounded" href="#accordion-1-body-2" data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1-body-2">
                                            <span><i class="fa fa-cogs fa-fw"></i> Greenling shad redside?</span>
                                            <span class="align-self-center ml-auto g-mr-10"><i class="fa fa-chevron-right"></i></span>
                                        </a>
                                    </h6>
                                </div>
                                <div id="accordion-1-body-2" class="collapse" role="tabpanel" aria-labelledby="accordion-1-header2" data-parent="#accordion-1">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur aut eaque esse facere incidunt iure laudantium maxime non, pariatur placeat possimus praesentium quam quod, tempore veniam, veritatis? Optio, voluptate.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card g-border g-border-gray-300 g-mb-5">
                                <div id="accordion-1-header3" class="accordion-header" role="tab">
                                    <h6 class="g-mb-0">
                                        <a class="d-flex g-bg-light g-py-15 g-px-10 rounded" href="#accordion-1-body-3" data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1-body-3">
                                            <span><i class="fa fa-laptop fa-fw"></i> Channel bass flying gurnard?</span>
                                            <span class="align-self-center ml-auto g-mr-10"><i class="fa fa-chevron-right"></i></span>
                                        </a>
                                    </h6>
                                </div>
                                <div id="accordion-1-body-3" class="collapse" role="tabpanel" aria-labelledby="accordion-1-header3" data-parent="#accordion-1">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur aut eaque esse facere incidunt iure laudantium maxime non, pariatur placeat possimus praesentium quam quod, tempore veniam, veritatis? Optio, voluptate.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END FAQ Section -->

        <!-- Partner Section -->
        <section class="partner-section g-py-70 g-bg-gray-100 g-border g-border-gray-300">
            <div class="row">
                <div class="col-md-2 g-p-20">
                    <div class="partner">
                        <img src="http://via.placeholder.com/120x50/eee/777" class="d-block mx-auto img-grayscale" width="120" alt="Image Description">
                    </div>
                </div>
                <div class="col-md-2 g-p-20">
                    <div class="partner">
                        <img src="http://via.placeholder.com/120x50/eee/777" class="d-block mx-auto img-grayscale" width="120" alt="Image Description">
                    </div>
                </div>
                <div class="col-md-2 g-p-20">
                    <div class="partner">
                        <img src="http://via.placeholder.com/120x50/eee/777" class="d-block mx-auto img-grayscale" width="120" alt="Image Description">
                    </div>
                </div>

                <div class="col-md-2 g-p-20">
                    <div class="partner">
                        <img src="http://via.placeholder.com/120x50/eee/777" class="d-block mx-auto img-grayscale" width="120" alt="Image Description">
                    </div>
                </div>
                <div class="col-md-2 g-p-20">
                    <div class="partner">
                        <img src="http://via.placeholder.com/120x50/eee/777" class="d-block mx-auto img-grayscale" width="120" alt="Image Description">
                    </div>
                </div>
                <div class="col-md-2 g-p-20">
                    <div class="partner">
                        <img src="http://via.placeholder.com/120x50/eee/777" class="d-block mx-auto img-grayscale" width="120" alt="Image Description">
                    </div>
                </div>
            </div>
        </section>
        <!-- END Partner Section -->

        <!-- Contact Section -->
        <section id="contact" class="contact-section g-bg-white g-py-100">
            <div class="container">
                <div class="row justify-content-center justify-content-md-between">
                    <div class="col-sm-8 col-md-4 g-mb-30 g-mb-md-0">
                        <div class="g-py-20 g-mb-20 g-shadow-v1 text-center g-bg-primary-h g-parent-text-h">
                            <p class="g-mb-10 g-text-primary g-text-white-parent-h"><i class="icon-location-pin g-font-size-25"></i></p>
                            <h6 class="g-text-primary g-text-white-parent-h g-mb-10 text-uppercase">Location</h6>
                            <p>806 Pratt Avenue, Seattle <br> Washington</p>
                        </div>
                        <div class="g-py-20 g-mb-20 g-shadow-v1 text-center g-bg-primary-h g-parent-text-h">
                            <p class="g-mb-10 g-text-primary g-text-white-parent-h"><i class="fa fa-clock-o g-font-size-25"></i></p>
                            <h6 class="g-text-primary g-text-white-parent-h g-mb-10 text-uppercase">Schedule</h6>
                            <p>Open from Monday to Friday</p>
                            <p>From 9h to 17h</p>
                        </div>
                        <div class="g-py-20 g-mb-20 g-shadow-v1 text-center g-bg-primary-h g-parent-text-h">
                            <p class="g-mb-10 g-text-primary g-text-white-parent-h"><i class="fa fa-phone g-font-size-25"></i></p>
                            <h6 class="g-text-primary g-text-white-parent-h g-mb-10 text-uppercase">Contact</h6>
                            <p>360-961-4371</p>
                            <p>e-mail@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-7">
                        <div class="section-title g-mb-50 text-center text-md-left">
                            <h3 class="font-weight-bold g-mb-5 text-uppercase">Contact Us</h3>
                            <p class="subtitle text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, sint.</p>
                        </div>
                        <form>
                            <div class="form-group g-mb-15">
                                <input type="text" class="form-control g-px-15" placeholder="First Name">
                            </div>
                            <div class="form-group g-mb-15">
                                <input type="text" class="form-control g-px-15" placeholder="Last Name">
                            </div>
                            <div class="form-group g-mb-15">
                                <input type="email" class="form-control g-px-15" placeholder="E-mail">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control form-control-lg" rows="5" placeholder="Type here your message"></textarea>
                            </div>
                            <div class="form-group g-mb-0">
                                <button type="submit" class="btn cn-btn-primary btn-block g-rounded-50 text-uppercase">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Contact Section -->

    </div>
    <!-- END Main Content -->

    <!-- Footer -->
    {% include '../_partials/footers/footer-1.html' %}
    <!-- END Footer  -->

</div>
<!-- END Main Wrapper -->
{% endblock %}