<footer class="footer footer-light footer-v2">
    <div class="container g-py-80">
    
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8 col-sm-10 g-px-20">
                <div class="widget contact-widget g-mb-80 g-mb-lg-0">
                    <div class="logo g-py-5 g-mb-20">
                        <a href="../index.html"><img class="footer-logo" src="http://via.placeholder.com/400x150/eee/777" alt="Logo Description"></a>
                    </div>
                    <p class="g-mb-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quae!</p>
                    <div>
                        <ul>
                            <li class="g-mb-20 g-mb-lg-10 d-lg-flex align-items-center">
                                <div class="g-mb-10 g-mb-lg-0">
                                    <span class="cn-icon cn-icon-sm rounded"><i class="fa fa-map-marker"></i></span>
                                </div>
                                <span class="g-ml-md-10"><a href="#">54 Duncan Street, London N1 8BW</a></span>
                            </li>
                        
                            <li class="g-mb-20 g-mb-lg-10 d-lg-flex align-items-center">
                                <div class="g-mb-10 g-mb-lg-0">
                                    <span class="cn-icon cn-icon-sm rounded"><i class="fa fa-phone"></i></span>
                                </div>
                                <span class="g-ml-md-10"><a href="#">Phone: (+020) 1234 6789 </a></span>
                            </li>
                        
                            <li class="g-mb-20 g-mb-lg-10 d-lg-flex align-items-center">
                                <div class="g-mb-10 g-mb-lg-0">
                                    <span class="cn-icon cn-icon-sm rounded"><i class="fa fa-envelope-open"></i></span>
                                </div>
                                <span class="g-ml-md-10"><a href="#"> Email: support@theme-aspect.com</a></span>
                            </li>
                    
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-8 col-sm-10 g-px-20">
                <div class="widget footer-links-widget g-mb-80 g-mb-lg-0">
                    <h6 class="widget-title g-py-10 g-mb-25">Site info</h6>
                    <ul class="widget-list">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Our Work</a></li>
                        <li><a href="#">Our Team</a></li>
                        <li><a href="#">Prices</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-8 col-sm-10 g-px-20">
                <div class="widget footer-links-widget g-mb-80 g-mb-lg-0">
                    <h6 class="widget-title g-py-10 g-mb-25">Partner</h6>
                    <ul class="widget-list">
                        <li><a href="#">Affiliate Program</a></li>
                        <li><a href="#">Reseller Program</a></li>
                        <li><a href="#">Developer Portal</a></li>
                        <li><a href="#">Support Center</a></li>
                        <li><a href="#">Became a client</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-8 col-sm-10 g-px-20">
                <div class="widget newsletter-widget">
                    <h6 class="widget-title g-py-10 g-mb-25">Subscribe</h6>
                    <p class="g-mb-15"> Stay tuned with our latest news</p>
                    <form>
                        <div class="form-group g-mb-5">
                            <input type="text" class="form-control form-control-sm" placeholder="johndoe@gmail.com">
                        </div>
                        <button type="submit" class="btn btn-sm btn-block">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="copyright-container g-py-25">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-auto g-mb-15 g-mb-lg-0">
                    <p class="g-mb-10">2018 <span><i class="fa fa-copyright"></i></span> Copyright <a href="../../index.html" target="_blank" class="text-primary">cNote Template </a>. All rights reserved</p>
                    <p><a href="#" class="">Terms of Use</a>   /   <a href="#" class="">Privacy Policy</a></p>
                </div>
                <div class="col-lg-auto">
                    <ul class="footer-social-links list-inline">
                        <li class="list-inline-item g-mx-5 g-mb-5 g-mb-sm-0"><a href="#" class="cn-icon cn-icon-sm rounded"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item g-mx-5 g-mb-5 g-mb-sm-0"><a href="#" class="cn-icon cn-icon-sm rounded"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item g-mx-5 g-mb-5 g-mb-sm-0"><a href="#" class="cn-icon cn-icon-sm rounded"><i class="fa fa-google-plus"></i></a></li>
                        <li class="list-inline-item g-mx-5 g-mb-5 g-mb-sm-0"><a href="#" class="cn-icon cn-icon-sm rounded"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item g-mx-5 g-mb-5 g-mb-sm-0"><a href="#" class="cn-icon cn-icon-sm rounded"><i class="fa fa-skype"></i></a></li>
                        <li class="list-inline-item g-mx-5 g-mb-5 g-mb-sm-0"><a href="#" class="cn-icon cn-icon-sm rounded"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</footer>