<footer class="footer">
    <div class="container g-py-80">
        
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8 col-sm-10 g-px-20">
                <div class="widget contact-widget g-mb-80 g-mb-lg-0">
                    <h6 class="widget-title g-py-10 g-mb-25">About Company</h6>
                    <p class="g-mb-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, molestias?</p>
                    <div>
                        <ul>
                            <li class="g-mb-20 g-mb-lg-10 d-lg-flex align-items-center">
                                <div class="g-mb-10 g-mb-lg-0">
                                    <span class="cn-icon cn-icon-sm rounded"><i class="fa fa-map-marker"></i></span>
                                </div>
                                <span class="g-ml-md-10"><a href="#">54 Duncan Street, London N1 8BW</a></span>
                            </li>
                            
                            <li class="g-mb-20 g-mb-lg-10 d-lg-flex align-items-center">
                                <div class="g-mb-10 g-mb-lg-0">
                                    <span class="cn-icon cn-icon-sm rounded"><i class="fa fa-phone"></i></span>
                                </div>
                                <span class="g-ml-md-10"><a href="#">Phone: (+020) 1234 6789 </a></span>
                            </li>
                            
                            <li class="g-mb-20 g-mb-lg-10 d-lg-flex align-items-center">
                                <div class="g-mb-10 g-mb-lg-0">
                                    <span class="cn-icon cn-icon-sm rounded"><i class="fa fa-envelope-open"></i></span>
                                </div>
                                <span class="g-ml-md-10"><a href="#"> Email: support@theme-aspect.com</a></span>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-8 col-sm-10 g-px-20">
                <div class="widget footer-links-widget g-mb-80 g-mb-lg-0">
                    <h6 class="widget-title g-py-10 g-mb-25">Site info</h6>
                    <ul class="widget-list">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Our Work</a></li>
                        <li><a href="#">Our Team</a></li>
                        <li><a href="#">Prices</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-8 col-sm-10 g-px-20">
                <div class="widget footer-links-widget g-mb-80 g-mb-lg-0">
                    <h6 class="widget-title g-py-10 g-mb-25">Partner</h6>
                    <ul class="widget-list">
                        <li><a href="#">Affiliate Program</a></li>
                        <li><a href="#">Reseller Program</a></li>
                        <li><a href="#">Developer Portal</a></li>
                        <li><a href="#">Support Center</a></li>
                        <li><a href="#">Became a client</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 g-px-20">
                
                <div class="widget newsletter-widget">
                    <h6 class="widget-title g-py-10 g-mb-25">Newsletter</h6>
                    <form class="g-mb-20">
                        <div class="input-group input-group-focus-v2">
                            <input type="text" class="form-control form-control-sm" placeholder="E-mail">
                            <button type="submit" class="input-group-append g-bg-bluegray-700 g-bg-primary-h cursor-pointer g-font-size-14 g-px-20">
                                <i class="fa fa-paper-plane g-font-size-12 g-mr-5"></i> Send
                            </button>
                        </div>
                    </form>
                    <div>
                        <p class="g-mb-10">Follow:</p>
                        <a href="#" class="cn-icon cn-icon-sm rounded g-mr-10 g-mb-10"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="cn-icon cn-icon-sm rounded g-mr-10 g-mb-10"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="cn-icon cn-icon-sm rounded g-mr-10 g-mb-10"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="cn-icon cn-icon-sm rounded g-mr-10 g-mb-10"><i class="fa fa-github"></i></a>
                    </div>
                </div>
          
            </div>
        </div>
        
    </div>
    
    <div class="copyright-container g-py-25">
        <p class="text-center">2018 <span><i class="fa fa-copyright"></i></span> Copyright <a href="../../index.html" target="_blank" class="text-primary">cNote Template </a>. All rights reserved</p>
    </div>
</footer>