
<div class="h-100">
    <div style="height:336px;" class="g-bg-gray-100">
        <div style="height:336px;" class="text-center g-border g-border-gray-300 g-border-3x">
            <img src="@Url.Content("/Content/Images/DefaultPetImage.png")" class="g-w100 rounded-circle g-mt-50" alt="Profile Picture">
            <ul class="list-unstyled g-text-gray-600 g-my-15 g-my-md-10">
                <li class="g-mb-4 g-mb-md-10">No hay alertas para las fechas seleccionadas.</li>
                <li class="g-mb-4 g-mb-md-10">Por favor, trate con otros filtros.</li>
            </ul>
        </div>
    </div>
</div>
