
@{
    ViewBag.Title = "Alerta No Existe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="g-flex-center h-100">
    <div class="container g-bg-gray-100">
        <div class="text-center g-border g-border-gray-300 g-border-3x g-py-30 g-py-md-100">
            <h3 class="g-font-size-md-30 g-font-size-30 g-text-primary">¡ La Alerta no Existe !</h3>
            <h2 class="font-montserrat font-weight-bold g-mt-30 g-mb-30">"Unidos por nuestros Engreidos"</h2>
        </div>
    </div>
</div>

