
<!-- Header -->
<header id="header" class="cn-header position-relative">
    <!-- Main Navbar -->
    @*class="cn-navbar-wrapper g-border-b g-border-gray-300"  g-bg-bluegray-700 bg-dark*@
    <div class="cn-navbar-wrapper cn-navbar-white-color g-bg-bluegray-700">
        <nav class="navbar navbar-expand-lg">

            <div class="container">
                <div class="logo-wrapper">
                    @*<a class="navbar-brand" href="/Home"><img class="logo" src="http://via.placeholder.com/150x50/eee/777" alt="Logo"></a>*@
                    <a class="navbar-brand" href="/Home">
                        <h4><i>Alerta 
                            <span><i class="fa fa-bell"></i></span>
                            Mascota</i></h4>
                    </a>
                </div>
                <button class="navbar-toggler navbar-toggler-right border-0 cursor-pointer" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon cn-icon cn-icon-sm">
                        <i class="fa fa-bars g-font-size-20"></i>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav g-ml-20">
                        @*<li class="nav-item">
                            @Html.ActionLink("Nosotros", "Index", "Home", null, new { @class = "nav-link" })
                        </li>*@

                        <li class="nav-item">
                            @Html.ActionLink("¿ Como Funciona ?", "About", "Home", null, new { @class = "nav-link" })
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="homepages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Busqueda</a>
                            <ul class="dropdown-menu" aria-labelledby="homepages">
                                <li><a class="dropdown-item" href="/PetSearch">Alertas en Mapa</a></li>
                                <li><a class="dropdown-item" href="#">Casos de Exito</a></li>
                            </ul>
                        </li>

                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                        <li class="nav-item">
                            <a id="adminLink" href="/Admin" class="nav-link">
                                <i class="icon-grid g-mr-5"></i><span>Admin</span>
                            </a>
                        </li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>

        </nav>
    </div>
    <!-- END Main Navbar -->
</header>
<!-- END Header -->