@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    string ownerName = Session["OwnerName"] as string;
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @style= "text-align:right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a id="manage" href="/Manage" class="nav-link" title="Manage">
                <i class="icon-user g-mr-5"></i>@ownerName
            </a>
        </li>
        <li class="nav-item">
            <a id="logoff" href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Log off</a>
        </li>
    </ul>
    }
}
else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            @Html.ActionLink("Crear Cuenta", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link", id = "registerLink" })
        </li>
        <li class="nav-item">
            <a id="loginLink" href="/Account/Login" class="nav-link">
                <i class="icon-user g-mr-5"></i><span>Iniciar Sesión</span>
            </a>
        </li>
    </ul>
}
