@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    string ownerName = Session["OwnerName"] as string;
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class= "ml-auto" }))
    {
    @Html.AntiForgeryToken()

    <ul class="navbar-nav ml-auto">
        <li class="nav-item list-group">
            <a id="manage" href="/Manage" class="nav-link g-mr-10" title="Tu Cuenta">
                <span class="text-capitalize g-font-size-md-16 font-italic g-text-cyan-400">Bienvenido&nbsp;&nbsp;</span>
                <i class="icon-user g-mr-5"></i>@ownerName&nbsp;&nbsp;
            </a>
        </li>
        <li class="nav-item">
            <a id="logoff" href="javascript:document.getElementById('logoutForm').submit()" class="btn cn-btn-secondary g-mt-15 g-mb-20">
                <i class="icon-logout g-mr-5"></i>Salir
            </a>
        </li>
    </ul>
    }
}
else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a id="loginLink" href="/Account/Login" class="nav-link g-mr-10">
                <i class="icon-user g-mr-5"></i><span>Iniciar Sesión</span>
            </a>
        </li>
        <li class="nav-item">
            @*nav-link   btn cn-btn-primary g-mt-15*@
            <a id="registerLink" href="/Account/Register" class="btn cn-btn-primary g-mt-15 g-mb-20">
                <i class="icon-notebook g-mr-5"></i><span>Crear Cuenta</span>
            </a>
        </li>
    </ul>
}
