@{
    ViewBag.Title = "¿ Como Funciona ?";
}

<section id="about" class="g-py-50 g-border-gray-300">
    <div class="container">
        <div class="section-title text-center">
            <h4 class="title text-uppercase cn-heading-v2 font-weight-bold">¿ Como Funciona ?</h4>
        </div>
    </div>
</section>