
@{
    ViewBag.Title = "Captcha Invalido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="g-bg-white g-border g-border-gray-300 g-p-20 g-shadow-v1">
    <div class="text-center">
        <ul class="list-unstyled g-text-gray-600 g-mt-50 g-mb-50">
            <li class="g-mb-4 g-mb-md-10">&nbsp;</li>
            <li class="g-mb-4 g-mb-md-10">Error en la Validacion Captcha</li>
            <li class="g-mb-4 g-mb-md-10">&nbsp;</li>
        </ul>
    </div>
</div>

