@{
    ViewBag.Title = "Nosotros";
}

<section id="about" class="g-py-40 g-border-gray-300">
    <div class="container">
        <div class="section-title text-center">
            <h4 class="title text-uppercase cn-heading-v2 font-weight-bold">Alerta Mascota</h4>
        </div>
    </div>

    <div class="row align-items-center justify-content-center g-mt-20">
        <div class="col-xl-6">
            <div class="col-lg-10 text-justify">
                <p class="g-mb-5">
                    <em>
                        Muchas veces, pasando por la calle o en redes sociales, vemos avisos de mascotas perdidas.
                        Nos sentimos tristes por ellas, por sus dueños y pensamos en que haríamos nosotros si esa situación nos llegara a pasar.
                        Definitivamente buscaríamos la manera de poder <strong class="g-text-primary">avisar en ese mismo momento a la mayor cantidad de gente cercana
                        al lugar donde se perdió nuestro engreído.</strong> De esa manera todos alrededor estarían atentos, o en el mejor de los casos
                        nos ayudarían también a buscarlo.
                    </em>
                </p>
            </div>
        </div>
        <div class="col-12 col-sm-10 col-xl-5 ">
            <img class="img-fluid" src="~/Content/Images/BoxerHeachado.png" alt="Alerta Mascota Imagen1">
        </div>
    </div>

    <div class="row align-items-center justify-content-center">
        <div class="col-12 col-sm-10 col-xl-5 ">
            <img class="img-fluid" src="~/Content/Images/PerroGato001.jpg" alt="Alerta Mascota Imagen2">
        </div>
        <div class="col-xl-6">
            <div class="col-lg-10 text-justify">
                <p class="g-mb-5">
                    <em>
                        Es así como nace <strong class="g-text-primary">Alerta Mascota.</strong> Una aplicación que tiene como finalidad permitirnos trabajar en equipo,
                        para encontrar a nuestros engreídos de cuatro patas si por alguna razón llegaran a perderse.
                        La tristeza y el temor que sienten al estar lejos de sus dueños es terrible.
                        Ayudémonos a recuperarlos en caso se pierdan.
                    </em>
                </p>
            </div>
        </div>
    </div>

    <div class="row align-items-center justify-content-center">
        <div class="col-xl-6">
            <div class="col-lg-10 text-justify">
                <p class="g-mb-5">
                    <em>
                        Y si además vez por la calle a alguno de estos angelitos perdidos,
                        también puedes emitir una alerta y hacer saber a la comunidad sobre este hecho.
                    </em>
                </p>
                <p class="g-mb-5">
                    <em>
                        Juntos, trabajando en equipo, <strong class="g-text-primary">podemos hacer que muevan sus colitas de felicidad otra vez al reunirse con sus dueños.</strong>
                    </em>
                </p>
            </div>
        </div>
        <div class="col-12 col-sm-10 col-xl-5 ">
            <img class="img-fluid" src="~/Content/Images/PerroGato004.jpg" alt="Alerta Mascota Imagen3">
        </div>
    </div>

    <div class="row align-items-center justify-content-center g-mt-30">
        <h1 class="font-montserrat font-weight-bold g-mb-30">"Unidos por nuestros Engreidos"</h1>
    </div>
</section>