{% extends '../_partials/cnote-main-layout.html' %}
{% block page-title %}<title>404 -Not Found</title> {% endblock %}

{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper" class="g-bg-gray-100 h-100">
    
    <div class="g-flex-center h-100">
        <div class="container g-bg-gray-100">
            <div class="text-center g-border g-border-gray-300 g-border-3x g-py-30 g-py-md-100">
                <h1 class="g-font-size-md-60 g-font-size-35 text-uppercase font-montserrat font-weight-bold">404</h1>
                <h3 class="g-font-size-md-50 g-font-size-30 text-uppercase g-text-primary">Page not found</h3>
                <ul class="list-unstyled g-text-gray-600 g-my-15 g-my-md-40">
                    <li class="g-mb-4 g-mb-md-10">You may have mis-typed the URL.</li>
                    <li class="g-mb-4 g-mb-md-10">Or the page has been removed.</li>
                    <li class="g-mb-4 g-mb-md-10">Actually, there is nothing to see here...</li>
                    <li class="g-mb-4 g-mb-md-10">Click on the links below to do something, Thanks!</li>
                </ul>
                <div class="d-sm-flex justify-content-center ">
                    <div class="g-mb-10">
                        <a href="/cnote-v1.0/cnote-main/homepages/homepage-1.html" class="btn cn-btn-primary g-rounded-50 g-mr-sm-20">
                            <span class="fa fa-home g-mr-10"></span>Home
                        </a>
                    </div>
                    <div class="g-mb-10">
                        <a href="/cnote-v1.0/cnote-main/pages/contact.html" class="btn cn-btn-bluegray-800 g-rounded-50">
                            <span class="fa fa-pencil g-mr-10"></span>Contact Us
                        </a>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- END Main Wrapper -->
{% endblock %}
