{% extends '../_partials/cnote-main-layout.html' %}
{% block page-title %}<title>About Page 1 | cNote Responsive Template</title> {% endblock %}

{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper">
    
    <!-- Header -->
    <header id="header" class="cn-header">
        {% include '../_partials/headers/_main-header.html' %}
    </header>
    <!-- END Header -->
    
    <!-- Main Content -->
    <div id="main-content">

        <!-- Page Header -->
        <section class="jumbotron g-py-50 g-bg-gray-100 g-border-b g-border-b-gray-300">
            <div class="container">
                <div class="g-flex-md-middle">
                    <h5 class="text-uppercase">About Page 1</h5>
                    <nav aria-label="breadcrumb" class="ml-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About 1</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- END Page Header -->

        <!-- Features-->
        <section class="g-py-100">
            <div class="container">
                <div class="section-title text-center g-mb-70 g-px-20">
                    <h4 class="title text-uppercase g-mb-20 cn-heading-v2 font-weight-bold">Our Features</h4>
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam itaque odit praesentium quas quidem.</p>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-4 g-mb-30 g-mb-lg-0">
                        <div class="feature text-center g-py-10 g-py-lg-50 g-px-20 pulse-primary-effect">
                            <div class="cn-icon cn-icon-lg cn-icon-primary rounded-circle">
                                <i class="fa fa-pencil g-font-size-20" aria-hidden="true"></i>
                            </div>
                            <h5 class="text-uppercase g-my-20 font-weight-semibold">Free updates</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, modi.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 g-mb-30 g-mb-lg-0">
                        <div class="feature text-center g-py-10 g-py-lg-50 g-px-20 g-border-md-x g-border-gray-300 pulse-primary-effect">
                            <div class="cn-icon cn-icon-lg cn-icon-primary rounded-circle">
                                <i class="fa fa-line-chart g-font-size-20" aria-hidden="true"></i>
                            </div>
                            <h5 class="text-uppercase g-my-20 font-weight-semibold">Marketing</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, modi.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 g-mb-30 g-mb-lg-0">
                        <div class="feature text-center g-py-10 g-py-lg-50 g-px-20 pulse-primary-effect">
                            <div class="cn-icon cn-icon-lg cn-icon-primary rounded-circle">
                                <i class="fa fa-paper-plane g-font-size-20" aria-hidden="true"></i>
                            </div>
                            <h5 class="text-uppercase g-my-20 font-weight-semibold">Presentation</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, modi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Features-->

        <!-- Section -->
        <section class="g-pb-100">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-6">
                        <div class="text-center text-lg-left g-mb-40 g-mb-lg-0">
                              <h4 class="text-uppercase font-weight-semibold">What <span class="g-text-primary">we do</span> best</h4>
                              <p class="g-py-20 g-px-20 g-px-lg-0">Pol, a bene deus, rusticus terror! Azureus, emeritis tuss callide reperire de camerarius, teres triticum. Est teres burgus, cesaris?</p>
                              <ul class="list-unstyled check-list g-ml-lg-25 g-mb-30 g-px-10 g-px-lg-0">
                                  <li class="g-mb-10">Salvus buxums ducunt.</li>
                                  <li class="g-mb-10">A falsis, boreas peritus accola.</li>
                                  <li class="g-mb-10">Nunquam examinare boreas.</li>
                                  <li class="g-mb-20">Lixa placidus exemplar est.</li>
                              </ul>
                              <a href="#" class="btn cn-btn-primary">Get in touch</a>
                          </div>
                    </div>

                    <div class="col-lg-6 g-px-10 g-px-lg-30">
                        <p class="text-center">
                            <img src="http://via.placeholder.com/900x600/eee/777" class="img-fluid" alt="Image Description">
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Section-->

        <!-- Counters -->
        <section class="g-bg-gray-100 g-py-100">
            <div class="container">

                <div class="counters v1">
                    <div class="row">
                        <!-- Counter 1 -->
                        <div class="col-lg-3 text-center">
                            <div class="counter-wrapper g-px-20 g-my-20 g-rounded-5">
                                <div class="counter-icon g-bg-gray-100 g-rounded-5">
                                    <i class="icon-picture g-font-size-30"></i>
                                </div>
                                <div class="counter-text">
                                    <h5 class="g-font-size-25 g-text-gray-800 countup font-weight-bold" data-counter="253">253</h5>
                                    <p class="g-text-gray-800">Projects</p>
                                </div>
                            </div>
                        </div>
                        <!-- Counter 2 -->
                        <div class="col-lg-3 text-center">
                            <div class="counter-wrapper g-px-20 g-my-20 g-rounded-5">
                                <div class="counter-icon g-bg-gray-100 g-rounded-5">
                                    <i class="icon-cup g-font-size-30"></i>
                                </div>
                                <div class="counter-text">
                                    <h5 class="g-font-size-25 g-text-gray-800 countup font-weight-bold" data-counter="944">944</h5>
                                    <p class="g-text-gray-800">Coffees</p>
                                </div>
                            </div>
                        </div>
                        <!-- Counter 3 -->
                        <div class="col-lg-3 text-center">
                            <div class="counter-wrapper g-px-20 g-my-20 g-rounded-5">
                                <div class="counter-icon g-bg-gray-100 g-rounded-5">
                                    <i class="icon-note g-font-size-30"></i>
                                </div>
                                <div class="counter-text">
                                    <h5 class="g-font-size-25 g-text-gray-800 countup font-weight-bold" data-counter="28430">28430</h5>
                                    <p class="g-text-gray-800">Code Lines</p>
                                </div>
                            </div>
                        </div>
                        <!-- Counter 4 -->
                        <div class="col-lg-3 text-center">
                            <div class="counter-wrapper g-px-20 g-my-20 g-rounded-5">
                                <div class="counter-icon g-bg-gray-100 g-rounded-5">
                                    <i class="icon-people g-font-size-30"></i>
                                </div>
                                <div class="counter-text">
                                    <h5 class="g-font-size-25 g-text-gray-800 countup font-weight-bold" data-counter="479">479</h5>
                                    <p class="g-text-gray-800">Users satisfied</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- END Counters -->

        <!-- Section-->
        <section class="g-py-100">
            <div class="container">
                <div class="row g-mb-100">
                    <div class="col-lg-4 g-mb-20 g-mb-md-0">
                        <div class="text-center g-py-10 g-mx-20">
                            <div class="text-primary g-mb-20">
                                <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                            </div>
                            <h5 class="text-uppercase g-text-gray-700 font-weight-semibold g-mb-30">Best Quality</h5>
                            <p class="g-m-md-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolor dolore, error esse iure perferendis.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 g-mb-20 g-mb-md-0">
                        <div class="text-center g-py-10 g-mx-20 g-border-lg-x g-border-gray-300">
                            <div class="text-primary g-mb-20">
                                <i class="fa fa-cogs fa-2x" aria-hidden="true"></i>
                            </div>
                            <h5 class="text-uppercase g-text-gray-700 font-weight-semibold g-mb-30">Excellent Features</h5>
                            <p class="g-m-md-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolor dolore, error esse iure perferendis.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 g-mb-20 g-mb-md-0">
                        <div class="text-center g-py-10 g-mx-20">
                            <div class="text-primary g-mb-20">
                                <i class="fa fa-signal fa-2x" aria-hidden="true"></i>
                            </div>
                            <h5 class="text-uppercase g-text-gray-700 font-weight-semibold g-mb-30">Fully responsive</h5>
                            <p class="g-m-md-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolor dolore, error esse iure perferendis.</p>
                        </div>
                    </div>
                </div> <!-- / .row -->
        
                <div class="row g-px-20 g-px-md-40 g-px-lg-0">
                    <div class="col-md-6 g-p-0 g-pr-md-30">
                        <p>HTML5</p>
                        <div class="progress style1 progress-size-2 progress-rounded">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                <span class="tooltiptext"></span>
                            </div>
                        </div>
                
                        <p>SCSS</p>
                        <div class="progress style1 progress-size-2 progress-rounded">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                <span class="tooltiptext"></span>
                            </div>
                        </div>
                
                        <p>jAVASCRIPT</p>
                        <div class="progress style1 progress-size-2 progress-rounded">
                            <div class="progress-bar" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">
                                <span class="tooltiptext"></span>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-md-6 g-p-0 g-pl-md-30">
                        <p>WORDPRESS</p>
                        <div class="progress style1 progress-size-2 progress-rounded">
                            <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                                <span class="tooltiptext"></span>
                            </div>
                        </div>
                
                        <p>LARAVEL</p>
                        <div class="progress style1 progress-size-2 progress-rounded">
                            <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                <span class="tooltiptext"></span>
                            </div>
                        </div>
                
                        <p>ANGLULAR</p>
                        <div class="progress style1 progress-size-2 progress-rounded">
                            <div class="progress-bar" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">
                                <span class="tooltiptext"></span>
                            </div>
                        </div>
            
                    </div>
        
                </div>
            </div>
        </section>
        <!-- END Section-->

        <!-- Team -->
        <section class="g-py-100 g-bg-gray-100">
            <div class="container">
                <div class="section-title text-center g-mb-70 g-px-15">
                    <h4 class="title text-uppercase g-mb-20 cn-heading-v2 font-weight-bold">Meet the team</h4>
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam itaque odit praesentium quas quidem.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center bottom-slide">
                        <!-- Member 1 -->
                        <div class="col-sm-8 col-lg-4 g-mb-20">
                            <div class="member g-border g-border-gray-300 g-border-primary-h">
                                <div class="caption">
                                    <div class="caption-default">
                                        <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                                    </div>
                                    <div class="caption-active">
                                        <div class="g-px-20">
                                            <div class="member-description g-bg-white text-center">
                                                <h6 class="text-uppercase font-weight-bold g-bg-primary g-py-10 g-mb-10 g-rounded-top-5">John Doe</h6>
                                                <p class="text-muted g-font-size-16">Designer</p>
                                                <ul class="list-inline mx-auto text-center g-py-15">
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-twitter"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-facebook"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-google-plus"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Member 1 -->

                        <!-- Member 2 -->
                        <div class="col-sm-8 col-lg-4 g-mb-20">
                            <div class="member g-border g-border-gray-300 g-border-primary-h">
                                <div class="caption">
                                    <div class="caption-default">
                                        <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                                    </div>
                                    <div class="caption-active">
                                        <div class="g-px-20">
                                            <div class="member-description g-bg-white text-center">
                                                <h6 class="text-uppercase font-weight-bold g-bg-primary g-py-10 g-mb-10 g-rounded-top-5">Jenny Doe</h6>
                                                <p class="text-muted g-font-size-16">Designer</p>
                                                <ul class="list-inline mx-auto text-center g-py-15">
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-twitter"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-facebook"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-google-plus"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Member 2 -->

                        <!-- Member 3 -->
                        <div class="col-sm-8 col-lg-4 g-mb-20">
                            <div class="member g-border g-border-gray-300 g-border-primary-h">
                                <div class="caption">
                                    <div class="caption-default">
                                        <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                                    </div>
                                    <div class="caption-active">
                                        <div class="g-px-20">
                                            <div class="member-description g-bg-white text-center">
                                                <h6 class="text-uppercase font-weight-bold g-bg-primary g-py-10 g-mb-10 g-rounded-top-5">John Doe</h6>
                                                <p class="text-muted g-font-size-16">Designer</p>
                                                <ul class="list-inline mx-auto text-center g-py-15">
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-twitter"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-facebook"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-google-plus"></i></a></li>
                                                    <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Member 3 -->
                    </div>
            </div>
            </section>
        <!-- END Team -->

        <!-- Prices -->
        <section class="g-py-100">
            <div class="container">
                <div class="section-title text-center g-mb-70 g-px-15">
                    <h4 class="title text-uppercase g-mb-20 cn-heading-v2 font-weight-bold">Our Prices</h4>
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam itaque odit praesentium quas quidem.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-4 g-pb-20 g-pb-lg-0">
                        <div class="plan g-shadow-v1 g-bg-white g-border g-border-gray-300 text-center g-rounded-5">

                            <div class="g-border-b g-border-gray-300 g-py-20 g-bg-bluegray-700">
                                <h4 class="text-uppercase font-weight-bold">Basic</h4>
                            </div>

                            <div class="g-border-b g-border-gray-300 g-py-20">
                                <p>$ <span class="price font-weight-bold g-font-size-60 font-montserrat">10</span> /mo</p>
                                <p class="text-muted g-font-size-14 g-mb-10">You can upgrade any time</p>
                            </div>

                            <ul class="list-unstyled g-py-45">
                                <li class="g-mb-20"><span class="font-weight-bold">50GB</span> Storage</li>
                                <li class="g-mb-20"><span class="font-weight-bold">Unlimited</span> Members</li>
                                <li class="g-mb-20"><span class="font-weight-bold">10</span> Projects</li>
                                <li class="g-mb-20"><span class="font-weight-bold">Admin</span> Area</li>
                                <li><span class="font-weight-bold">3</span> Months Support</li>
                            </ul>

                            <div class="g-pb-20">
                                <a href="#" class="btn cn-btn-bluegray-700 g-py-15 g-px-70 g-px-md-100">Purchase</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-4 g-pb-20 g-pb-lg-0">
                        <div class="plan recommended-plan g-shadow-v1 g-bg-white g-border g-border-gray-300 text-center g-rounded-5">

                            <div class="g-border-b g-border-gray-300 g-py-20 g-bg-primary">
                                <h4 class="text-uppercase font-weight-bold">Medium</h4>
                            </div>

                            <div class="g-border-b g-border-gray-300 g-py-20">
                                <p>$ <span class="price font-weight-bold g-font-size-60 font-montserrat">50</span> /mo</p>
                                <p class="text-muted g-font-size-14 g-mb-10">You can upgrade any time</p>
                            </div>

                            <ul class="list-unstyled g-py-45">
                                <li class="g-mb-20"><span class="font-weight-bold">100GB</span> Storage</li>
                                <li class="g-mb-20"><span class="font-weight-bold">Unlimited</span> Members</li>
                                <li class="g-mb-20"><span class="font-weight-bold">50</span> Projects</li>
                                <li class="g-mb-20"><span class="font-weight-bold">Admin</span> Area</li>
                                <li><span class="font-weight-bold">6</span> Months Support</li>
                            </ul>

                            <div class="g-pb-20">
                                <a href="#" class="btn cn-btn-primary g-py-15 g-px-70 g-px-md-100">Purchase</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-4 g-pb-20 g-pb-lg-0">
                            <div class="plan g-shadow-v1 g-bg-white g-border g-border-gray-300 text-center g-rounded-5">

                                <div class="g-border-b g-border-gray-300 g-py-20 g-bg-bluegray-700">
                                    <h4 class="text-uppercase font-weight-bold">Advanced</h4>
                                </div>

                                <div class="g-border-b g-border-gray-300 g-py-20">
                                    <p>$ <span class="price font-weight-bold g-font-size-60 font-montserrat">90</span> /mo</p>
                                    <p class="text-muted g-font-size-14 g-mb-10">You can upgrade any time</p>
                                </div>

                                <ul class="list-unstyled g-py-45">
                                    <li class="g-mb-20"><span class="font-weight-bold">Unlimited</span> Storage</li>
                                    <li class="g-mb-20"><span class="font-weight-bold">Unlimited</span> Members</li>
                                    <li class="g-mb-20"><span class="font-weight-bold">100</span> Projects</li>
                                    <li class="g-mb-20"><span class="font-weight-bold">Admin</span> Area</li>
                                    <li><span class="font-weight-bold">9</span> Months Support</li>
                                </ul>

                                <div class="g-pb-20">
                                    <a href="#" class="btn cn-btn-bluegray-700 g-py-15 g-px-70 g-px-md-100">Purchase</a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </section>
        <!-- END Prices -->

    </div>
    <!-- END Main Content -->
    
    <!-- Footer -->
    {% include '../_partials/footers/footer-1.html' %}
    <!-- END Footer -->

</div>
<!-- END Main Wrapper -->
{% endblock %}
