{% extends '../_partials/cnote-main-layout.html' %}
{% block page-title %}<title>About Page 2 | cNote Responsive Template</title> {% endblock %}

{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper">
    
    <!-- Header -->
    <header id="header" class="cn-header">
        {% include '../_partials/headers/_main-header.html' %}
    </header>
    <!-- END Header -->
    
    <!-- Main Content -->
    <div id="main-content">

        <!-- Page Header -->
        <section class="jumbotron g-py-50 g-bg-gray-100 g-border-b g-border-b-gray-300">
            <div class="container">
                <div class="g-flex-md-middle">
                    <h5 class="text-uppercase">About Page 2</h5>
                    <nav aria-label="breadcrumb" class="ml-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About 2</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- END Page Header -->

        <!-- Section -->
        <section class="g-bg-white bottom-arrow g-py-100">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <img class="img-fluid g-mb-70" src="http://via.placeholder.com/1280x600/eee/777" alt="Image Description">
                     </div>
                    <div class="col-md-9 text-center g-font-size-16 g-font-size-md-20 g-px-10">
                        <p>Lorem ipsum <span class="text-primary">dolor</span> sit amet, consectetur adipisicing elit.</p>
                        <p>Teres scutums ducunt ad tus. Cum historia nocere, omnes sectames fallere gratis, noster boreases?</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Section -->

        <!-- Progress-steps -->
        <section class="g-py-100 g-bg-gray-100 g-border-b g-border-gray-300">
            <div class="container">

                <div class="section-title text-center g-mb-70 g-px-15">
                    <h4 class="g-mb-20 cn-heading-v2 text-uppercase font-weight-bold">How we proceed</h4>
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <p>Don't forget to remove this dummy text.</p>
                            <p>Cum fuga experimentum, omnes fluctuses transferre alter, bi-color impositioes,</p>
                        </div>
                    </div>
                </div>

                <!-- Progress Steps -->
                <div class="progress-steps progress-steps-v1 progress-steps-v1">

                    <div class="d-md-flex justify-content-between flex-wrap flex-lg-nowrap">
                        <div class="step">
                            <div class="step-icon-wrap">
                                <div class="step-item g-flex-center g-bg-primary-h">
                                    <div>
                                        <p class="text-center g-mb-20"><i class="fa fa-users g-font-size-30" aria-hidden="true"></i></p>
                                        <p class="text-uppercase font-weight-bold">Brainstorm</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="step">
                            <div class="step-icon-wrap">
                                <div class="step-item g-flex-center g-bg-primary-h">
                                    <div>
                                        <p class="text-center g-mb-20"><i class="fa fa-rocket g-font-size-30" aria-hidden="true"></i></p>
                                        <p class="text-uppercase font-weight-bold">Concept</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="step">
                            <div class="step-icon-wrap">
                                <div class="step-item g-flex-center g-bg-primary-h">
                                    <div>
                                        <p class="text-center g-mb-20"><i class="fa fa-graduation-cap g-font-size-30" aria-hidden="true"></i></p>
                                        <p class="text-uppercase font-weight-bold">Design</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="step">
                            <div class="step-icon-wrap">
                                <div class="step-item g-flex-center g-bg-primary-h">
                                    <div>
                                        <p class="text-center g-mb-20"><i class="fa fa-heart-o g-font-size-30" aria-hidden="true"></i></p>
                                        <p class="text-uppercase font-weight-bold">Build</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- END Progress Steps -->

            </div>
        </section>
        <!-- END Progress-steps -->

        <!-- Offers -->
        <section class="g-py-100">
            <div class="container">

                <div class="section-title text-center g-mb-50 g-px-15">
                    <h4 class="title text-uppercase cn-heading-v2 font-weight-bold">What we offer to you</h4>
                    <div class="row justify-content-center g-my-20">
                        <div class="col-md-9">
                            <p>Don't forget to remove this dummy text.</p>
                            <p>Accusamus alias amet asperiores aspernatur assumenda corporis error expedita iusto optio, quam quod reiciendis suscipit voluptates</p>
                        </div>
                    </div>
                </div>
    
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 order-2 order-lg-1">
                        <ul class="list-unstyled">
                            <li class="d-lg-flex align-items-center text-center text-lg-left g-mb-15 g-border g-border-gray-300 g-shadow-v2 g-p-20 g-bg-primary-h g-parent-text-h">
                                <div class="g-mb-10 g-mb-lg-0">
                                    <i class="icon-chart g-font-size-25 g-text-primary g-text-white-parent-h" aria-hidden="true"></i>
                                </div>
                                <div class="g-ml-lg-15">
                                    <p>Superbus cannabiss ducunt ad eleates.</p>
                                </div>
                            </li>
                            <li class="d-lg-flex align-items-center text-center text-lg-left g-mb-15 g-border g-border-gray-300 g-shadow-v2 g-p-20 g-bg-primary-h g-parent-text-h">
                                <div class="g-mb-10 g-mb-lg-0">
                                    <i class="icon-graph g-font-size-25 g-text-primary g-text-white-parent-h" aria-hidden="true"></i>
                                </div>
                                <div class="g-ml-lg-15">
                                    <p>Abactor accelerares, tanquam altus nuptia.</p>
                                </div>
                            </li>
                            <li class="d-lg-flex align-items-center text-center text-lg-left g-mb-15 g-border g-border-gray-300 g-shadow-v2 g-p-20 g-bg-primary-h g-parent-text-h">
                                <div class="g-mb-10 g-mb-lg-0">
                                    <i class="icon-globe g-font-size-25 g-text-primary g-text-white-parent-h" aria-hidden="true"></i>
                                </div>
                                <div class="g-ml-lg-15">
                                    <p>Deus experimentums, tanquam nobilis demissio.</p>
                                </div>
                            </li>
            
                        </ul>
                    </div>
                    <div class="col-10 col-lg-5 offset-lg-1 order-lg-2 g-mb-20 text-center">
                        <div class="box-image position-relative g-mb-80 g-mb-lg-0">
                            <img src="http://via.placeholder.com/900x600/eee/777" class="img-fluid" alt="Image Description">
                        </div>
                    </div>
                </div>

            </div>

        </section>
        <!-- END Offers -->

        <!-- Team -->
        <section class="g-py-100 g-bg-gray-100">
            <div class="container">
                
                <div class="section-title text-center g-mb-70 g-px-15">
                    <h4 class="title text-uppercase g-mb-20 cn-heading-v2 font-weight-bold">Our Team</h4>
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <p>Don't forget to remove this dummy text.</p>
                            <p>Cum fuga experimentum, omnes fluctuses transferre alter, bi-color impositioes,</p>
                        </div>
                    </div>
       
                </div>
                <div class="row justify-content-center">
                    <!-- Member 1 -->
                    <div class="col-sm-8 col-lg-4 g-mb-20">
                        <div class="member g-border g-border-gray-300 g-border-primary-h g-bg-white">
                            <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                            <div class="g-p-20">
                                <div class="member-description text-center">
                                    <p class="text-uppercase font-weight-semibold g-mb-5">John Doe</p>
                                    <p class="font-italic g-text-primary g-font-size-14 g-mb-15">Designer</p>
                                    <ul class="list-inline mx-auto text-center">
                                        <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle"><i class="fa fa-twitter"></i></a></li>
                                        <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle"><i class="fa fa-facebook"></i></a></li>
                                        <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle"><i class="fa fa-google-plus"></i></a></li>
                                        <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Member 1 -->

                    <!-- Member 2 -->
                    <div class="col-sm-8 col-lg-4 g-mb-20">
                        <div class="member g-border g-border-gray-300 g-border-primary-h g-bg-white">
                            <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                            <div class="g-p-20">
                                <div class="member-description text-center">
                                    <p class="text-uppercase font-weight-semibold g-mb-5">John Doe</p>
                                    <p class="font-italic g-text-primary g-font-size-14 g-mb-15">Designer</p>
                                    <ul class="list-inline mx-auto text-center">
                                        <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle"><i class="fa fa-twitter"></i></a></li>
                                        <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle"><i class="fa fa-facebook"></i></a></li>
                                        <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle"><i class="fa fa-google-plus"></i></a></li>
                                        <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Member 2 -->

                    <!-- Member 3 -->
                    <div class="col-sm-8 col-lg-4 g-mb-20">
                        <div class="member g-border g-border-gray-300 g-border-primary-h g-bg-white">
                            <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                            <div class="g-p-20">
                                <div class="member-description text-center">
                                    <p class="text-uppercase font-weight-semibold g-mb-5">John Doe</p>
                                    <p class="font-italic g-text-primary g-font-size-14 g-mb-15">Designer</p>
                                    <ul class="list-inline mx-auto text-center">
                                        <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle"><i class="fa fa-twitter"></i></a></li>
                                        <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle"><i class="fa fa-facebook"></i></a></li>
                                        <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle"><i class="fa fa-google-plus"></i></a></li>
                                        <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Member 3 -->

                </div>
            </div>
        </section>
        <!-- END Team -->

        <!-- Testimonials -->
        <section class="testimonials-section g-py-100 g-bg-white">
            <div class="container">
            
                <div class="section-title text-center g-mb-70 g-px-15">
                    <h4 class="title text-uppercase cn-heading-v1-center font-weight-bold">Testimonials</h4>
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam itaque odit praesentium.</p>
                        </div>
                    </div>
                </div>
            
                <div class="row">
                
                    <div class="col-lg-6">
                        <div class="testimonials g-p-30 g-mb-10 g-border g-border-gray-300 g-border-primary-h">
                            <div class="row no-gutters">
                                <div class="col-md-3">
                                    <div class="testimonials-image text-center g-mb-15 g-mb-md-0">
                                        <img class="img-fluid rounded-circle" src="http://via.placeholder.com/100x100/eee/111" alt="Image Description">
                                    </div>
                                </div>
                                <div class="col-md-9 text-center text-md-left">
                                    <blockquote class="testimonial-body g-pl-md-20">
                                        <div class="g-mb-10">
                                            <div class="rating-stars">
                                                <i class="fa fa-star g-font-size-14"></i>
                                                <i class="fa fa-star g-font-size-14"></i>
                                                <i class="fa fa-star g-font-size-14"></i>
                                                <i class="fa fa-star g-font-size-14"></i>
                                                <i class="fa fa-star-half-empty g-font-size-14"></i>
                                            </div>
                                        </div>
                                        <p class="font-italic text-muted g-mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem doloribus expedita fuga illo inventore ipsa ipsum laborum suscipit tenetur voluptatem!</p>
                                        <h5 class="font-weight-bold">John Doe</h5>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-lg-6">
                        <div class="testimonials g-p-30 g-mb-10 g-border g-border-gray-300 g-border-primary-h">
                            <div class="row no-gutters">
                                <div class="col-md-3">
                                    <div class="testimonials-image text-center g-mb-15 g-mb-md-0">
                                        <img class="img-fluid rounded-circle" src="http://via.placeholder.com/100x100/eee/111" alt="Image Description">
                                    </div>
                                </div>
                                <div class="col-md-9 text-center text-md-left">
                                    <blockquote class="testimonial-body g-pl-md-20">
                                        <div class="g-mb-10">
                                            <div class="rating-stars">
                                                <i class="fa fa-star g-font-size-14"></i>
                                                <i class="fa fa-star g-font-size-14"></i>
                                                <i class="fa fa-star g-font-size-14"></i>
                                                <i class="fa fa-star g-font-size-14"></i>
                                                <i class="fa fa-star-half-empty g-font-size-14"></i>
                                            </div>
                                        </div>
                                        <p class="font-italic text-muted g-mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem doloribus expedita fuga illo inventore ipsa ipsum laborum suscipit tenetur voluptatem!</p>
                                        <h5 class="font-weight-bold">John Doe</h5>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-lg-6">
                        <div class="testimonials g-p-30 g-mb-10 g-border g-border-gray-300 g-border-primary-h">
                            <div class="row no-gutters">
                                <div class="col-md-3">
                                    <div class="testimonials-image text-center g-mb-15 g-mb-md-0">
                                        <img class="img-fluid rounded-circle" src="http://via.placeholder.com/100x100/eee/111" alt="Image Description">
                                    </div>
                                </div>
                                <div class="col-md-9 text-center text-md-left">
                                    <blockquote class="testimonial-body g-pl-md-20">
                                        <div class="g-mb-10">
                                            <div class="rating-stars">
                                                <i class="fa fa-star g-font-size-14"></i>
                                                <i class="fa fa-star g-font-size-14"></i>
                                                <i class="fa fa-star g-font-size-14"></i>
                                                <i class="fa fa-star g-font-size-14"></i>
                                                <i class="fa fa-star-half-empty g-font-size-14"></i>
                                            </div>
                                        </div>
                                        <p class="font-italic text-muted g-mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem doloribus expedita fuga illo inventore ipsa ipsum laborum suscipit tenetur voluptatem!</p>
                                        <h5 class="font-weight-bold">John Doe</h5>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-lg-6">
                        <div class="testimonials g-p-30 g-mb-10 g-border g-border-gray-300 g-border-primary-h">
                            <div class="row no-gutters">
                                <div class="col-md-3">
                                    <div class="testimonials-image text-center g-mb-15 g-mb-md-0">
                                        <img class="img-fluid rounded-circle" src="http://via.placeholder.com/100x100/eee/111" alt="Image Description">
                                    </div>
                                </div>
                                <div class="col-md-9 text-center text-md-left">
                                    <blockquote class="testimonial-body g-pl-md-20">
                                        <div class="g-mb-10">
                                            <div class="rating-stars">
                                                <i class="fa fa-star g-font-size-14"></i>
                                                <i class="fa fa-star g-font-size-14"></i>
                                                <i class="fa fa-star g-font-size-14"></i>
                                                <i class="fa fa-star g-font-size-14"></i>
                                                <i class="fa fa-star-half-empty g-font-size-14"></i>
                                            </div>
                                        </div>
                                        <p class="font-italic text-muted g-mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem doloribus expedita fuga illo inventore ipsa ipsum laborum suscipit tenetur voluptatem!</p>
                                        <h5 class="font-weight-bold">John Doe</h5>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
            
                </div>
        
            </div>
        </section>
        <!-- END Testimonials -->
        
    </div>
    <!-- END Main Content -->
    
    <!-- Footer -->
    {% include '../_partials/footers/footer-1.html' %}
    <!-- END Footer -->

</div>
<!-- END Main Wrapper -->
{% endblock %}
