{% extends '../_partials/cnote-main-layout.html' %}
{% block page-title %}<title>About Page 3 | cNote Responsive Template</title> {% endblock %}

{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper">

    <!-- Header -->
    <header id="header" class="cn-header">
        {% include '../_partials/headers/_main-header.html' %}
    </header>
    <!-- END Header -->

    <!-- Main Content -->
    <div id="main-content">

        <!-- Page Header -->
        <section class="jumbotron g-py-50 g-bg-gray-100 g-border-b g-border-b-gray-300">
            <div class="container">
                <div class="g-flex-md-middle">
                    <h5 class="text-uppercase">About Page 3</h5>
                    <nav aria-label="breadcrumb" class="ml-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About 3</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- END Page Header -->

        <!-- Features -->
        <section class="g-py-100">
            <div class="container">
                <div class="section-title text-center g-mb-80">
                    <h3 class="title text-uppercase cn-heading-v1-center font-weight-bold">Our Features</h3>
                    <div class="row justify-content-center g-my-20">
                        <div class="col-md-9">
                            <p>Don't forget to remove this dummy text.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters justify-content-center">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-lg pulse-dark-effect g-mb-20 g-mb-lg-0">
                                <div class="text-center g-bg-white g-border g-border-gray-200 g-shadow-v2 g-py-60 g-px-15 g-rounded-left-5">
                                    <div class="cn-icon cn-icon-dark rounded-circle g-mb-30">
                                        <i class="fa fa-cloud g-font-size-20" aria-hidden="true"></i>
                                    </div>
                                    <h5 class="text-uppercase font-weight-semibold g-mb-10">Clean design</h5>
                                    <p class="g-p-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolor dolore, error esse iure perferendis.</p>
                                </div>
                            </div>
                            <div class="col-lg pulse-primary-effect g-mb-20 g-mb-lg-0">
                                <div class="text-center g-bg-white g-border g-border-gray-200 g-shadow-v2 g-py-60 g-px-15">
                                    <div class="cn-icon cn-icon-primary rounded-circle g-mb-30">
                                        <i class="fa fa-codepen g-font-size-20" aria-hidden="true"></i>
                                    </div>
                                    <h5 class="text-uppercase font-weight-semibold g-mb-10">Best Quality</h5>
                                    <p class="g-p-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolor dolore, error esse iure perferendis.</p>
                                </div>
                            </div>
                            <div class="col-lg pulse-dark-effect g-mb-20 g-mb-lg-0">
                                <div class="text-center g-bg-white g-border g-border-gray-200 g-shadow-v2 g-py-60 g-px-15">
                                    <div class="cn-icon cn-icon-dark rounded-circle g-mb-30">
                                        <i class="fa fa-image g-font-size-20" aria-hidden="true"></i>
                                    </div>
                                    <h5 class="text-uppercase font-weight-semibold g-mb-10">100% Responsive</h5>
                                    <p class="g-p-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolor dolore, error esse iure perferendis.</p>
                                </div>
                            </div>
                        </div>
            
                    </div>
                </div>
            </div>
        </section>
        <!-- END Features -->

        <!-- About -->
        <section class="g-bg-white">
            <div class="row no-gutters align-items-center">
                <div class="col-xl-6 order-xl-1">
                    <div class="row h-100 justify-content-center">
                        <div class="col-lg-10 g-py-100 g-py-xl-40 g-px-20 text-center text-xl-left">
                            <div class="g-mb-40">
                                <h4 class="font-weight-bold g-text-gray-700 g-mb-15 text-uppercase cn-heading-v1-center cn-heading-xl-v1"><span class="g-text-primary">Why</span> us ?</h4>
                                <p class="g-mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <p>Cotta, ignigena, et usus. Est fidelis clabulare, cesaris. Camerarius, velox mensas satis imitari de altus, varius equiso!</p>
                            </div>
                    
                            <ul class="list-unstyled check-list g-ml-xl-25 g-mb-20">
                                <li class="g-py-2">
                                    <span class="g-font-size-15">Build with Bootstrap 4</span>
                                </li>
                                <li class="g-py-2">
                                    <span class="g-font-size-15">Great SASS Architecture</span>
                                </li>
                                <li class="g-py-2">
                                    <span class="g-font-size-15">Beautiful Demos</span>
                                </li>
                                <li class="g-py-2">
                                    <span class="g-font-size-15">Responsive HTML Layouts</span>
                                </li>
                                <li class="g-py-2">
                                    <span class="g-font-size-15">Visual Design</span>
                                </li>
                            </ul>
                            <div>
                                <a href="#" class="btn cn-btn-primary">
                                    <i class="icon-basket g-mr-5"></i> Purchase Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="g-h300 g-lg-h500 bg-cover" style="background-image: url('http://via.placeholder.com/1280x600/eee/777');"></div>
                </div>
            </div>
            <div class="row no-gutters align-items-center">
                <div class="col-xl-6">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 g-py-100 g-py-xl-40 g-px-20 text-center text-xl-left">
                            <div class="g-mb-40">
                                <h4 class="font-weight-bold g-text-gray-700 g-mb-15 text-uppercase cn-heading-v1-center cn-heading-xl-v1"><span class="g-text-primary">Increase</span> income</h4>
                                <p class="g-mb-5">Sunt fiscinaes experientia fortis, nobilis rationees!</p>
                                <p>Cotta, ignigena, et usus. Est fidelis clabulare, cesaris. Camerarius, velox mensas satis imitari de altus, varius equiso!</p>
                            </div>
                    
                            <ul class="list-unstyled check-list g-ml-xl-25 g-mb-20">
                                <li class="g-py-2">
                                    <span class="g-font-size-15">Endless possibilities</span>
                                </li>
                                <li class="g-py-2">
                                    <span class="g-font-size-15">Lots of Pre-made layouts</span>
                                </li>
                                <li class="g-py-2">
                                    <span class="g-font-size-15">Responsive HTML Layouts</span>
                                </li>
                                <li class="g-py-2">
                                    <span class="g-font-size-15">Beautiful Demos</span>
                                </li>
                                <li class="g-py-2">
                                    <span class="g-font-size-15">Visual Design</span>
                                </li>
                            </ul>
                    
                            <div >
                                <a href="#" class="btn cn-btn-primary">
                                    <i class="fa fa-arrow-circle-right g-mr-5"></i>
                                    <span>Read More</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="g-h300 g-lg-h500 bg-cover" style="background-image: url('http://via.placeholder.com/1280x600/eee/777');"></div>
                </div>
            </div>
        </section>
        <!-- END Features 2 -->

        <!-- Pricing-plan -->
        <section class="g-py-100 g-bg-gray-100 g-border g-border-gray-300">

            <div class="container">

                <div class="section-title text-center g-mb-70">
                    <h4 class="title text-uppercase cn-heading-v1-center font-weight-bold g-mb-20">Our Prices</h4>
                    <div class="row justify-content-center">
                        <div class="col-md-8 text-center">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias amet asperiores aspernatur assumenda corporis error expedita iusto optio, quam quod reiciendis suscipit voluptates?</p>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-sm-8 col-lg-4 g-pb-20 g-pb-lg-0">
                        <div class="plan g-bg-white g-border g-border-gray-300 g-shadow-v2 g-p-30 text-center g-rounded-5">

                            <div class="g-border-b g-border-gray-300 g-py-15">
                                <h4 class="text-uppercase g-mb-10"><span class="text-primary">Basic</span> Plan</h4>
                            </div>

                            <ul class="list-unstyled g-mt-20 g-mb-70">
                                <li class="g-mb-10"><span class="font-weight-bold">50GB</span> Storage</li>
                                <li class="g-mb-10"><span class="font-weight-bold">Unlimited</span> Members</li>
                                <li class="g-mb-10"><span class="font-weight-bold">10</span> Projects</li>
                                <li class="g-mb-10"><span class="font-weight-bold">Admin</span> Area</li>
                                <li class="g-mb-10"><span class="font-weight-bold">3</span> Months Support</li>
                            </ul>
                            <div class="g-border-t g-border-b g-border-gray-300 g-py-15">
                                <p>$<span class="price font-weight-bold g-font-size-25">10</span> /month</p>
                            </div>
                            <a href="#" class="btn cn-btn-outline-primary g-rounded-50 g-mt-20">Choose Price</a>
                        </div>
                    </div>
                    <div class="col-sm-8 col-lg-4 g-pb-20 g-pb-lg-0">
                        <div class="plan recommended-plan g-bg-white g-border g-border-gray-300 g-shadow-v2 g-p-30 text-center g-rounded-5">

                            <div class="ribbon"><span>Recommended</span></div>

                            <div class="g-border-b g-border-gray-300 g-py-15">
                                <h4 class="text-uppercase g-mb-10"><span class="text-primary">Medium</span> Plan</h4>
                            </div>

                            <ul class="list-unstyled g-mt-20 g-mb-70">
                                <li class="g-mb-10"><span class="font-weight-bold">100GB</span> Storage</li>
                                <li class="g-mb-10"><span class="font-weight-bold">Unlimited</span> Members</li>
                                <li class="g-mb-10"><span class="font-weight-bold">20</span> Projects</li>
                                <li class="g-mb-10"><span class="font-weight-bold">Admin</span> Area</li>
                                <li class="g-mb-10"><span class="font-weight-bold">6</span> Months Support</li>
                            </ul>
                            <div class="g-border-t g-border-b g-border-gray-300 g-py-15">
                                <p>$<span class="price font-weight-bold g-font-size-25">25</span> /month</p>
                            </div>
                            <a href="#" class="btn cn-btn-primary g-rounded-50 g-mt-20">Choose Price</a>

                        </div>
                    </div>
                    <div class="col-sm-8 col-lg-4 g-pb-20 g-pb-lg-0">
                        <div class="plan g-bg-white g-border g-border-gray-300 g-shadow-v2 g-p-30 text-center g-rounded-5">

                            <div class="g-border-b g-border-gray-300 g-py-15">
                                <h4 class="text-uppercase g-mb-10"><span class="text-primary">Pro</span> Plan</h4>
                            </div>

                            <ul class="list-unstyled g-mt-20 g-mb-70">
                                <li class="g-mb-10"><span class="font-weight-bold">500GB</span> Storage</li>
                                <li class="g-mb-10"><span class="font-weight-bold">Unlimited</span> Members</li>
                                <li class="g-mb-10"><span class="font-weight-bold">50</span> Projects</li>
                                <li class="g-mb-10"><span class="font-weight-bold">Admin</span> Area</li>
                                <li class="g-mb-10"><span class="font-weight-bold">9</span> Months Support</li>
                            </ul>
                            <div class="g-border-t g-border-b g-border-gray-300 g-py-15">
                                <p>$<span class="price font-weight-bold g-font-size-25">40</span> /month</p>
                            </div>
                            <a href="#" class="btn cn-btn-outline-primary g-rounded-50 g-mt-20">Choose Price</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Pricing-plans Section -->

        <!-- Team -->
        <section class="g-py-100 g-bg-white bottom-slide">

            <div class="container">

                <div class="section-title text-center g-mb-70">
                    <h4 class="g-mb-20 text-uppercase cn-heading-v1-center font-weight-bold">Our Team</h4>
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam itaque odit praesentium quas quidem.</p>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center bottom-slide">
                    <!-- Member 1 -->
                    <div class="col-10 col-sm-8 col-lg-4 g-mb-20 g-mb-lg-0">
                        <div class="member g-border g-border-gray-300 g-border-primary-h g-shadow-v1">
                            <div class="caption">
                                <div class="caption-default">
                                    <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                                </div>
                                <div class="caption-active">
                                    <div class="g-px-20">
                                        <div class="member-description g-bg-white text-center">
                                            <h6 class="text-uppercase font-weight-bold g-bg-primary g-py-10 g-mb-10 g-rounded-top-5">John Doe</h6>
                                            <p class="text-muted g-font-size-16">Designer</p>
                                            <ul class="list-inline mx-auto text-center g-py-15">
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-twitter"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-facebook"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-google-plus"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Member 1 -->

                    <!-- Member 2 -->
                    <div class="col-10 col-sm-8 col-lg-4 g-mb-20 g-mb-lg-0">
                        <div class="member g-border g-border-gray-300 g-border-primary-h g-shadow-v1">
                            <div class="caption">
                                <div class="caption-default">
                                    <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                                </div>
                                <div class="caption-active">
                                    <div class="g-px-20">
                                        <div class="member-description g-bg-white text-center">
                                            <h6 class="text-uppercase font-weight-bold g-bg-primary g-py-10 g-mb-10 g-rounded-top-5">Jenny Doe</h6>
                                            <p class="text-muted g-font-size-16">Designer</p>
                                            <ul class="list-inline mx-auto text-center g-py-15">
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-twitter"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-facebook"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-google-plus"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Member 2 -->

                    <!-- Member 3 -->
                    <div class="col-10 col-sm-8 col-lg-4 g-mb-20 g-mb-lg-0">
                        <div class="member g-border g-border-gray-300 g-border-primary-h g-shadow-v1">
                            <div class="caption">
                                <div class="caption-default">
                                    <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                                </div>
                                <div class="caption-active">
                                    <div class="g-px-20">
                                        <div class="member-description g-bg-white text-center">
                                            <h6 class="text-uppercase font-weight-bold g-bg-primary g-py-10 g-mb-10 g-rounded-top-5">John Doe</h6>
                                            <p class="text-muted g-font-size-16">Designer</p>
                                            <ul class="list-inline mx-auto text-center g-py-15">
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-twitter"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-facebook"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-google-plus"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-gray-300 rounded"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Member 3 -->
                </div>
            </div>

        </section>
        <!-- END Team -->

        <!-- Section -->
        <section class="bg-primary text-white py-4 text-center">
            <h5 class="g-px-5">We offer a theme that suits you perfectly. <br class="d-block d-sm-none"><a href="#" class="btn cn-btn-outline-light g-mt-15 g-mt-sm-0 g-ml-sm-15">Purchase Now</a></h5>
        </section>
        <!-- END Section -->

    </div>
    <!-- END Main Content -->

    <!-- Footer -->
    {% include '../_partials/footers/footer-1.html' %}
    <!-- END Footer -->

</div>
<!-- END Main Wrapper -->
{% endblock %}
