{% extends '../_partials/cnote-main-layout.html' %}
{% block page-title %}<title>Blog 2 - 2 Columns | cNote Responsive Template</title> {% endblock %}

{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper">
    
    <!-- Header -->
    <header id="header" class="cn-header">
        {% include '../_partials/headers/_main-header.html' %}
    </header>
    <!-- END Header -->
    
    <!-- Main Content -->
    <div id="main-content">
        
        <!-- Page Header -->
        <section class="jumbotron g-py-50 g-bg-gray-100 g-border-b g-border-b-gray-300">
            <div class="container">
                <div class="g-flex-md-middle">
                    <h5 class="text-uppercase">Blog 2 Columns</h5>
                    <nav aria-label="breadcrumb" class="ml-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Blog</a></li>
                            <li class="breadcrumb-item active" aria-current="page"> Blog 2 Columns</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- END Page Header -->
    
        <!-- Blog 2 Column -->
        <section class="g-py-70">
            <div class="container">
                <div class="g-p-10 g-py-15 g-p-md-30 g-bg-white g-border g-border-gray-300 g-shadow-v1">
                    <div class="row no-gutters">
                        <div class="col-lg-8 order-lg-1">
                            
                            <div class="row g-mb-60 top-overlay">
                                <div class="col-lg-6 g-pb-10">
                                    <!-- Post Box -->
                                    <article class="post caption">
                                        <div class="post-image caption-default bg-cover g-h300 position-relative text-white" style="background-image: url('http://via.placeholder.com/900x600/eee/777');">
                                            <div class="overlay g-bg-black-opacity-7"></div>
                                            
                                            <div class="position-absolute g-top-0 g-right-0 g-py-10 g-px-20 g-bg-primary-opacity-9">
                                                <span class="post-info g-font-size-14">Feb 25 2018</span>
                                            </div>
                                            <div class="post-content position-absolute g-bottom-0 g-p-25">
                                                <h5 class="post-title g-text-primary font-weight-bold text-uppercase">Post Title</h5>
                                                <div class="post-info g-mb-15 g-font-size-14 font-italic">
                                                    <span>Admin - Image, Photography</span>
                                                </div>
                                                <p class="post-body g-font-size-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, iusto?[...]</p>
                                            </div>
                                            
                                        </div>
                                        <div class="caption-active g-bg-primary-opacity-9">
                                            <div class="h-100 g-flex-center g-px-20">
                                                <a href="blog-single.html" target="_blank">
                                                    <h5 class="text-white">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></h5>
                                                </a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- END Post Box -->
                                </div>
                                <div class="col-lg-6 g-pb-10">
                                    <!-- Post Box -->
                                    <article class="post caption">
                                        <div class="post-image caption-default bg-cover g-h300 position-relative text-white" style="background-image: url('http://via.placeholder.com/900x600/eee/777');">
                                            <div class="overlay g-bg-black-opacity-7"></div>
            
                                            <div class="position-absolute g-top-0 g-right-0 g-py-10 g-px-20 g-bg-primary-opacity-9">
                                                <span class="post-info g-font-size-14">Feb 25 2018</span>
                                            </div>
                                            <div class="post-content position-absolute g-bottom-0 g-p-25">
                                                <h5 class="post-title g-text-primary font-weight-bold text-uppercase">Post Title</h5>
                                                <div class="post-info g-mb-15 g-font-size-14 font-italic">
                                                    <span>Admin - Image, Photography</span>
                                                </div>
                                                <p class="post-body g-font-size-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, iusto?[...]</p>
                                            </div>
        
                                        </div>
                                        <div class="caption-active g-bg-primary-opacity-9">
                                            <div class="h-100 g-flex-center g-px-20">
                                                <a href="blog-single.html" target="_blank">
                                                    <h5 class="text-white">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></h5>
                                                </a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- END Post Box -->
                                </div>
    
                                <div class="col-lg-6 g-pb-10">
                                    <!-- Post Box -->
                                    <article class="post caption">
                                        <div class="post-image caption-default bg-cover g-h300 position-relative text-white" style="background-image: url('http://via.placeholder.com/900x600/eee/777');">
                                            <div class="overlay g-bg-black-opacity-7"></div>
                
                                            <div class="position-absolute g-top-0 g-right-0 g-py-10 g-px-20 g-bg-primary-opacity-9">
                                                <span class="post-info g-font-size-14">Feb 25 2018</span>
                                            </div>
                                            <div class="post-content position-absolute g-bottom-0 g-p-25">
                                                <h5 class="post-title g-text-primary font-weight-bold text-uppercase">Post Title</h5>
                                                <div class="post-info g-mb-15 g-font-size-14 font-italic">
                                                    <span>Admin - Image, Photography</span>
                                                </div>
                                                <p class="post-body g-font-size-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, iusto?[...]</p>
                                            </div>
            
                                        </div>
                                        <div class="caption-active g-bg-primary-opacity-9">
                                            <div class="h-100 g-flex-center g-px-20">
                                                <a href="blog-single.html" target="_blank">
                                                    <h5 class="text-white">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></h5>
                                                </a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- END Post Box -->
                                </div>
                                <div class="col-lg-6 g-pb-10">
                                    <!-- Post Box -->
                                    <article class="post caption">
                                        <div class="post-image caption-default bg-cover g-h300 position-relative text-white" style="background-image: url('http://via.placeholder.com/900x600/eee/777');">
                                            <div class="overlay g-bg-black-opacity-7"></div>
                
                                            <div class="position-absolute g-top-0 g-right-0 g-py-10 g-px-20 g-bg-primary-opacity-9">
                                                <span class="post-info g-font-size-14">Feb 25 2018</span>
                                            </div>
                                            <div class="post-content position-absolute g-bottom-0 g-p-25">
                                                <h5 class="post-title g-text-primary font-weight-bold text-uppercase">Post Title</h5>
                                                <div class="post-info g-mb-15 g-font-size-14 font-italic">
                                                    <span>Admin - Image, Photography</span>
                                                </div>
                                                <p class="post-body g-font-size-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, iusto?[...]</p>
                                            </div>
            
                                        </div>
                                        <div class="caption-active g-bg-primary-opacity-9">
                                            <div class="h-100 g-flex-center g-px-20">
                                                <a href="blog-single.html" target="_blank">
                                                    <h5 class="text-white">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></h5>
                                                </a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- END Post Box -->
                                </div>
    
                                <div class="col-lg-6 g-pb-10">
                                    <!-- Post Box -->
                                    <article class="post caption">
                                        <div class="post-image caption-default bg-cover g-h300 position-relative text-white" style="background-image: url('http://via.placeholder.com/900x600/eee/777');">
                                            <div class="overlay g-bg-black-opacity-7"></div>
                
                                            <div class="position-absolute g-top-0 g-right-0 g-py-10 g-px-20 g-bg-primary-opacity-9">
                                                <span class="post-info g-font-size-14">Feb 25 2018</span>
                                            </div>
                                            <div class="post-content position-absolute g-bottom-0 g-p-25">
                                                <h5 class="post-title g-text-primary font-weight-bold text-uppercase">Post Title</h5>
                                                <div class="post-info g-mb-15 g-font-size-14 font-italic">
                                                    <span>Admin - Image, Photography</span>
                                                </div>
                                                <p class="post-body g-font-size-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, iusto?[...]</p>
                                            </div>
            
                                        </div>
                                        <div class="caption-active g-bg-primary-opacity-9">
                                            <div class="h-100 g-flex-center g-px-20">
                                                <a href="blog-single.html" target="_blank">
                                                    <h5 class="text-white">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></h5>
                                                </a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- END Post Box -->
                                </div>
                                <div class="col-lg-6 g-pb-10">
                                    <!-- Post Box -->
                                    <article class="post caption">
                                        <div class="post-image caption-default bg-cover g-h300 position-relative text-white" style="background-image: url('http://via.placeholder.com/900x600/eee/777');">
                                            <div class="overlay g-bg-black-opacity-7"></div>
                
                                            <div class="position-absolute g-top-0 g-right-0 g-py-10 g-px-20 g-bg-primary-opacity-9">
                                                <span class="post-info g-font-size-14">Feb 25 2018</span>
                                            </div>
                                            <div class="post-content position-absolute g-bottom-0 g-p-25">
                                                <h5 class="post-title g-text-primary font-weight-bold text-uppercase">Post Title</h5>
                                                <div class="post-info g-mb-15 g-font-size-14 font-italic">
                                                    <span>Admin - Image, Photography</span>
                                                </div>
                                                <p class="post-body g-font-size-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, iusto?[...]</p>
                                            </div>
            
                                        </div>
                                        <div class="caption-active g-bg-primary-opacity-9">
                                            <div class="h-100 g-flex-center g-px-20">
                                                <a href="blog-single.html" target="_blank">
                                                    <h5 class="text-white">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></h5>
                                                </a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- END Post Box -->
                                </div>
    
                                <div class="col-lg-6 g-pb-10">
                                    <!-- Post Box -->
                                    <article class="post caption">
                                        <div class="post-image caption-default bg-cover g-h300 position-relative text-white" style="background-image: url('http://via.placeholder.com/900x600/eee/777');">
                                            <div class="overlay g-bg-black-opacity-7"></div>
                
                                            <div class="position-absolute g-top-0 g-right-0 g-py-10 g-px-20 g-bg-primary-opacity-9">
                                                <span class="post-info g-font-size-14">Feb 25 2018</span>
                                            </div>
                                            <div class="post-content position-absolute g-bottom-0 g-p-25">
                                                <h5 class="post-title g-text-primary font-weight-bold text-uppercase">Post Title</h5>
                                                <div class="post-info g-mb-15 g-font-size-14 font-italic">
                                                    <span>Admin - Image, Photography</span>
                                                </div>
                                                <p class="post-body g-font-size-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, iusto?[...]</p>
                                            </div>
            
                                        </div>
                                        <div class="caption-active g-bg-primary-opacity-9">
                                            <div class="h-100 g-flex-center g-px-20">
                                                <a href="blog-single.html" target="_blank">
                                                    <h5 class="text-white">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></h5>
                                                </a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- END Post Box -->
                                </div>
                                <div class="col-lg-6 g-pb-10">
                                    <!-- Post Box -->
                                    <article class="post caption">
                                        <div class="post-image caption-default bg-cover g-h300 position-relative text-white" style="background-image: url('http://via.placeholder.com/900x600/eee/777');">
                                            <div class="overlay g-bg-black-opacity-7"></div>
                
                                            <div class="position-absolute g-top-0 g-right-0 g-py-10 g-px-20 g-bg-primary-opacity-9">
                                                <span class="post-info g-font-size-14">Feb 25 2018</span>
                                            </div>
                                            <div class="post-content position-absolute g-bottom-0 g-p-25">
                                                <h5 class="post-title g-text-primary font-weight-bold text-uppercase">Post Title</h5>
                                                <div class="post-info g-mb-15 g-font-size-14 font-italic">
                                                    <span>Admin - Image, Photography</span>
                                                </div>
                                                <p class="post-body g-font-size-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, iusto?[...]</p>
                                            </div>
            
                                        </div>
                                        <div class="caption-active g-bg-primary-opacity-9">
                                            <div class="h-100 g-flex-center g-px-20">
                                                <a href="blog-single.html" target="_blank">
                                                    <h5 class="text-white">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></h5>
                                                </a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- END Post Box -->
                                </div>
                            </div>
        
                            <!-- Pagination -->
                            <nav class="cn-pagination circle v3 text-center g-mb-50" aria-label="Page Navigation">
                                <ul class="list-unstyled">
                                    <li class="page-item previous-item disabled float-md-left">
                                        <a class="page-link" href="#">
                                        <span aria-hidden="true">
                                            <i class="fa fa-long-arrow-left g-mr-5"></i>Previous
                                        </span>
                                        </a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><span class="g-p-5">...</span></li>
                                    <li class="page-item"><a class="page-link" href="#">18</a></li>
                                    <li class="page-item next-item float-md-right">
                                        <a class="page-link" href="#">
                                <span aria-hidden="true">Next
                                    <i class="fa fa-long-arrow-right g-ml-5"></i>
                                </span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- END Pagination -->
                        </div>
                        <div class="col-lg-4 g-pr-lg-30">
                            <!-- Sidebar -->
                            <aside class="sidebar">
                                <!-- Search Widget -->
                                <div class="widget search-widget g-pb-30">
                                    <h6 class="widget-title g-mb-20 text-uppercase font-weight-bold">Search</h6>
                                    <form>
                                        <div class="input-group input-group-focus-v2">
                                            <input type="text" class="form-control g-bg-gray-100" id="input3-1" placeholder="Search">
                                            <div class="input-group-append g-w50 justify-content-center g-p-0 g-bg-white">
                                                <i class="fa fa-search"></i>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- END Search Widget -->
        
                                <!-- Tags Widget -->
                                <div class="widget tags-widget g-pb-30">
                                    <h6 class="widget-title g-mb-20 text-uppercase font-weight-bold">Tags</h6>
                                    <div class="tags">
                                        <a href="#">#creative</a>
                                        <a href="#">#web design</a>
                                        <a href="#">#photography</a>
                                        <a href="#">#corporate</a>
                                        <a href="#">#bootstrap</a>
                                        <a href="#">#sass</a>
                                        <a href="#">#html</a>
                                    </div>
                                </div>
                                <!-- END Tags Widget -->
        
                                <!-- Categories Widget -->
                                <div class="widget categories-widget g-pb-30">
                                    <h6 class="widget-title g-mb-20 text-uppercase font-weight-bold">Categories</h6>
                                    <ul class="widget-list">
                                        <li class="g-mb-10"><a href="#"><i class="fa fa-angle-right g-mr-5" aria-hidden="true"></i> Creative</a></li>
                                        <li class="g-mb-10"><a href="#"><i class="fa fa-angle-right g-mr-5" aria-hidden="true"></i> Web Design</a></li>
                                        <li class="g-mb-10"><a href="#"><i class="fa fa-angle-right g-mr-5" aria-hidden="true"></i> Photography</a></li>
                                        <li class="g-mb-10"><a href="#"><i class="fa fa-angle-right g-mr-5" aria-hidden="true"></i> Corporate</a></li>
                                        <li class="g-mb-10"><a href="#"><i class="fa fa-angle-right g-mr-5" aria-hidden="true"></i> Creative</a></li>
                                    </ul>
                                </div>
                                <!-- END Catergories Widget -->
        
                                <!-- Related Post Widget -->
                                <div class="widget related-post-widget g-pb-30">
                                    <h6 class="widget-title g-mb-20 text-uppercase font-weight-bold">Related Posts</h6>
                                    <div class="d-flex align-items-center">
            
                                    </div>
                                    <div class="row g-mb-20 align-items-center">
                                        <div class="col-auto text-center">
                                            <img class="g-w60 img-fluid rounded-circle g-border g-border-gray-300 g-border-3x" src="http://via.placeholder.com/100x100/eee/111" alt="Image Description">
                                        </div>
                                        <div class="col g-pl-10">
                                            <h6 class="g-text-dark font-weight-bold g-mb-5">Web Design</h6>
                                            <a href="#">
                                                <p class="text-muted g-font-size-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, cupiditate? [...]</p>
                                            </a>
                                        </div>
                                    </div>
            
                                    <div class="row g-mb-20 align-items-center">
                                        <div class="col-auto text-center">
                                            <img class="g-w60 img-fluid rounded-circle g-border g-border-gray-300 g-border-3x" src="http://via.placeholder.com/100x100/eee/111" alt="Image Description">
                                        </div>
                                        <div class="col g-pl-10">
                                            <h6 class="g-text-dark font-weight-bold g-mb-5">Web Design</h6>
                                            <a href="#">
                                                <p class="text-muted g-font-size-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, cupiditate? [...]</p>
                                            </a>
                                        </div>
                                    </div>
            
                                    <div class="row g-mb-20 align-items-center">
                                        <div class="col-auto text-center">
                                            <img class="g-w60 img-fluid rounded-circle g-border g-border-gray-300 g-border-3x" src="http://via.placeholder.com/100x100/eee/111" alt="Image Description">
                                        </div>
                                        <div class="col g-pl-10">
                                            <h6 class="g-text-dark font-weight-bold g-mb-5">Web Design</h6>
                                            <a href="#">
                                                <p class="text-muted g-font-size-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, cupiditate? [...]</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- END Related Post Widget -->
        
                                <!-- Feeds -->
                                <div class="widget feeds-widget g-pb-30">
                                    <h6 class="widget-title g-mb-20 text-uppercase font-weight-bold">Facebook Feed</h6>
                                    <div class="row">
                                        <div class="col-6 g-p-3">
                                            <a href="#">
                                                <img src="http://via.placeholder.com/600x400/eee/111" alt="Image Description" class="img-fluid g-rounded-5">
                                            </a>
                                        </div>
                                        <div class="col-6 g-p-3">
                                            <a href="#">
                                                <img src="http://via.placeholder.com/600x400/eee/111" alt="Image Description" class="img-fluid g-rounded-5">
                                            </a>
                                        </div>
                                        <div class="col-6 g-p-3">
                                            <a href="#">
                                                <img src="http://via.placeholder.com/600x400/eee/111" alt="Image Description" class="img-fluid g-rounded-5">
                                            </a>
                                        </div>
                                        <div class="col-6 g-p-3">
                                            <a href="#">
                                                <img src="http://via.placeholder.com/600x400/eee/111" alt="Image Description" class="img-fluid g-rounded-5">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- END Feeds -->
                            </aside>
                            <!-- END Sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog 2 Column -->
        
    </div>
    <!-- END Main Content -->
    
    <!-- Footer -->
    {% include '../_partials/footers/footer-1.html' %}
    <!-- END Footer -->

</div>
<!-- END Main Wrapper -->
{% endblock %}