{% extends '../_partials/cnote-main-layout.html' %}
{% block page-title %}<title>Blog Single | cNote Responsive Template</title> {% endblock %}

{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper">
    
    <!-- Header -->
    <header id="header" class="cn-header">
        {% include '../_partials/headers/_main-header.html' %}
    </header>
    <!-- END Header -->
    
    <!-- Main Content -->
    <div id="main-content">
    
        <!-- Page Header -->
        <section class="jumbotron g-py-50 g-bg-gray-100 g-border-b g-border-b-gray-300">
            <div class="container">
                <div class="g-flex-md-middle">
                    <h5 class="text-uppercase">Blog Single</h5>
                    <nav aria-label="breadcrumb" class="ml-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Blog</a></li>
                            <li class="breadcrumb-item active" aria-current="page"> Blog Single</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- END Page Header -->
    
        <!-- Blog Content -->
        <section class="blog-single g-py-70">
            <div class="container">
                
                <div class="g-p-10 g-py-15 g-p-md-30 blog-content g-bg-white g-border g-border-gray-300 g-shadow-v1">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="post g-pb-40">
                                <div class="post-image g-h300 g-lg-h400 bg-cover g-mb-40" style="background-image: url('http://via.placeholder.com/900x600/eee/777');"></div>
                                
                                <div class="post-content">
                                    
                                    <h5 class="post-title text-center g-mb-20 font-weight-semibold"><a href="#"class="g-text-gray-800 g-text-primay-h">Colorful nanomachines, to the homeworld..</a></h5>
                                    <div class="post-info g-mb-20 text-center ">
                                        <span class=" text-muted g-font-size-14 g-pb-20">
                                            <span class="g-text-primary">Admin</span>
                                            - Feb 25 2018
                                        </span>
                                    </div>
                               
                                    <div class="post-body text-center text-lg-left">
                                        <p class="g-text-gray-700 g-mb-30">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nihil nobis quae ratione reprehenderit repudiandae voluptatem.
                                            Dolore dolorum ea laborum maiores modi, obcaecati provident quis quo similique tempore? Aliquam consectetur consequatur
                                            debitis dolore doloremque dolores dolorum earum ipsa laboriosam modi nemo, neque nobis soluta suscipit voluptatum!
                                            Delectus ducimus eligendi inventore quibusdam, quis rerum soluta totam vel?
                                        </p>
                                        <p class="g-text-gray-700 g-mb-30">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nihil nobis quae ratione reprehenderit repudiandae voluptatem.
                                            Dolore dolorum ea laborum maiores modi, obcaecati provident quis quo similique tempore? Aliquam consectetur consequatur
                                            debitis dolore doloremque dolores dolorum earum ipsa laboriosam modi nemo, neque nobis soluta suscipit voluptatum!
                                            Delectus ducimus eligendi inventore quibusdam, quis rerum soluta totam vel?
                                        </p>
                                        <p class="g-text-gray-700 g-mb-30">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nihil nobis quae ratione reprehenderit repudiandae voluptatem.
                                            Dolore dolorum ea laborum maiores modi, obcaecati provident quis quo similique tempore? Aliquam consectetur consequatur
                                            debitis dolore doloremque dolores dolorum earum ipsa laboriosam modi nemo, neque nobis soluta suscipit voluptatum!
                                            Delectus ducimus eligendi inventore quibusdam, quis rerum soluta totam vel?
                                        </p>
                                        <hr>
                                        <blockquote class="post-quote g-py-10 g-my-60">
                                            <div class="row justify-content-center no-gutters">
                                                <div class="col-auto"><i class="fa fa-quote-left fa-2x g-text-gray-400" aria-hidden="true"></i></div>
                                                <div class="col-10">
                                                    <h5 class="text-center font-italic text-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolorum earum excepturi impedit incidunt nihil obcaecati quas suscipit unde ut!</h5>
                                                </div>
                                            </div>
                                        </blockquote>
                                        <hr class="g-mb-30">
                                        <p class="g-text-gray-700 g-mb-30">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nihil nobis quae ratione reprehenderit repudiandae voluptatem.
                                            Dolore dolorum ea laborum maiores modi, obcaecati provident quis quo similique tempore? Aliquam consectetur consequatur
                                            debitis dolore doloremque dolores dolorum earum ipsa laboriosam modi nemo, neque nobis soluta suscipit voluptatum!
                                            Delectus ducimus eligendi inventore quibusdam, quis rerum soluta totam vel?
                                        </p>
    
                                        <p class="g-text-gray-700 g-mb-30">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nihil nobis quae ratione reprehenderit repudiandae voluptatem.
                                            Dolore dolorum ea laborum maiores modi, obcaecati provident quis quo similique tempore? Aliquam consectetur consequatur
                                            debitis dolore doloremque dolores dolorum earum ipsa laboriosam modi nemo, neque nobis soluta suscipit voluptatum!
                                            Delectus ducimus eligendi inventore quibusdam, quis rerum soluta totam vel?
                                        </p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 g-pl-lg-30">
                            <!-- Sidebar -->
                            <aside class="sidebar">
                                <!-- Search Widget -->
                                <div class="widget search-widget g-pb-30">
                                    <h6 class="widget-title g-mb-20 text-uppercase font-weight-bold">Search</h6>
                                    <form>
                                        <div class="input-group input-group-focus-v2">
                                            <input type="text" class="form-control g-bg-gray-100" id="input3-1" placeholder="Search">
                                            <div class="input-group-append g-w50 justify-content-center g-p-0 g-bg-white">
                                                <i class="fa fa-search"></i>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- END Search Widget -->
        
                                <!-- Tags Widget -->
                                <div class="widget tags-widget g-pb-30">
                                    <h6 class="widget-title g-mb-20 text-uppercase font-weight-bold">Tags</h6>
                                    <div class="tags">
                                        <a href="#">#creative</a>
                                        <a href="#">#web design</a>
                                        <a href="#">#photography</a>
                                        <a href="#">#corporate</a>
                                        <a href="#">#bootstrap</a>
                                        <a href="#">#sass</a>
                                        <a href="#">#html</a>
                                    </div>
                                </div>
                                <!-- END Tags Widget -->
        
                                <!-- Categories Widget -->
                                <div class="widget categories-widget g-pb-30">
                                    <h6 class="widget-title g-mb-20 text-uppercase font-weight-bold">Categories</h6>
                                    <ul class="widget-list">
                                        <li class="g-mb-10"><a href="#"><i class="fa fa-angle-right g-mr-5" aria-hidden="true"></i> Creative</a></li>
                                        <li class="g-mb-10"><a href="#"><i class="fa fa-angle-right g-mr-5" aria-hidden="true"></i> Web Design</a></li>
                                        <li class="g-mb-10"><a href="#"><i class="fa fa-angle-right g-mr-5" aria-hidden="true"></i> Photography</a></li>
                                        <li class="g-mb-10"><a href="#"><i class="fa fa-angle-right g-mr-5" aria-hidden="true"></i> Corporate</a></li>
                                        <li class="g-mb-10"><a href="#"><i class="fa fa-angle-right g-mr-5" aria-hidden="true"></i> Creative</a></li>
                                    </ul>
                                </div>
                                <!-- END Catergories Widget -->
        
                                <!-- Related Post Widget -->
                                <div class="widget related-post-widget g-pb-30">
                                    <h6 class="widget-title g-mb-20 text-uppercase font-weight-bold">Related Posts</h6>
                                    <div class="d-flex align-items-center">
            
                                    </div>
                                    <div class="row g-mb-20 align-items-center">
                                        <div class="col-auto text-center">
                                            <img class="g-w60 img-fluid rounded-circle g-border g-border-gray-300 g-border-3x" src="http://via.placeholder.com/100x100/eee/111" alt="Image Description">
                                        </div>
                                        <div class="col g-pl-10">
                                            <h6 class="g-text-dark font-weight-bold g-mb-5">Web Design</h6>
                                            <a href="#">
                                                <p class="text-muted g-font-size-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, cupiditate? [...]</p>
                                            </a>
                                        </div>
                                    </div>
            
                                    <div class="row g-mb-20 align-items-center">
                                        <div class="col-auto text-center">
                                            <img class="g-w60 img-fluid rounded-circle g-border g-border-gray-300 g-border-3x" src="http://via.placeholder.com/100x100/eee/111" alt="Image Description">
                                        </div>
                                        <div class="col g-pl-10">
                                            <h6 class="g-text-dark font-weight-bold g-mb-5">Web Design</h6>
                                            <a href="#">
                                                <p class="text-muted g-font-size-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, cupiditate? [...]</p>
                                            </a>
                                        </div>
                                    </div>
            
                                    <div class="row g-mb-20 align-items-center">
                                        <div class="col-auto text-center">
                                            <img class="g-w60 img-fluid rounded-circle g-border g-border-gray-300 g-border-3x" src="http://via.placeholder.com/100x100/eee/111" alt="Image Description">
                                        </div>
                                        <div class="col g-pl-10">
                                            <h6 class="g-text-dark font-weight-bold g-mb-5">Web Design</h6>
                                            <a href="#">
                                                <p class="text-muted g-font-size-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, cupiditate? [...]</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- END Related Post Widget -->
        
                                <!-- Feeds -->
                                <div class="widget feeds-widget g-pb-30">
                                    <h6 class="widget-title g-mb-20 text-uppercase font-weight-bold">Facebook Feed</h6>
                                    <div class="row">
                                        <div class="col-6 g-p-3">
                                            <a href="#">
                                                <img src="http://via.placeholder.com/600x400/eee/777" alt="Image Description" class="img-fluid g-rounded-5">
                                            </a>
                                        </div>
                                        <div class="col-6 g-p-3">
                                            <a href="#">
                                                <img src="http://via.placeholder.com/600x400/eee/777" alt="Image Description" class="img-fluid g-rounded-5">
                                            </a>
                                        </div>
                                        <div class="col-6 g-p-3">
                                            <a href="#">
                                                <img src="http://via.placeholder.com/600x400/eee/777" alt="Image Description" class="img-fluid g-rounded-5">
                                            </a>
                                        </div>
                                        <div class="col-6 g-p-3">
                                            <a href="#">
                                                <img src="http://via.placeholder.com/600x400/eee/777" alt="Image Description" class="img-fluid g-rounded-5">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- END Feeds -->
                            </aside>
                            <!-- END Sidebar -->
                        </div>
                    </div>
                    
                    <!-- Blog Comments -->
                    <div class="blog-comments-section">
                        
                        <!-- Comment -->
                        <div class="comment g-mb-15 g-p-15 g-border g-border-gray-300 g-border-primary-h">
                            <div class="comment-header g-mb-10">
                                <div class="comment-author d-sm-flex align-items-center text-center text-sm-left">
                                    <div class="author-thumb">
                                        <img src="http://via.placeholder.com/100x100/eee/111" class="rounded-circle g-w40" alt="Author Thumbnail">
                                    </div>
                                    <div class="author-name g-ml-10">
                                        <h6 class="font-weight-bold g-text-gray-600">John Doe</h6>
                                    </div>
                                    <div class="rating-stars ml-auto">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-body">
                                <p>Finis moris, tanquam raptus parma. Cum visus peregrinationes, omnes fiscinaes manifestum talis, nobilis fermiumes!</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolorum eaque expedita laboriosam maxime non provident? Aut beatae dolor, doloremque in minima mollitia natus, nulla odio pariatur totam ut veniam.</p>
                            </div>
                            <div class="comment-footer g-py-10">
                                <div class="g-mr-15">
                                    <span class="text-muted">Posted on: </span><span class="review-date g-mr-10"> 18 Nov 2017</span>
                                    <a class="reply-btn btn-link" data-toggle="collapse" href="#replyCommentCollapse" aria-expanded="false" aria-controls="replyCommentCollapse">Reply</a>
                                </div>
                                <div class="collapse" id="replyCommentCollapse">
                                    <div class="reply-form g-mt-20">
                                        <div class="row no-gutters">
                                            <div class="col-sm-6">
                                                <div class="form-group g-pr-sm-5">
                                                    <input class="form-control" type="text" id="reply-name" required placeholder="Bill Will">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group g-pl-sm-5">
                                                    <input class="form-control" type="email" id="reply-email" required placeholder="billwill@gmail.com">
                                                </div>
                                            </div>
                            
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <textarea class="form-control" id="reply-text" rows="4" required placeholder="Reply your message"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button class="btn btn-sm cn-btn-primary" type="submit">Reply to John Doe</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                            <!-- Reply Comment -->
                            <div class="reply-comment g-mt-20 g-ml-20 g-p-15 g-border g-border-gray-300">
                                <!-- Comment Header -->
                                <div class="comment-header g-mb-20">
                                    <div class="comment-author d-flex align-items-center">
                                        <div class="author-thumb">
                                            <div class="icon icon-sm g-bg-gray-200 rounded-circle">
                                                <i class="fa fa-user"></i>
                                            </div>
                                        </div>
                                        <div class="author-name g-ml-10">
                                            <h6 class="font-weight-bold g-text-gray-600">Bill Will</h6>
                                        </div>
                                    </div>
                                </div>
                                <!-- END Comment Header -->
                
                                <!-- Comment Body -->
                                <div class="comment-body">
                                    <p>Albus apolloniatess ducunt ad rumor. Magnum, mirabilis frondators solite visum de secundus, primus guttus!</p>
                                    <p>Ubi est magnum brodium? Cum imber nocere, omnes galluses dignus bi-color, barbatus valebates.</p>
                                </div>
                                <!-- END Comment Body -->
                                <!-- Comment Footer -->
                                <div class="comment-footer g-py-10">
                                    <p><span class="text-muted">Posted on: </span><span class="review-date"> 24 Nov 2017</span></p>
                                </div>
                                <!-- END Comment Footer -->
                            </div>
                            <!-- END Reply Comment -->
                        </div>
                        <!-- END Comment -->
        
                        <!-- Comment -->
                        <div class="comment g-mb-15 g-p-15 g-border g-border-gray-300 g-border-primary-h">
                            <div class="comment-header g-py-10 g-mb-10">
                                <div class="comment-author d-sm-flex align-items-center text-center text-sm-left">
                                    <div class="author-thumb">
                                        <img src="http://via.placeholder.com/100x100/eee/111" class="rounded-circle g-w40" alt="Author Thumbnail">
                                    </div>
                                    <div class="author-name g-ml-10">
                                        <h6 class="font-weight-bold g-text-gray-600">Jenny Doe</h6>
                                    </div>
                                    <div class="rating-stars ml-auto">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-body">
                                <p>Est teres uria, cesaris. Galluss resistere! Cur bursa unda? Ridetis sapienter ducunt ad neuter mortem. Xiphias ires, tanquam emeritis orexis. Domesticus lixa vix perderes species est. Nunquam manifestum saga. Cobaltums resistere! Altus, gratis visuss sapienter visum de grandis, mirabilis mons.</p>
                                <p>Vae. Nunquam demitto lapsus. Cum omnia cadunt, omnes toruses pugna festus, magnum fluctuies. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque facilis molestiae saepe voluptatum. Eaque explicabo illo ipsa suscipit voluptas. Quod.</p>
                            </div>
                            <div class="comment-footer d-flex g-py-10">
                                <div class="g-mr-15">
                                    <p><span class="text-muted">Posted on: </span><span class="review-date"> 15 Nov 2017</span></p>
                                </div>
                                <div>
                                    <a href="#" class="reply-btn btn-link">Reply</a>
                                </div>
                            </div>
                        </div>
                        <!-- END Comment -->
        
                        <!-- Comment -->
                        <div class="comment g-mb-15 g-p-15 g-border g-border-gray-300 g-border-primary-h">
                            <div class="comment-header g-py-10 g-mb-10">
                                <div class="comment-author d-sm-flex align-items-center text-center text-sm-left">
                                    <div class="author-thumb">
                                        <img src="http://via.placeholder.com/100x100/eee/111" class="rounded-circle g-w40" alt="Author Thumbnail">
                                    </div>
                                    <div class="author-name g-ml-10">
                                        <h6 class="font-weight-bold g-text-gray-600">John Doe</h6>
                                    </div>
                                    <div class="rating-stars ml-auto">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-body">
                                <p>Lixa crederes, tanquam velox magister.</p>
                                <p>Cur mortem unda? Ecce, cobaltum! Barbatus, mirabilis tatas callide resuscitabo de salvus, azureus secula. Cum liberi messis, omnes capioes imperium mirabilis, emeritis gemnaes.</p>
                            </div>
                            <div class="comment-footer d-flex g-py-10">
                                <div class="g-mr-15">
                                    <p><span class="text-muted">Posted on: </span><span class="review-date"> 9 Nov 2017</span></p>
                                </div>
                                <div>
                                    <a href="#" class="reply-btn btn-link">Reply</a>
                                </div>
                            </div>
                        </div>
                        <!-- END Comment -->
        
                        <div class="text-center g-my-30">
                            <nav class="cn-pagination">
                                <ul class="list-unstyled pagination-sm">
                                    <li class="page-item previous-item disabled">
                                        <a class="page-link" href="#" tabindex="-1"><i class="fa fa-long-arrow-left"></i></a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><span class="g-p-5">...</span></li>
                                    <li class="page-item"><a class="page-link" href="#">18</a></li>
                                    <li class="page-item next-item">
                                        <a class="page-link" href="#"><i class="fa fa-long-arrow-right"></i></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
        
                        <!-- Comment Form -->
                        <form class="row g-mt-70">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="review_name">Your Name</label>
                                    <input class="form-control" type="text" id="review_name" required placeholder="John Doe">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="review_email">Your Email</label>
                                    <input class="form-control" type="email" id="review_email" required placeholder="johndoe@gmail.com">
                                </div>
                            </div>
            
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="review_rating">Your Rating</label>
                                    <select class="form-control" id="review_rating">
                                        <option>5 Stars</option>
                                        <option>4 Stars</option>
                                        <option>3 Stars</option>
                                        <option>2 Stars</option>
                                        <option>1 Star</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="review_text" class="g-mb-0">Your Review </label>
                                    <p class="g-mb-5"><small>Maxium 500 characters</small></p>
                                    <textarea class="form-control" id="review_text" rows="10" required placeholder="Your comment goes here..."></textarea>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn cn-btn-primary" type="submit">Post your review</button>
                            </div>
                        </form>
                        <!-- END Comment Form -->
                        
                    </div>
                    <!-- END Blog Comments -->
                </div>
                
            </div>
        </section>
 
        <!-- END Blog Content -->
        
    </div>
    <!-- END Main Content -->

    
    <!-- Footer -->
    {% include '../_partials/footers/footer-1.html' %}
    <!-- END Footer -->
    
</div>
<!-- END Main Wrapper -->
{% endblock %}