{% extends '../_partials/cnote-main-layout.html' %}
{% block page-title %}<title>Login | cNote Responsive Template</title> {% endblock %}

{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper">
    
    <!-- Header -->
    <header id="header" class="cn-header">
        {% include '../_partials/headers/_main-header.html' %}
    </header>
    <!-- END Header -->
    
    <!-- Main Content -->
    <div id="main-content">
        
        <!-- Page Header -->
        <section class="jumbotron g-py-50 g-bg-gray-100 g-border-b g-border-b-gray-300">
            <div class="container">
                <div class="g-flex-md-middle">
                    <h5 class="text-uppercase">Login</h5>
                    <nav aria-label="breadcrumb" class="ml-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="../homepages/homepage-1.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="../components/accordions.html">Pages</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Login</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- END Page Header -->
        
        <!-- Login Section -->
        <section class="login-section g-py-70 g-bg-white">
            <div class="container">
                
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="g-bg-white g-border g-border-gray-300 g-px-30 g-py-35 g-shadow-v1">
                            <h4 class="text-center g-pb-35 font-weight-bold">Login</h4>
                            <!-- Login Form -->
                            <form class="login-form-1">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <div class="input-group input-group-focus">
                                        <span class="input-group-prepend g-w50">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        <input type="email" class="form-control form-control-lg" id="email" name="email" placeholder="johndoe@gmail.com">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <div class="input-group input-group-focus">
                                        <input type="text" class="form-control form-control-lg" id="password" name="password" placeholder="Your Password">
                                        <span class="input-group-append g-w50">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                </div>
    
                                <div class="form-group d-lg-flex align-items-lg-center">
                                    <div class="custom-control cn-custom-checkbox d-flex align-items-center">
                                        <input class="custom-control-input" type="checkbox" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">
                                            <span>Remember Me</span>
                                        </label>
                                    </div>
                                    <div class="ml-auto">
                                        <p><a href="/forgot-password.html">Forgot your password? </a></p>
                                    </div>
                                </div>
                                <div class="form-group g-mb-40">
                                    <button type="submit" class="btn cn-btn-primary">Login</button>
                                </div>
                                <div class="text-center">
                                    <p>Don't have an account? <a href="-1.html">Register</a></p>
                                </div>
                            </form>
                            <!-- END Login Form 1 -->
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <!-- END Login Section -->
        
    </div>
    <!-- END Main Content -->
    
    <!-- Footer -->
    {% include '../_partials/footers/footer-1.html' %}
    <!-- END Footer -->

</div>
<!-- END Main Wrapper -->
{% endblock %}

