{% extends '../_partials/cnote-main-layout.html' %}
{% block page-title %}<title>Portfolio Single Page | cNote Responsive Template</title> {% endblock %}

{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper">
    
    <!-- Header -->
    <header id="header" class="cn-header">
        {% include '../_partials/headers/_main-header.html' %}
    </header>
    <!-- END Header -->
    
    <!-- Main Content -->
    <div id="main-content">
    
        <!-- Page Header -->
        <section class="jumbotron g-py-50 g-bg-gray-100 g-border-b g-border-b-gray-300">
            <div class="container">
                <div class="g-flex-md-middle">
                    <h5 class="text-uppercase">Portfolio Single</h5>
                    <nav aria-label="breadcrumb" class="ml-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Portfolio Single</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- END Page Header -->
        
        <!-- Portfolio Single -->
        <section class="portfolio-single g-py-100 g-bg-white">
            <div class="container">
                <div class="portfolio-single-content g-bg-white g-p-10 g-py-15 g-p-md-30 g-border g-border-gray-300 g-shadow-v1">
                    <!-- Portfolio Single Header -->
                    <div class="portfolio-single-header">
                        
                        <!-- Portfolio Single Image -->
                        <div class="portfolio-single-img g-mb-60">
                            <div class="g-h400 bg-cover" style="background-image: url('http://via.placeholder.com/1280x600/eee/777')"></div>
                        </div>
                        <!-- END Portfolio Single Image -->
                        
                    </div>
                    <!-- END Portfolio Single Header -->
                    
                    <!-- Portfolio Single Body -->

                    <div class="porftolio-single-body g-mb-50">
                        <!-- Portfolio Single Title -->
                        <div class="section-title portfolio-single-title text-center g-mb-60">
                            <h5 class="title text-uppercase font-weight-semibold">Portfolio Single</h5>
                            <p class="g-text-gray-700">Portfolio Subtitle - Lorem ipsum dolor</p>
                        </div>
                        <!-- END Portfolio Single Title -->

                        <div class="portfolio-description text-center text-md-left">
                            <p class="g-mb-10">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nihil nobis quae ratione reprehenderit repudiandae voluptatem.
                                Dolore dolorum ea laborum maiores modi, obcaecati provident quis quo similique tempore?
                            </p>
                            <p class="g-text-gray-700">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <p class="g-mb-10">Nunquam contactus habitio. Cum lumen accelerare, omnes fraticinidaes experientia bi-color, magnum abaculuses.</p>
                            <p class="g-mb-30">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nihil nobis quae ratione reprehenderit repudiandae voluptatem.
                                Dolore dolorum ea laborum maiores modi, obcaecati provident quis quo similique tempore? Aliquam consectetur consequatur
                                debitis dolore doloremque dolores dolorum earum ipsa laboriosam modi nemo.
                            </p>
                        </div>
                        <hr>
                        <blockquote class="post-quote g-py-50">
                            <div class="row justify-content-center no-gutters">
                                <div class="col-auto"><i class="fa fa-quote-left fa-2x g-text-gray-400" aria-hidden="true"></i></div>
                                <div class="col-10">
                                    <h5 class="text-center font-italic text-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolorum earum excepturi impedit incidunt nihil obcaecati quas suscipit unde ut!</h5>
                                </div>
                            </div>
                        </blockquote>
                        <hr class="g-mb-30">
                        <p class="g-mb-10">
                            Pol, solitudo! Est alter boreas, cesaris. Talis, bi-color parmas velox acquirere de regius, salvus compater.
                            Ecce, heuretes! Cum nuclear vexatum iacere ire, omnes lanistaes magicae camerarius, varius ususes.
                            cum liberi crescere, omnes abnobaes carpseris grandis, neuter indictioes. dexter domina recte anhelares scutum est.
                            Cum burgus congregabo, omnes solemes locus magnum, mirabilis ususes?
                        </p>
                        <p class="g-mb-10">
                            Sunt indexes attrahendam peritus, velox spatiies. Clemens, alter brabeutas acceleratrix tractare de fatalis, gratis mens.
                            Potus recte ducunt ad azureus palus. Noster, placidus brodiums foris reperire de dexter, emeritis zeta.
                        </p>
                    </div>

                    <!-- END Portfolio Single Body -->

                    <!-- Portfolio Single Footer -->
                    <div class="portfolio-single-footer g-mb-100">
                        <div class="g-mb-10">
                            <i class="fa fa-user g-w20" aria-hidden="true"></i>
                            <span>Owner: </span>
                            <span class="font-weight-bold text-uppercase g-ml-5">John Doe</span>
                        </div>
                        <div class="g-mb-10">
                            <i class="fa fa-calendar g-w20" aria-hidden="true"></i>
                            <span>Publish Date: </span>
                            <span class="font-weight-bold text-uppercase g-ml-5"> 11/11/2017</span>
                        </div>
                        <div class="g-mb-10">
                            <div class="float-left g-mr-5">
                                <i class="fa fa-tag g-w20" aria-hidden="true"></i>
                                <span class="d-inline-block">Tags: </span>
                            </div>
                           <div class="tags g-ml-5">
                               <a href="#">#creative</a>
                               <a href="#">#web design</a>
                               <a href="#">#corporate</a>
                               <a href="#">#bootstrap</a>
                               <a href="#">#sass</a>
                           </div>
                        </div>
                        <div class="g-mb-10">
                            <div class="d-flex align-items-center">
                                <div>
                                    <i class="fa fa-share-square-o g-w20" aria-hidden="true"></i>
                                    <span>Share: </span>
                                </div>
                                <div class="g-ml-5">
                                    <a class="cn-icon cn-icon-xs g-bg-secondary g-bg-dark-h rounded" href="#">
                                        <i class="fa fa-twitter g-font-size-12"></i>
                                    </a>
                                    <a class="cn-icon cn-icon-xs g-bg-secondary g-bg-dark-h rounded" href="#">
                                        <i class="fa fa-facebook g-font-size-12"></i>
                                    </a>
                                    <a class="cn-icon cn-icon-xs g-bg-secondary g-bg-dark-h rounded" href="#">
                                        <i class="fa fa-linkedin g-font-size-12"></i>
                                    </a>
                                    <a class="cn-icon cn-icon-xs g-bg-secondary g-bg-dark-h rounded" href="#">
                                        <i class="fa fa-google-plus g-font-size-12"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Portfolio Single Footer -->

                    <div class="comments-section">
                        <!-- Comment -->
                        <div class="comment g-mb-15 g-p-15 g-border g-border-gray-300 g-border-primary-h">
                            <div class="comment-header g-mb-10">
                                <div class="comment-author d-sm-flex align-items-center text-center text-sm-left">
                                    <div class="author-thumb">
                                        <img src="http://via.placeholder.com/100x100/eee/777" class="rounded-circle g-w40" alt="Author Thumbnail">
                                    </div>
                                    <div class="author-name g-ml-10">
                                        <h6 class="font-weight-bold g-text-gray-600">John Doe</h6>
                                    </div>
                                    <div class="rating-stars ml-auto">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-body">
                                <p>Finis moris, tanquam raptus parma. Cum visus peregrinationes, omnes fiscinaes manifestum talis, nobilis fermiumes!</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolorum eaque expedita laboriosam maxime non provident? Aut beatae dolor, doloremque in minima mollitia natus, nulla odio pariatur totam ut veniam.</p>
                            </div>
                            <div class="comment-footer g-py-10">
                                <div class="g-mr-15">
                                    <span class="text-muted">Posted on: </span><span class="review-date g-mr-10"> 18 Nov 2017</span>
                                    <a class="reply-btn btn-link" data-toggle="collapse" href="#replyCommentCollapse" aria-expanded="false" aria-controls="replyCommentCollapse">Reply</a>
                                </div>
                                <div class="collapse" id="replyCommentCollapse">
                                    <div class="reply-form g-mt-20">
                                        <div class="row no-gutters">
                                            <div class="col-sm-6">
                                                <div class="form-group g-pr-5">
                                                    <input class="form-control" type="text" id="reply-name" required placeholder="Bill Will">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group g-pl-5">
                                                    <input class="form-control" type="email" id="reply-email" required placeholder="billwill@gmail.com">
                                                </div>
                                            </div>
                        
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <textarea class="form-control" id="reply-text" rows="4" required placeholder="Reply your message"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button class="btn btn-sm cn-btn-primary" type="submit">Reply to John Doe</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <!-- Reply Comment -->
                            <div class="reply-comment g-mt-20 g-ml-20 g-p-15 g-border g-border-gray-300">
                                <!-- Comment Header -->
                                <div class="comment-header g-mb-20">
                                    <div class="comment-author d-flex align-items-center">
                                        <div class="author-thumb">
                                            <div class="icon icon-sm g-bg-gray-200 rounded-circle">
                                                <i class="fa fa-user"></i>
                                            </div>
                                        </div>
                                        <div class="author-name g-ml-10">
                                            <h6 class="font-weight-bold g-text-gray-600">Bill Will</h6>
                                        </div>
                                    </div>
                                </div>
                                <!-- END Comment Header -->
            
                                <!-- Comment Body -->
                                <div class="comment-body">
                                    <p>Albus apolloniatess ducunt ad rumor. Magnum, mirabilis frondators solite visum de secundus, primus guttus!</p>
                                    <p>Ubi est magnum brodium? Cum imber nocere, omnes galluses dignus bi-color, barbatus valebates.</p>
                                </div>
                                <!-- END Comment Body -->
                                <!-- Comment Footer -->
                                <div class="comment-footer g-py-10">
                                    <p><span class="text-muted">Posted on: </span><span class="review-date"> 24 Nov 2017</span></p>
                                </div>
                                <!-- END Comment Footer -->
                            </div>
                            <!-- END Reply Comment -->
                        </div>
                        <!-- END Comment -->
    
                        <!-- Comment -->
                        <div class="comment g-mb-15 g-p-15 g-border g-border-gray-300 g-border-primary-h">
                            <div class="comment-header g-py-10 g-mb-10">
                                <div class="comment-author d-sm-flex align-items-center text-center text-sm-left">
                                    <div class="author-thumb">
                                        <img src="http://via.placeholder.com/100x100/eee/777" class="rounded-circle g-w40" alt="Author Thumbnail">
                                    </div>
                                    <div class="author-name g-ml-10">
                                        <h6 class="font-weight-bold g-text-gray-600">Jenny Doe</h6>
                                    </div>
                                    <div class="rating-stars ml-auto">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-body">
                                <p>Est teres uria, cesaris. Galluss resistere! Cur bursa unda? Ridetis sapienter ducunt ad neuter mortem. Xiphias ires, tanquam emeritis orexis. Domesticus lixa vix perderes species est. Nunquam manifestum saga. Cobaltums resistere! Altus, gratis visuss sapienter visum de grandis, mirabilis mons.</p>
                                <p>Vae. Nunquam demitto lapsus. Cum omnia cadunt, omnes toruses pugna festus, magnum fluctuies. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque facilis molestiae saepe voluptatum. Eaque explicabo illo ipsa suscipit voluptas. Quod.</p>
                            </div>
                            <div class="comment-footer d-flex g-py-10">
                                <div class="g-mr-15">
                                    <p><span class="text-muted">Posted on: </span><span class="review-date"> 15 Nov 2017</span></p>
                                </div>
                                <div>
                                    <a href="#" class="reply-btn btn-link">Reply</a>
                                </div>
                            </div>
                        </div>
                        <!-- END Comment -->
                    </div>

                </div>
            </div>
        </section>
        <!-- END Portfolio Single -->

        <!-- Similar Projects -->
        <section class="g-mb-100">
            <div class="container">
                <div class="g-mb-70">
                    <h6 class="text-uppercase g-mb-30 font-weight-bold">Similar Projects</h6>
                    <div class="owl-carousel portfolio-carousel">
                        <div class="portfolio">
                            <a href="#"><img class="img-fluid" src="http://via.placeholder.com/600x400/eee/777" alt="Image Description"></a>
                        </div>
                        <div class="portfolio">
                            <a href="#"><img class="img-fluid" src="http://via.placeholder.com/600x400/eee/777" alt="Image Description"></a>
                        </div>
                        <div class="portfolio">
                            <a href="#"><img class="img-fluid" src="http://via.placeholder.com/600x400/eee/777" alt="Image Description"></a>
                        </div>
                        <div class="portfolio">
                            <a href="#"><img class="img-fluid" src="http://via.placeholder.com/600x400/eee/777" alt="Image Description"></a>
                        </div>
                        <div class="portfolio">
                            <a href="#"><img class="img-fluid" src="http://via.placeholder.com/600x400/eee/777" alt="Image Description"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Similar Projects -->

        <!-- END Portfolio Single -->
    </div>
    <!-- END Main Content -->
    
    <!-- Footer -->
    {% include '../_partials/footers/footer-1.html' %}
    <!-- END Footer -->
    
</div>
<!-- END Main Wrapper -->
{% endblock %}

