@model FindMyPet.MVC.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Olvidaste tu Contraseña?";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <section class="login-section g-py g-bg-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="g-bg-white g-border g-border-gray-300 g-px-30 g-py-35 g-shadow-v1">
                        <h4 class="text-center g-pb-35 font-weight-bold">Olvidaste tu Contraseña ?</h4>
                        
                        <div class="form-group">
                            <label for="email">Correo</label>
                            <div class="input-group input-group-focus">
                                <span class="input-group-prepend g-w50">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                @Html.TextBoxFor(m => m.Email, new { @id = "email", @name = "email", @class = "form-control form-control-lg", @placeholder = "Correo", MaxLength = 30 })
                            </div>
                        </div>

                        <div class="g-mb">
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                        </div>

                        <div class="form-group text-center g-mt-30">
                            <input type="submit" value="Enviar Link" class="btn cn-btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
