{% extends '_partials/_cnote-shop-layout.html' %}
{% block page-title %}<title>E-Commerce Grid Filter | cNote Responsive Template</title> {% endblock %}

{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper">
    
    <!-- Header -->
    <header id="header" class="cn-header">
        {% include '_partials/_headers/_topbar-1.html' %}
        {% include '_partials/_headers/_main-header.html' %}
    </header>
    <!-- END Header -->
    
    <!-- Main Content -->
    <div id="main-content">
        
        <!-- Page Header -->
        <section class="jumbotron g-py-50 g-bg-gray-100 g-border-b g-border-b-gray-300">
            <div class="container">
                <div class="g-flex-md-middle">
                    <h5 class="text-uppercase">Shop grid left sidebar</h5>
                    <nav aria-label="breadcrumb" class="ml-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Components</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shop grid left sidebar</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- END Page Header -->
    
        <!-- Products Content -->
        <section class="g-py-70 g-bg-white">
            <div class="container">
                <div class="row">
                
                
                    <div class="col-lg-9 order-md-2">
                    
                        <!-- Products Toolbar -->
                        <div class="products-toolbar d-sm-flex align-items-center g-py-20 g-mx-10">
                        
                            <!-- Sorting Products -->
                            <div class="products-sorting d-sm-flex align-items-center">
                                <div class="g-mr-10">
                                    <select class="form-control g-pl-5 g-mb-10 g-mb-sm-0" id="sorting">
                                        <option>Best Rated</option>
                                        <option>Low - High Price</option>
                                        <option>High - Low Price</option>
                                        <option>Avarage Rating</option>
                                        <option>A - Z Order</option>
                                        <option>Z - A Order</option>
                                    </select>
                                </div>
                                <div class="text-center text-sm-left">
                                    <span>Show: </span>
                                    <span>1 - 12 products</span>
                                </div>
                            </div>
                            <!-- END Sorting Products -->
                        
                            <!-- Showing Products ( Grid / List ) -->
                            <div class="products-showing ml-auto text-center text-sm-left">
                                <ul class="list-unstyled">
                                    <li class="list-inline-item">
                                        <a href="#" class="g-text-gray-light-100 active"><i class="fa fa-th g-font-size-30" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="g-text-gray-light-100"><i class="fa fa-th-list g-font-size-30" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- END Showing Products ( Grid / List ) -->
                    
                        </div>
                        <!-- END Products Toolbar -->
                    
                        <!-- Products -->
                        <div class="row">
                            <div class="col-md-4 g-p-10">
                                <!-- Product -->
                                <div class="product g-border g-border-gray-300">
                                    <div class="product-image g-border-b g-border-b-gray-300">
                                        <a href="#"><img class="img-fluid" src="http://via.placeholder.com/650x650/eee/777" alt="Image Description"></a>
                                    </div>
                                    <div class="product-body text-center g-py-15">
                                        <h5 class="title font-weight-bold g-mb-10">High Heels</h5>
                                        <div class="price g-mb-10">
                                            <span class="old-price text-cutted">$54</span>
                                            <span class="new-price text-primary"> $36</span>
                                        </div>
                                        <div class="d-inline-flex">
                                            <a href="#" class="g-font-size-15 g-bg-gray-200 g-py-10 g-px-20 g-mr-3" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                                                <i class="icon-basket"></i>
                                            </a>
                                            <a href="#" class="g-font-size-15 g-bg-gray-200 g-py-10 g-px-20" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <i class="icon-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- END Product -->
                            </div>
                            <div class="col-md-4 g-p-10">
                                <!-- Product -->
                                <div class="product g-border g-border-gray-300">
                                    <div class="product-image g-border-b g-border-b-gray-300">
                                        <a href="#"><img class="img-fluid" src="http://via.placeholder.com/650x650/eee/777" alt="Image Description"></a>
                                    </div>
                                    <div class="product-body text-center g-py-15">
                                        <h5 class="title font-weight-bold g-mb-10">Sneakers</h5>
                                        <div class="price g-mb-10">
                                            <span class="old-price text-cutted">$44.99</span>
                                            <span class="new-price text-primary"> $30</span>
                                        </div>
                                        <div class="d-inline-flex">
                                            <a href="#" class="g-font-size-15 g-bg-gray-200 g-py-10 g-px-20 g-mr-3" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                                                <i class="icon-basket"></i>
                                            </a>
                                            <a href="#" class="g-font-size-15 g-bg-gray-200 g-py-10 g-px-20" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <i class="icon-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- END Product -->
                            </div>
                            <div class="col-md-4 g-p-10">
                                <!-- Product -->
                                <div class="product g-border g-border-gray-300">
                                    <div class="product-image g-border-b g-border-b-gray-300">
                                        <a href="#"><img class="img-fluid" src="http://via.placeholder.com/650x650/eee/777" alt="Image Description"></a>
                                    </div>
                                    <div class="product-body text-center g-py-15">
                                        <h5 class="title font-weight-bold g-mb-10">T-Shirt</h5>
                                        <div class="price g-mb-10">
                                            <span class="old-price text-cutted">$14</span>
                                            <span class="new-price text-primary"> $9.38</span>
                                        </div>
                                        <div class="d-inline-flex">
                                            <a href="#" class="g-font-size-15 g-bg-gray-200 g-py-10 g-px-20 g-mr-3" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                                                <i class="icon-basket"></i>
                                            </a>
                                            <a href="#" class="g-font-size-15 g-bg-gray-200 g-py-10 g-px-20" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <i class="icon-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- END Product -->
                            </div>
                            <div class="col-md-4 g-p-10">
                                <!-- Product -->
                                <div class="product g-border g-border-gray-300">
                                    <div class="product-image g-border-b g-border-b-gray-300">
                                        <a href="#"><img class="img-fluid" src="http://via.placeholder.com/650x650/eee/777" alt="Image Description"></a>
                                    </div>
                                    <div class="product-body text-center g-py-15">
                                        <h5 class="title font-weight-bold g-mb-10">Shoes</h5>
                                        <div class="price g-mb-10">
                                            <span class="old-price text-cutted">$34.99</span>
                                            <span class="new-price text-primary"> $10.50</span>
                                        </div>
                                        <div class="d-inline-flex">
                                            <a href="#" class="g-font-size-15 g-bg-gray-200 g-py-10 g-px-20 g-mr-3" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                                                <i class="icon-basket"></i>
                                            </a>
                                            <a href="#" class="g-font-size-15 g-bg-gray-200 g-py-10 g-px-20" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <i class="icon-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- END Product -->
                            </div>
                            <div class="col-md-4 g-p-10">
                                <!-- Product -->
                                <div class="product g-border g-border-gray-300">
                                    <div class="product-image g-border-b g-border-b-gray-300">
                                        <a href="#"><img class="img-fluid" src="http://via.placeholder.com/650x650/eee/777" alt="Image Description"></a>
                                    </div>
                                    <div class="product-body text-center g-py-15">
                                        <h5 class="title font-weight-bold g-mb-10">Cloth</h5>
                                        <div class="price g-mb-10">
                                            <span class="old-price text-cutted">$10.99</span>
                                            <span class="new-price text-primary"> $7.36</span>
                                        </div>
                                        <div class="d-inline-flex">
                                            <a href="#" class="g-font-size-15 g-bg-gray-200 g-py-10 g-px-20 g-mr-3" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                                                <i class="icon-basket"></i>
                                            </a>
                                            <a href="#" class="g-font-size-15 g-bg-gray-200 g-py-10 g-px-20" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <i class="icon-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- END Product -->
                            </div>
                            <div class="col-md-4 g-p-10">
                                <!-- Product -->
                                <div class="product g-border g-border-gray-300">
                                    <div class="product-image g-border-b g-border-b-gray-300">
                                        <a href="#"><img class="img-fluid" src="http://via.placeholder.com/650x650/eee/777" alt="Image Description"></a>
                                    </div>
                                    <div class="product-body text-center g-py-15">
                                        <h5 class="title font-weight-bold g-mb-10">Tie</h5>
                                        <div class="price g-mb-10">
                                            <span class="old-price text-cutted">$120</span>
                                            <span class="new-price text-primary"> $80</span>
                                        </div>
                                        <div class="d-inline-flex">
                                            <a href="#" class="g-font-size-15 g-bg-gray-200 g-py-10 g-px-20 g-mr-3" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                                                <i class="icon-basket"></i>
                                            </a>
                                            <a href="#" class="g-font-size-15 g-bg-gray-200 g-py-10 g-px-20" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <i class="icon-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- END Product -->
                            </div>
                            <div class="col-md-4 g-p-10">
                                <!-- Product -->
                                <div class="product g-border g-border-gray-300">
                                    <div class="product-image g-border-b g-border-b-gray-300">
                                        <a href="#"><img class="img-fluid" src="http://via.placeholder.com/650x650/eee/777" alt="Image Description"></a>
                                    </div>
                                    <div class="product-body text-center g-py-15">
                                        <h5 class="title font-weight-bold g-mb-10">Sneakers</h5>
                                        <div class="price g-mb-10">
                                            <span class="old-price text-cutted">$44.99</span>
                                            <span class="new-price text-primary"> $30</span>
                                        </div>
                                        <div class="d-inline-flex">
                                            <a href="#" class="g-font-size-15 g-bg-gray-200 g-py-10 g-px-20 g-mr-3" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                                                <i class="icon-basket"></i>
                                            </a>
                                            <a href="#" class="g-font-size-15 g-bg-gray-200 g-py-10 g-px-20" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <i class="icon-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- END Product -->
                            </div>
                            <div class="col-md-4 g-p-10">
                                <!-- Product -->
                                <div class="product g-border g-border-gray-300">
                                    <div class="product-image g-border-b g-border-b-gray-300">
                                        <a href="#"><img class="img-fluid" src="http://via.placeholder.com/650x650/eee/777" alt="Image Description"></a>
                                    </div>
                                    <div class="product-body text-center g-py-15">
                                        <h5 class="title font-weight-bold g-mb-10">High Heels</h5>
                                        <div class="price g-mb-10">
                                            <span class="old-price text-cutted">$54.99</span>
                                            <span class="new-price text-primary"> $36</span>
                                        </div>
                                        <div class="d-inline-flex">
                                            <a href="#" class="g-font-size-15 g-bg-gray-200 g-py-10 g-px-20 g-mr-3" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                                                <i class="icon-basket"></i>
                                            </a>
                                            <a href="#" class="g-font-size-15 g-bg-gray-200 g-py-10 g-px-20" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <i class="icon-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- END Product -->
                            </div>
                            <div class="col-md-4 g-p-10">
                                <!-- Product -->
                                <div class="product g-border g-border-gray-300">
                                    <div class="product-image g-border-b g-border-b-gray-300">
                                        <a href="#"><img class="img-fluid" src="http://via.placeholder.com/650x650/eee/777" alt="Image Description"></a>
                                    </div>
                                    <div class="product-body text-center g-py-15">
                                        <h5 class="title font-weight-bold g-mb-10">Shirt</h5>
                                        <div class="price g-mb-10">
                                            <span class="old-price text-cutted">$45</span>
                                            <span class="new-price text-primary"> $36</span>
                                        </div>
                                        <div class="d-inline-flex">
                                            <a href="#" class="g-font-size-15 g-bg-gray-200 g-py-10 g-px-20 g-mr-3" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                                                <i class="icon-basket"></i>
                                            </a>
                                            <a href="#" class="g-font-size-15 g-bg-gray-200 g-py-10 g-px-20" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <i class="icon-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- END Product -->
                            </div>
                        </div>
                        <!-- END Products -->
                    
                        <!-- Pagination -->
                        <div class="pagination-container g-mt-50">
                            <nav class="cn-pagination v3 text-center g-mb-30" aria-label="Page Navigation">
                                <ul class="list-unstyled">
                                    <li class="page-item previous-item disabled float-md-left">
                                        <a class="page-link" href="#">
                                <span aria-hidden="true">
                                    <i class="fa fa-long-arrow-left g-mr-5"></i>Previous
                                </span>
                                        </a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><span class="g-p-5">...</span></li>
                                    <li class="page-item"><a class="page-link" href="#">18</a></li>
                                    <li class="page-item next-item float-md-right">
                                        <a class="page-link" href="#">
                                <span aria-hidden="true">Next
                                    <i class="fa fa-long-arrow-right g-ml-5"></i>
                                </span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- END Pagination -->
                
                    </div>
                
                
                    <!-- Filters -->
                    <div class="col-lg-3 order-md-1">
                    
                        <aside class="sidebar g-px-15">
                        
                            <!-- Categories Widget -->
                            <div class="widget categories-widget g-mt-60">
                                <h6 class="widget-title g-mb-20">Categories</h6>
                                <ul class="widget-list g-mt-25">
                                    <li>
                                        <a href="#" class="g-flex-middle">
                                            <i class="fa fa-angle-right g-mr-5" aria-hidden="true"></i> Shoes
                                            <span class="badge ml-auto g-text-gray-600">49</span>
                                        </a>
                                    </li>
                                   <li>
                                       <a href="#" class="g-flex-middle">
                                           <i class="fa fa-angle-right g-mr-5" aria-hidden="true"></i> T-Shirts
                                           <span class="badge ml-auto g-text-gray-600">192</span>
                                       </a>
                                   </li>
                                    <li>
                                        <a href="#" class="g-flex-middle">
                                            <i class="fa fa-angle-right g-mr-5" aria-hidden="true"></i> Jackets
                                            <span class="badge ml-auto g-text-gray-600">57</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="g-flex-middle">
                                            <i class="fa fa-angle-right g-mr-5" aria-hidden="true"></i> Jeans
                                            <span class="badge ml-auto g-text-gray-600">82</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="g-flex-middle">
                                            <i class="fa fa-angle-right g-mr-5" aria-hidden="true"></i> Clothes
                                            <span class="badge ml-auto g-text-gray-600">105</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="g-flex-middle">
                                            <i class="fa fa-angle-right g-mr-5" aria-hidden="true"></i> Accessories
                                            <span class="badge ml-auto g-text-gray-600">52</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="g-flex-middle">
                                            <i class="fa fa-angle-right g-mr-5" aria-hidden="true"></i> Trending
                                            <span class="badge ml-auto g-text-gray-600">63</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- END Categories Widget -->
                        
                            <!-- Price Widget -->
                            <div class="widget price-widget g-mt-30">
                                <h6 class="widget-title g-mb-20">Price Range</h6>
                                <div class="slider-amount"></div>
                                <div class="slider-range"></div>
                            </div>
                            <!-- END Price Widget -->
                        
                            <!-- Brands -->
                            <div class="widget brands-widget g-mt-30">
                                <h6 class="widget-title g-mb-20">Filter by Brand</h6>
                                <div class="custom-control cn-custom-checkbox d-flex align-items-center g-mb-5">
                                    <input class="custom-control-input" type="checkbox" id="customCheck1" checked>
                                    <label class="custom-control-label" for="customCheck1">
                                        <span>Tommy Hilfiger</span>
                                    </label>
                                    <span class="badge ml-auto g-text-gray-600">235</span>
                                </div>
                                <div class="custom-control cn-custom-checkbox d-flex align-items-center g-mb-5">
                                    <input class="custom-control-input" type="checkbox" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">
                                        <span>Calvin Klein</span>
                                    </label>
                                    <span class="badge ml-auto g-text-gray-600">58</span>
                                </div>
                                <div class="custom-control cn-custom-checkbox d-flex align-items-center g-mb-5">
                                    <input class="custom-control-input" type="checkbox" id="customCheck3">
                                    <label class="custom-control-label" for="customCheck3">
                                        <span>Nike</span>
                                    </label>
                                    <span class="badge ml-auto g-text-gray-600">74</span>
                                </div>
                                <div class="custom-control cn-custom-checkbox d-flex align-items-center g-mb-5">
                                    <input class="custom-control-input" type="checkbox" id="customCheck4">
                                    <label class="custom-control-label" for="customCheck4">
                                        <span>Ralph Lauren</span>
                                    </label>
                                    <span class="badge ml-auto g-text-gray-600">40</span>
                                </div>
                                <div class="custom-control cn-custom-checkbox d-flex align-items-center g-mb-5">
                                    <input class="custom-control-input" type="checkbox" id="customCheck5" checked>
                                    <label class="custom-control-label" for="customCheck5">
                                        <span>Puma</span>
                                    </label>
                                    <span class="badge ml-auto g-text-gray-600">88</span>
                                </div>
                                <div class="custom-control cn-custom-checkbox d-flex align-items-center g-mb-5">
                                    <input class="custom-control-input" type="checkbox" id="customCheck6">
                                    <label class="custom-control-label" for="customCheck6">
                                        <span>Adidas</span>
                                    </label>
                                    <span class="badge ml-auto g-text-gray-600">310</span>
                                </div>
                            </div>
                            <!-- END Brands -->
                        
                            <!-- Sizes -->
                            <div class="widget sizes-widget g-mt-30">
                                <h6 class="widget-title g-mb-20">Filter by Sizes</h6>
                                <div class="custom-control cn-custom-checkbox d-flex align-items-center g-mb-5">
                                    <input class="custom-control-input" type="checkbox" id="size1" checked>
                                    <label class="custom-control-label" for="size1">
                                        <span>XS</span>
                                    </label>
                                    <span class="badge ml-auto g-text-gray-600">19</span>
                                </div>
                                <div class="custom-control cn-custom-checkbox d-flex align-items-center g-mb-5">
                                    <input class="custom-control-input" type="checkbox" id="size2">
                                    <label class="custom-control-label" for="size2">
                                        <span>S</span>
                                    </label>
                                    <span class="badge ml-auto g-text-gray-600">52</span>
                                </div>
                                <div class="custom-control cn-custom-checkbox d-flex align-items-center g-mb-5">
                                    <input class="custom-control-input" type="checkbox" id="size3">
                                    <label class="custom-control-label" for="size3">
                                        <span>M</span>
                                    </label>
                                    <span class="badge ml-auto g-text-gray-600">124</span>
                                </div>
                                <div class="custom-control cn-custom-checkbox d-flex align-items-center g-mb-5">
                                    <input class="custom-control-input" type="checkbox" id="size4" checked>
                                    <label class="custom-control-label" for="size4">
                                        <span>L</span>
                                    </label>
                                    <span class="badge ml-auto g-text-gray-600">153</span>
                                </div>
                                <div class="custom-control cn-custom-checkbox d-flex align-items-center g-mb-5">
                                    <input class="custom-control-input" type="checkbox" id="size5" checked>
                                    <label class="custom-control-label" for="size5">
                                        <span>XL</span>
                                    </label>
                                    <span class="badge ml-auto g-text-gray-600">95</span>
                                </div>
                                <div class="custom-control cn-custom-checkbox d-flex align-items-center g-mb-5">
                                    <input class="custom-control-input" type="checkbox" id="size6">
                                    <label class="custom-control-label" for="size6">
                                        <span>XXL</span>
                                    </label>
                                    <span class="badge ml-auto g-text-gray-600">85</span>
                                </div>
                            </div>
                            <!-- END Sizes -->
                        
                            <!-- Ratings -->
                            <div class="widget review-widget g-mt-30">
                                <h6 class="widget-title g-mb-20">Ratings</h6>
                                <div class="custom-control cn-custom-checkbox d-flex align-items-center g-mb-5">
                                    <input class="custom-control-input" type="checkbox" id="rating5" checked>
                                    <label class="custom-control-label" for="rating5">
                                        <ul class="rating-stars g-ml-10">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </ul>
                                    </label>
                                    <span class="badge ml-auto g-text-gray-600">143</span>
                                </div>
                                <div class="custom-control cn-custom-checkbox d-flex align-items-center g-mb-5">
                                    <input class="custom-control-input" type="checkbox" id="rating4">
                                    <label class="custom-control-label" for="rating4">
                                        <ul class="rating-stars g-ml-10">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        </ul>
                                    </label>
                                    <span class="badge ml-auto g-text-gray-600">171</span>
                                </div>
                                <div class="custom-control cn-custom-checkbox d-flex align-items-center g-mb-5">
                                    <input class="custom-control-input" type="checkbox" id="rating3">
                                    <label class="custom-control-label" for="rating3">
                                        <ul class="rating-stars g-ml-10">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </ul>
                                    </label>
                                    <span class="badge ml-auto g-text-gray-600">84</span>
                                </div>
                                <div class="custom-control cn-custom-checkbox d-flex align-items-center g-mb-5">
                                    <input class="custom-control-input" type="checkbox" id="rating2">
                                    <label class="custom-control-label" for="rating2">
                                        <ul class="rating-stars g-ml-10">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </ul>
                                    </label>
                                    <span class="badge ml-auto g-text-gray-600">52</span>
                                </div>
                                <div class="custom-control cn-custom-checkbox d-flex align-items-center g-mb-5">
                                    <input class="custom-control-input" type="checkbox" id="rating1">
                                    <label class="custom-control-label" for="rating1">
                                        <ul class="rating-stars g-ml-10">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </ul>
                                    </label>
                                    <span class="badge ml-auto g-text-gray-600">48</span>
                                </div>
                            </div>
                            <!-- END Ratings -->
                    
                        </aside>
                
                    </div>
                    <!-- END Filters -->
            
                </div>
            </div>
        </section>
        <!-- END Products Content -->
    </div>
    <!-- END Main Content -->
    
    <!-- Footer -->
    {% include '_partials/_footer.html' %}
    <!-- END Footer -->
    
</div>
<!-- END Main Wrapper -->
{% endblock %}