<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta name="description" content="cNote responsive template">
    <meta name="keywords" content="Theme, Template, Ecommerce, Bootstrap, SASS, Multipage, Onepage, Ecommerce, Multipurpose, jQuery">
    <meta name="distribution" content="global">
    {% block page-title %}<title>E-Commerce | cNote Responsive Template</title>{%endblock %}
    {% block head %}
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800" rel="stylesheet">
    
    <!-- Icons -->
    <link rel="stylesheet" href="../assets/vendor/css/font-awesome.css">
    <link rel="stylesheet" href="../assets/vendor/css/simple-line-icons.css">
    <!-- Plugins -->
    <link rel="stylesheet" href="../assets/vendor/css/owl.carousel.css">
    <link rel="stylesheet" href="../assets/vendor/css/magnific-popup.css">
    <link rel="stylesheet" href="../assets/vendor/css/jquery-ui-slider.css">
    
    <!-- Main [ Bootstrap, Components, Generals ] -->
    <link rel="stylesheet" href="assets/css/main.css">
    
    <!-- Your custom code -->
    <link rel="stylesheet" href="assets/css/custom.css">
    
    {% endblock %}
    
    <!-- Favicon Image-->
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico">
    <link rel="icon" type="image/png" href="../assets/images/favicon.png">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116496437-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'UA-116496437-1');
    </script>

</head>
<body data-spy="scroll" data-target=".navbar-scrollspy" data-offset="50">

<!-- Preloader -->
<div id="preloader">
    <div class="h-100 d-flex justify-content-center align-items-center">
        <div class="ring"></div>
        <div class="ring2"></div>
    </div>
</div>

<!-- ScrollUp Window -->
<div id="scrollUp">
    <a href="#top">
        <span class="fa fa-arrow-up"></span>
    </a>
</div>

{% block content %}{% endblock %}
{% block footer-scripts %}

<!-- JS Main Files -->
<script src="../assets/vendor/js/jquery.js"></script>
<script src="../assets/vendor/js/popper.js"></script>
<script src="../assets/vendor/js/bootstrap.js"></script>

<!-- JS Plugins -->
<script src="../assets/vendor/js/owl.carousel.js"></script>
<script src="../assets/vendor/js/owl.carousel2.thumbs.js"></script>
<script src="../assets/vendor/js/bootstrap-datepicker.js"></script>
<script src="../assets/vendor/js/jquery.appear.js"></script>
<script src="../assets/vendor/js/jquery.countdown.js"></script>
<script src="../assets/vendor/js/countUp.js"></script>
<script src="../assets/vendor/js/masonry.pkgd.js"></script>
<script src="../assets/vendor/js/imagesloaded.pkgd.js"></script>
<script src="../assets/vendor/js/jquery.magnific-popup.js"></script>
<script src="../assets/vendor/js/circle-progress.js"></script>
<script src="../assets/vendor/js/scrollreveal.js"></script>
<script src="../assets/vendor/js/typed.js"></script>

<!-- jQuery UI Widgets -->
<script src="../assets/vendor/js/widget.js"></script>
<script src="../assets/vendor/js/mouse.js"></script>
<script src="../assets/vendor/js/slider.js"></script>

<script src="assets/js/cnote.js"></script>


{% endblock %}
{% block additional-footer-scripts %}{% endblock %}
</body>
</html>
