<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="FindMyPet" 
         connectionString="Data Source=DESKTOP-R5KBAFD\SQLEXPRESS; Initial Catalog=FindMyPet; User Id=sa; Password = jordan23;" 
         providerName="System.Data.SqlClient" />
    
    <add name="FindMyPetDev"
        connectionString="Data Source=198.38.83.200; Initial Catalog=msoriano_findmypet; User Id=msoriano_findmypet_user; Password = P@$$w0rd;"
        providerName="System.Data.SqlClient" />

    <add name="FindMyPetProd"
        connectionString="Data Source=den1.mssql3.gear.host; Initial Catalog=findmypetsite; User Id=findmypetsite; Password = Qh07yRK_j?4z;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="servicestack:license" value="6217-e1JlZjo2MjE3LE5hbWU6TWlndWVsIFNvcmlhbm8sVHlwZTpJbmRpZSxIYXNoOmROYWR4TVFDdmdwNVpuOWNjdGgwZldoQldnNnR0aWphTkZ3Mm5FS0dPQTZYYmFGSmRtdVF5UHZNczZnVzkwUmlUYzQrVEFkZlV5WkNTWjJkWTVqOGlPWThELzVUYXhOc2pvVDltSGxWeEJLdlNqeHBaaHAyZXJENVBPVXEwa3BkYmFMdnNMeWZ4NTdVSzNiL25IMG8yenNORXQ0citWdUFkVTNmY214aXhuaz0sRXhwaXJ5OjIwMTktMDYtMTN9" />
    
    <!-- Local / Development / Production -->
    <add key="Environment" value="Development"/>
    
    <!--Update all tables-->
    <add key="UpdateAll" value="true" />
    <!--Which's tables need to be update, split with comma and just will do when UpdateAll is false-->
    <add key="UpdateTables" value="Page" />
    <!--Code first Model for generate the tables in database-->
    <add key="ModelNamespace" value="FindMyPet.TableModel" />
  </appSettings>
  
</configuration>