{% extends '../_partials/cnote-main-layout.html' %}
{% block page-title %}<title>Homepage Version 1 | cNote Responsive Template</title> {% endblock %}

{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper" class="main-wrapper">
    
    <!-- Header -->
    <header id="header" class="cn-header position-relative">
        <!-- Main Navbar -->
        {% include '../_partials/headers/_main-header.html' %}
        <!-- END Main Navbar -->
    </header>
    <!-- END Header -->
    
    <!-- Main Content -->
    <div id="main-content">
        
        <!-- Banner -->
        <section class="banner bg-cover g-lg-h700 g-py-80 g-py-lg-0" style="background-image: url('http://via.placeholder.com/1920x1080/eee/ddd');">
            <div class="overlay g-bg-white-opacity-4"></div>
        
            <div class="d-flex align-items-center h-100">
                <div class="container banner-text text-dark text-center text-lg-left g-px-10">
                    <h2 class="text-uppercase font-weight-semibold font-prompt">
                        <span class="g-font-size-20 g-font-size-md-40 d-block d-lg-inline-block">We are </span>
                        <span class="g-font-size-30 g-font-size-md-55 g-text-primary">CNOTE</span>
                    </h2>
                    <h2 class="text-uppercase font-weight-semibold g-font-size-20 g-font-size-md-40 g-mb-20 font-prompt">Choose us for your next business</h2>
                    <div>
                        <a href="#" class="btn cn-btn-primary cn-btn-hover-v1-left"><i class="icon-cursor"></i> <span>Get Started</span></a>
                    </div>
                </div>
            </div>
    
        </section>
        <!-- END Banner -->
    
        <!-- Features -->
        <section class="features-section">
            <div class="container">
                <!-- Features Carousel -->
                <div class="owl-carousel feature-carousel primary-nav absolute-dots g-mt-lg-minus-175 g-h250 g-md-h350 g-mb-30">
                    <div class="feature-item g-my-10 g-bg-white g-h250 g-md-h350 g-flex-center pulse-primary-effect g-shadow-v2 g-rounded-5">
                        <div class="feature-wrap text-center">
                            <div class="feature-header">
                                <div class="cn-icon cn-icon-lg cn-icon-primary rounded-circle g-mb-20">
                                    <i class="icon-notebook g-font-size-20" aria-hidden="true"></i>
                                </div>
                                <div class="title g-mb-20">
                                    <h5 class="text-uppercase font-weight-semibold">Clean design</h5>
                                </div>
                            </div>
                            <div class="feature-desc">
                                <p class="g-mx-10 g-mx-md-30"> Grandis, emeritis bullas tandem promissio de festus, clemens cotta. A falsis, decor peritus burgus.  </p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-item g-my-10 g-bg-white g-h250 g-md-h350 g-flex-center pulse-primary-effect g-shadow-v2 g-rounded-5">
                        <div class="feature-wrap text-center">
                            <div class="feature-header">
                                <div class="cn-icon cn-icon-lg cn-icon-primary rounded-circle g-mb-20">
                                    <i class="icon-screen-desktop g-font-size-20" aria-hidden="true"></i>
                                </div>
                                <div class="title g-mb-20">
                                    <h5 class="text-uppercase font-weight-semibold">Responsive</h5>
                                </div>
                            </div>
                            <div class="feature-desc">
                                <p class="g-mx-10 g-mx-md-30"> Grandis, emeritis bullas tandem promissio de festus, clemens cotta. A falsis, decor peritus burgus.  </p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-item g-my-10 g-bg-white g-h250 g-md-h350 g-flex-center pulse-primary-effect g-shadow-v2 g-rounded-5">
                        <div class="feature-wrap text-center">
                            <div class="feature-header">
                                <div class="cn-icon cn-icon-lg cn-icon-primary rounded-circle g-mb-20">
                                    <i class="icon-bulb g-font-size-20" aria-hidden="true"></i>
                                </div>
                                <div class="title g-mb-20">
                                    <h5 class="text-uppercase font-weight-semibold">Best Quality</h5>
                                </div>
                            </div>
                            <div class="feature-desc">
                                <p class="g-mx-10 g-mx-md-30"> Grandis, emeritis bullas tandem promissio de festus, clemens cotta. A falsis, decor peritus burgus.  </p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-item g-my-10 g-bg-white g-h250 g-md-h350 g-flex-center pulse-primary-effect g-shadow-v2 g-rounded-5">
                        <div class="feature-wrap text-center">
                            <div class="feature-header">
                                <div class="cn-icon cn-icon-lg cn-icon-primary rounded-circle g-mb-20">
                                    <i class="icon-people g-font-size-20" aria-hidden="true"></i>
                                </div>
                                <div class="title g-mb-20">
                                    <h5 class="text-uppercase font-weight-semibold">Unlimited Support</h5>
                                </div>
                            </div>
                            <div class="feature-desc">
                                <p class="g-mx-10 g-mx-md-30"> Grandis, emeritis bullas tandem promissio de festus, clemens cotta. A falsis, decor peritus burgus.  </p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-item g-my-10 g-bg-white g-h250 g-md-h350 g-flex-center pulse-primary-effect g-shadow-v2 g-rounded-5">
                        <div class="feature-wrap text-center">
                            <div class="feature-header">
                                <div class="cn-icon cn-icon-lg cn-icon-primary rounded-circle g-mb-20">
                                    <i class="icon-settings g-font-size-20" aria-hidden="true"></i>
                                </div>
                                <div class="title g-mb-20">
                                    <h5 class="text-uppercase font-weight-semibold">Easy to Customize</h5>
                                </div>
                            </div>
                            <div class="feature-desc">
                                <p class="g-mx-10 g-mx-md-30"> Grandis, emeritis bullas tandem promissio de festus, clemens cotta. A falsis, decor peritus burgus.  </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Features Carousel -->
            </div>
        </section>
        <!-- END Features -->
        
        <!-- About -->
        <section class="about g-bg-white g-py-100">
            <div class="container">
                
                <div class="section-title text-center g-mb-80">
                    <h4 class="text-uppercase g-mb-20 cn-heading-v1-center font-weight-bold">About Us</h4>
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, veniam!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae blanditiis commodi fugiat.</p>
                        </div>
                    </div>
                </div>
                
                <div class="row align-items-center g-mb-lg-100">
                    <div class="col-lg-7 text-center">
                        <img src="http://via.placeholder.com/900x600/eee/777" class="img-fluid g-rounded-5 g-border g-border-3x g-border-white" alt="Image Description">
                    </div>
                    <div class="col-lg-5 g-p-10 ">
                        <div class="text-center text-lg-right position-relative g-my-80 g-my-lg-0">
                            <h4 class="g-mb-20 text-uppercase font-weight-semibold">Finding the <span class="g-text-primary">Perfect</span> Theme </h4>
                            <p class="g-mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur deleniti dolores earum et explicabo fugit modi quos suscipit.</p>
                            <div>
                                <a href="#" class="btn cn-btn-primary cn-btn-hover-v1-left">
                                    <i class="fa fa-arrow-circle-right g-mr-5"></i>
                                    <span>Find more products</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-5 order-1 order-lg-0 g-p-10">
                        <div class="text-center text-lg-left position-relative g-mt-80 g-my-lg-0">
                            <h4 class="g-mb-20 text-uppercase font-weight-semibold">What <span class="g-text-primary">we</span> do?</h4>
                            <p class="g-mb-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dignissimos dolores facilis quia quidem repudiandae.</p>
                            <ul class="list-unstyled check-list g-font-size-15 g-mb-30 g-ml-lg-25">
                                <li class="g-mb-5">HTML / CSS Design</li>
                                <li class="g-mb-5">Clean Design</li>
                                <li class="g-mb-5">Unique Features</li>
                                <li class="g-mb-5">100% Responsive</li>
                                <li class="g-mb-5">Quality Code</li>
                            </ul>
                            <div>
                                <a href="#" class="btn cn-btn-primary cn-btn-hover-v1-left">
                                    <i class="fa fa-arrow-circle-right g-mr-5"></i>
                                    <span>Read More</span>
                                </a>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-7 text-center">
                        <img src="http://via.placeholder.com/900x600/eee/777" class="img-fluid g-rounded-5 g-border g-border-3x g-border-white" alt="Image Description">
                    </div>
                </div>
            </div>
        </section>
        <!-- END About -->
        
        <!-- Counters -->
        <section class="g-bg-gray-100 g-border-b g-border-b-gray-300 g-py-100">
            <div class="container">
            
                <div class="counters v1">
                    <div class="row">
                        <!-- Counter 1 -->
                        <div class="col-lg-3 text-center">
                            <div class="counter-wrapper g-px-20 g-my-20 g-rounded-5">
                                <div class="counter-icon g-bg-gray-100 g-rounded-5">
                                    <i class="icon-picture g-font-size-30"></i>
                                </div>
                                <div class="counter-text">
                                    <h5 class="g-font-size-25 g-text-gray-800 countup font-weight-bold" data-counter="253">253</h5>
                                    <p class="g-text-gray-800">Projects</p>
                                </div>
                            </div>
                        </div>
                        <!-- Counter 2 -->
                        <div class="col-lg-3 text-center">
                            <div class="counter-wrapper g-px-20 g-my-20 g-rounded-5">
                                <div class="counter-icon g-bg-gray-100 g-rounded-5">
                                    <i class="icon-cup g-font-size-30"></i>
                                </div>
                                <div class="counter-text">
                                    <h5 class="g-font-size-25 g-text-gray-800 countup font-weight-bold" data-counter="944">944</h5>
                                    <p class="g-text-gray-800">Coffees</p>
                                </div>
                            </div>
                        </div>
                        <!-- Counter 3 -->
                        <div class="col-lg-3 text-center">
                            <div class="counter-wrapper g-px-20 g-my-20 g-rounded-5">
                                <div class="counter-icon g-bg-gray-100 g-rounded-5">
                                    <i class="icon-note g-font-size-30"></i>
                                </div>
                                <div class="counter-text">
                                    <h5 class="g-font-size-25 g-text-gray-800 countup font-weight-bold" data-counter="28430">28430</h5>
                                    <p class="g-text-gray-800">Code Lines</p>
                                </div>
                            </div>
                        </div>
                        <!-- Counter 4 -->
                        <div class="col-lg-3 text-center">
                            <div class="counter-wrapper g-px-20 g-my-20 g-rounded-5">
                                <div class="counter-icon g-bg-gray-100 g-rounded-5">
                                    <i class="icon-people g-font-size-30"></i>
                                </div>
                                <div class="counter-text">
                                    <h5 class="g-font-size-25 g-text-gray-800 countup font-weight-bold" data-counter="479">479</h5>
                                    <p class="g-text-gray-800">Users satisfied</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
        </section>
        <!-- END Counters -->
    
        <!-- Section -->
        <section class="g-bg-white g-py-100">
            <div class="container">
                <div class="row no-gutters align-items-center justify-content-center">
                    <div class="col-md-8 col-xl-6 g-mb-80 g-mb-xl-0">
                        <img src="http://via.placeholder.com/1280x600/eee/777" class="img-fluid rounded g-shadow-v2" alt="Image Description">
                    </div>
                    <div class="col-xl-5 offset-xl-1">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-lg-10 g-py-20 g-px-10 text-center text-xl-left ">
                                <div class="g-mb-40">
                                    <h4 class="text-uppercase g-mb-15 cn-heading-v1-center cn-heading-xl-v1 font-weight-semibold"><span class="g-text-primary">Why</span> us ?</h4>
                                    <p class="g-mb-5">Cum apolloniates congregabo, omnes itineris tramitemes convertam velox, secundus terrores.</p>
                                    <p>Germanus, superbus tuss recte acquirere de talis, teres luba.</p>
                                </div>
                            
                                <div class="g-mb-30">
                                    <ul class="list-unstyled check-list g-ml-xl-25">
                                        <li class="g-py-2">
                                            <span class="g-font-size-15">Build with Bootstrap 4</span>
                                        </li>
                                        <li class="g-py-2">
                                            <span class="g-font-size-15">Responsive HTML Layouts</span>
                                        </li>
                                        <li class="g-py-2">
                                            <span class="g-font-size-15">Beautiful Demos</span>
                                        </li>
                                        <li class="g-py-2">
                                            <span class="g-font-size-15">Multipages / Onepages</span>
                                        </li>
                                        <li class="g-py-2">
                                            <span class="g-font-size-15">Visual Design</span>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <a href="#" class="btn cn-btn-primary">
                                        <i class="icon-basket g-mr-5"></i> Purchase Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Section -->
        
        <!-- Services -->
        <section class="services-section g-bg-gray-100 g-py-100">
            <div class="container">
            
                <div class="section-title text-center g-mb-80">
                    <h4 class="text-uppercase g-mb-20 cn-heading-v1-center font-weight-bold">We provide the best services</h4>
                    <p>Don't forget to change this dummy text !</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, ducimus.</p>
                </div>

                
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <div class="feature-box g-py-20 g-px-15 g-my-20 g-rounded-5 text-center text-lg-right g-bg-white d-lg-flex align-items-center">
                            <div class="order-lg-2 g-mb-15 g-mb-lg-0">
                                <i class="icon-chart g-font-size-25 text-primary"></i>
                            </div>
                            <div class="g-mr-lg-15">
                                <h5 class="g-mb-5 text-uppercase font-weight-semibold">Web Design</h5>
                                <p>Cum tabes cadunt, omnes ollaes visum emeritis, dexter gemnaes.</p>
                            </div>
                        </div>
                        <div class="feature-box g-py-20 g-px-15 g-my-20 g-rounded-5 text-center text-lg-right g-bg-white d-lg-flex align-items-center">
                            <div class="order-lg-2 g-mb-15 g-mb-lg-0">
                                <i class="icon-settings g-font-size-25 text-primary"></i>
                            </div>
                            <div class="g-mr-lg-15">
                                <h5 class="g-mb-5 text-uppercase font-weight-semibold">Easy to Customize</h5>
                                <p>Cum tabes cadunt, omnes ollaes visum emeritis, dexter gemnaes.</p>
                            </div>
                        </div>
                        <div class="feature-box g-py-20 g-px-15 g-my-20 g-rounded-5 text-center text-lg-right g-bg-white d-lg-flex align-items-center">
                            <div class="order-lg-2 g-mb-15 g-mb-lg-0">
                                <i class="icon-briefcase g-font-size-25 text-primary"></i>
                            </div>
                            <div class="g-mr-lg-15">
                                <h5 class="g-mb-5 text-uppercase font-weight-semibold">Branding</h5>
                                <p>Cum tabes cadunt, omnes ollaes visum emeritis, dexter gemnaes.</p>
                            </div>
                        </div>
                        <div class="feature-box g-py-20 g-px-15 g-my-20 g-rounded-5 text-center text-lg-right g-bg-white d-lg-flex align-items-center">
                            <div class="order-lg-2 g-mb-15 g-mb-lg-0">
                                <i class="icon-picture g-font-size-25 text-primary"></i>
                            </div>
                            <div class="g-mr-lg-15">
                                <h5 class="g-mb-5 text-uppercase font-weight-semibold">Creative Design</h5>
                                <p>Cum tabes cadunt, omnes ollaes visum emeritis, dexter gemnaes.</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Mobile Centered -->
                    <div class="col-8 col-sm-6 col-lg-3 mx-auto">
                        <div class="row">
                            <div class="feature-phone mx-auto">
                                <img src="http://via.placeholder.com/300x600/eee/777" class="img-fluid" alt="Image Description">
                            </div>
                        </div>
                    </div>
                    <!-- END Mobile Centered -->
                    
                    <div class="col-lg-4">
                        <div class="feature-box g-py-20 g-px-15 g-my-20 g-rounded-5 text-center text-lg-left g-bg-white d-lg-flex align-items-center">
                            <div class="g-mb-15 g-mb-lg-0">
                                <i class="icon-screen-tablet g-font-size-25 text-primary"></i>
                            </div>
                            <div class="g-ml-lg-15">
                                <h5 class="g-mb-5 text-uppercase font-weight-semibold">Web Apps</h5>
                                <p>Cum tabes cadunt, omnes ollaes visum emeritis, dexter gemnaes.</p>
                            </div>
                        </div>
                        <div class="feature-box g-py-20 g-px-15 g-my-20 g-rounded-5 text-center text-lg-left g-bg-white d-lg-flex align-items-center">
                            <div class="g-mb-15 g-mb-lg-0">
                                <i class="icon-graph g-font-size-25 text-primary"></i>
                            </div>
                            <div class="g-ml-lg-15">
                                <h5 class="g-mb-5 text-uppercase font-weight-semibold">SEO</h5>
                                <p>Cum tabes cadunt, omnes ollaes visum emeritis, dexter gemnaes.</p>
                            </div>
                        </div>
                        <div class="feature-box g-py-20 g-px-15 g-my-20 g-rounded-5 text-center text-lg-left g-bg-white d-lg-flex align-items-center">
                            <div class="g-mb-15 g-mb-lg-0">
                                <i class="icon-people g-font-size-25 text-primary"></i>
                            </div>
                            <div class="g-ml-lg-15">
                                <h5 class="g-mb-5 text-uppercase font-weight-semibold">Social Media</h5>
                                <p>Cum tabes cadunt, omnes ollaes visum emeritis, dexter gemnaes.</p>
                            </div>
                        </div>
                        <div class="feature-box g-py-20 g-px-15 g-my-20 g-rounded-5 text-center text-lg-left g-bg-white d-lg-flex align-items-center">
                            <div class="g-mb-15 g-mb-lg-0">
                                <i class="icon-equalizer g-font-size-25 text-primary"></i>
                            </div>
                            <div class="g-ml-lg-15">
                                <h5 class="g-mb-5 text-uppercase font-weight-semibold">Flexible Options</h5>
                                <p>Cum tabes cadunt, omnes ollaes visum emeritis, dexter gemnaes.</p>
                            </div>
                        </div>
                    </div>
                </div>

        
            </div>
        </section>
        <!-- END Services -->

        <!-- Testimonials -->
        <section class="testimonials-section g-bg-white g-py-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="g-px-5 g-px-md-40 text-center">
                        
                            <div class="owl-carousel testimonials-carousel style1">
                                <div class="item">
                                    <div class="mx-auto g-my-20">
                                        <img src="http://via.placeholder.com/100x100/eee/111" class="g-w100 rounded-circle g-border g-border-5x g-border-gray-200" alt="Image Description">
                                    </div>
                                    <h5 class="g-mb-5 font-weight-bold g-text-gray-700">William Prall</h5>
                                    <p class="g-text-primary">Front-end Developer</p>
                                    <blockquote class="lead g-p-20 font-italic">
                                       " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur delectus error, magni nemo nihil nobis quaerat quo. Consequuntur error eum exercitationem modi natus nobis nostrum, porro quibusdam sit vel vero!
                                    </blockquote >
                                </div>
                                <div class="item">
                                    <div class="mx-auto g-my-20">
                                        <img src="http://via.placeholder.com/100x100/eee/111" class="g-w100 rounded-circle g-border g-border-5x g-border-gray-200" alt="Image Description">
                                    </div>
                                    <h5 class="g-mb-5 font-weight-bold g-text-gray-700">Angela Watson</h5>
                                    <p class="g-text-primary">Designer</p>
                                    <blockquote class="lead g-p-20 font-italic">
                                        " Hydras potus! Ubi est secundus coordinatae? Menss cantare! Vae, alter hibrida! Mirabilis abactuss ducunt ad lumen. A falsis, nuclear vexatum iacere lotus messor. Emeritis, teres adiurators sapienter magicae de castus, superbus turpis
                                    </blockquote>
                                </div>
                                <div class="item">
                                    <div class="mx-auto g-my-20">
                                        <img src="http://via.placeholder.com/100x100/eee/111" class="g-w100 rounded-circle g-border g-border-5x g-border-gray-200" alt="Image Description">
                                    </div>
                                    <h5 class="g-mb-5 font-weight-bold g-text-gray-700">Christina Rose</h5>
                                    <p class="g-text-primary">Manager</p>
                                    <blockquote class="lead g-p-20 font-italic">
                                        " Audax cliniass ducunt ad index. Mortem, consilium, et planeta. Noster solitudo interdum experientias boreas est. Ecce, nobilis danista! Fuga de gratis barcas, imperium lapsus! Medicinas sunt stellas de fatalis historia.
                                    </blockquote >
                                </div>
                            </div>
                    
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Testimonials -->
        
        <!-- Blog -->
        <section class="blog-section g-bg-gray-100 g-py-100">
            <div class="container">
            
                <div class="section-title text-center g-mb-80">
                    <h4 class="text-uppercase g-mb-20 cn-heading-v1-center font-weight-bold">Recent Articles</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>A falsis, pulchritudine audax fortis. Bursas sunt acipensers de germanus fluctus.</p>
                </div>
    
                <div class="grid gutter">
                    <div class="grid-sizer grid-item-w-33"></div>
        
                    <div class="grid-item grid-item-w-33">
                        <!-- Article -->
                        <article class="g-shadow-v1">
                            <img class="img-fluid g-rounded-top-5" src="http://via.placeholder.com/900x600/eee/777" alt="Image Description">
                            <div class="post-content g-bg-white g-p-30 g-rounded-bottom-5">
                                <h5 class="post-title font-weight-bold g-mb-20"><a href="#" class="g-text-gray-800">With ramens drink adobo sauce!</a></h5>
                                <p class="g-mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ex facilis, in neque nulla obcaecati quae quasi reiciendis voluptate voluptatum?</p>
                                <p class="font-weight-bold"><a href="blog-single.html" target="_blank">Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                <ul class="list-unstyled inline-list g-mt-15 g-font-size-13 g-text-gray-600 d-flex">
                                    <li class="list-inline-item font-weight-semibold">Author: William Prall</li>
                                    <li class="list-inline-item ml-auto">
                                        <a href="#" class="g-text-gray-600"><i class="fa fa-comments"></i> 5</a>
                                        <a href="#" class="g-text-gray-600"><i class="fa fa-eye"></i> 7</a>
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <!-- END Article -->
                    </div>
                    <div class="grid-item grid-item-w-33">
                        <!-- Article -->
                        <article class="g-shadow-v1">
                            <img class="img-fluid g-rounded-top-5" src="http://via.placeholder.com/900x600/eee/777" alt="Image Description">
                            <div class="post-content g-bg-white g-p-30 g-rounded-bottom-5">
                                <h5 class="post-title font-weight-bold g-mb-20"><a href="#" class="g-text-gray-800">Tofu combines greatly with fluffy pickles.</a></h5>
                                <p class="g-mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ex facilis, in neque nulla obcaecati quae quasi reiciendis voluptate voluptatum?</p>
                                <p class="font-weight-bold"><a href="blog-single.html" target="_blank">Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                <ul class="list-unstyled inline-list g-mt-15 g-font-size-13 g-text-gray-600 d-flex">
                                    <li class="list-inline-item font-weight-semibold">Author: Jessica</li>
                                    <li class="list-inline-item ml-auto">
                                        <a href="#" class="g-text-gray-600"><i class="fa fa-comments"></i> 14</a>
                                        <a href="#" class="g-text-gray-600"><i class="fa fa-eye"></i> 29</a>
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <!-- END Article -->
                    </div>
                    <div class="grid-item grid-item-w-33">
                        <!-- Article -->
                        <article class="g-shadow-v1">
                            <img class="img-fluid g-rounded-top-5" src="http://via.placeholder.com/900x600/eee/777" alt="Image Description">
                            <div class="post-content g-bg-white g-p-30 g-rounded-bottom-5">
                                <h5 class="post-title font-weight-bold g-mb-20"><a href="#" class="g-text-gray-800">Honor, powerdrain, and courage.</a></h5>
                                <p class="g-mb-20">Hilotaes ridetis! Messor de placidus classis, desiderium devatio! Sunt demolitionees locus castus, germanus onuses.</p>
                                <p class="font-weight-bold"><a href="blog-single.html" target="_blank">Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                <ul class="list-unstyled inline-list g-mt-15 g-font-size-13 g-text-gray-600 d-flex">
                                    <li class="list-inline-item font-weight-semibold">Author: John Doe</li>
                                    <li class="list-inline-item ml-auto">
                                        <a href="#" class="g-text-gray-600"><i class="fa fa-comments"></i> 14</a>
                                        <a href="#" class="g-text-gray-600"><i class="fa fa-eye"></i> 8</a>
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <!-- END Article -->
                    </div>
                    <div class="grid-item grid-item-w-33">
                        <!-- Article -->
                        <article class="fadein g-shadow-v1">
                            <div class="caption">
                                <div class="caption-default">
                                    <img class="img-fluid g-rounded-5" src="http://via.placeholder.com/900x600/eee/777" alt="Image Description">
                                </div>
                                <div class="caption-active g-bg-black-opacity-7 g-text-white g-p-30">
                                    <h4 class="font-weight-bold g-mb-10"><a href="#" class="text-white">Love, life, and coordinates.</a></h4>
                                    <p class="g-mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, excepturi possimus...</p>
                        
                                    <div class="g-bottom-30 g-left-30 position-absolute">
                                        <ul class="list-unstyled inline-list g-font-size-13 d-flex">
                                            <li class="list-inline-item font-weight-semibold">Author: <span class="g-text-primary">Jessica</span></li>
                                            <li class="list-inline-item ml-auto">
                                                <a href="#" class="g-text-white"><i class="fa fa-comments"></i> 14</a>
                                                <a href="#" class="g-text-white"><i class="fa fa-eye"></i> 59</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!-- END Article -->
                    </div>
                    <div class="grid-item grid-item-w-33">
                        <!-- Article -->
                        <article class="fadein g-shadow-v1">
                            <div class="caption">
                                <div class="caption-default">
                                    <img class="img-fluid" src="http://via.placeholder.com/900x600/eee/777" alt="Image Description">
                                </div>
                                <div class="caption-active g-bg-black-opacity-7 g-text-white g-p-30">
                                    <h4 class="font-weight-bold g-mb-10"><a href="#" class="text-white">Hypnosis, rumour, and adventure.</a></h4>
                                    <p class="g-mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, excepturi possimus...</p>
                        
                                    <div class="g-bottom-30 g-left-30 position-absolute">
                                        <ul class="list-unstyled inline-list g-font-size-13 d-flex">
                                            <li class="list-inline-item font-weight-semibold">Author: <span class="g-text-primary">Jessica</span></li>
                                            <li class="list-inline-item ml-auto">
                                                <a href="#" class="g-text-white"><i class="fa fa-comments"></i> 14</a>
                                                <a href="#" class="g-text-white"><i class="fa fa-eye"></i> 59</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!-- END Article -->
                    </div>
                    <div class="grid-item grid-item-w-33">
                        <!-- Article -->
                        <article class="g-shadow-v1">
                            <img class="img-fluid g-rounded-top-5" src="http://via.placeholder.com/900x600/eee/777" alt="Image Description">
                            <div class="post-content g-bg-white g-p-30 g-rounded-bottom-5">
                                <h5 class="post-title font-weight-bold g-mb-20"><a href="#" class="g-text-gray-800">With zucchinis drink rum.</a></h5>
                                <p class="g-mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ex facilis, in neque nulla obcaecati quae quasi reiciendis voluptate voluptatum?</p>
                                <p class="font-weight-bold"><a href="blog-single.html" target="_blank">Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                <ul class="list-unstyled inline-list g-mt-15 g-font-size-13 g-text-gray-600 d-flex">
                                    <li class="list-inline-item font-weight-semibold">Author: Jessica</li>
                                    <li class="list-inline-item ml-auto">
                                        <a href="#" class="g-text-gray-600"><i class="fa fa-comments"></i> 14</a>
                                        <a href="#" class="g-text-gray-600"><i class="fa fa-eye"></i> 29</a>
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <!-- END Article -->
                    </div>
                    <div class="grid-item grid-item-w-33">
                        <!-- Article -->
                        <article class="g-shadow-v1">
                            <img class="img-fluid g-rounded-top-5" src="http://via.placeholder.com/900x600/eee/777" alt="Image Description">
                            <div class="post-content g-bg-white g-p-30 g-rounded-bottom-5">
                                <h5 class="post-title font-weight-bold g-mb-20"><a href="#" class="g-text-gray-800">Mind, love, and future.</a></h5>
                                <p class="g-mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque cupiditate dolor dolore ducimus eos labore numquam odit omnis quas vero.</p>
                                <p class="font-weight-bold"><a href="blog-single.html" target="_blank">Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                <ul class="list-unstyled inline-list g-mt-15 g-font-size-13 g-text-gray-600 d-flex">
                                    <li class="list-inline-item font-weight-semibold">Author: Andreea</li>
                                    <li class="list-inline-item ml-auto">
                                        <a href="#" class="g-text-gray-600"><i class="fa fa-comments"></i> 5</a>
                                        <a href="#" class="g-text-gray-600"><i class="fa fa-eye"></i> 1</a>
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <!-- END Article -->
                    </div>
                    <div class="grid-item grid-item-w-33">
                        <!-- Article -->
                        <article class="g-shadow-v1">
                            <img class="img-fluid g-rounded-top-5" src="http://via.placeholder.com/900x600/eee/777" alt="Image Description">
                            <div class="post-content g-bg-white g-p-30 g-rounded-bottom-5">
                                <h5 class="post-title font-weight-bold g-mb-20"><a href="#" class="g-text-gray-800">Patiently raise a sensor.</a></h5>
                                <p class="g-mb-20">Fortis, germanus naviss solite carpseris de bi-color, placidus competition.</p>
                                <p class="font-weight-bold"><a href="blog-single.html" target="_blank">Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                <ul class="list-unstyled inline-list g-mt-15 g-font-size-13 g-text-gray-600 d-flex">
                                    <li class="list-inline-item font-weight-semibold">Author: John Doe</li>
                                    <li class="list-inline-item ml-auto">
                                        <a href="#" class="g-text-gray-600"><i class="fa fa-comments"></i> 1</a>
                                        <a href="#" class="g-text-gray-600"><i class="fa fa-eye"></i> 2</a>
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <!-- END Article -->
                    </div>
                    <div class="grid-item grid-item-w-33">
                        <!-- Article -->
                        <article class="fadein g-shadow-v1">
                            <div class="caption">
                                <div class="caption-default">
                                    <img class="img-fluid g-rounded-5" src="http://via.placeholder.com/900x600/eee/777" alt="Image Description">
                                </div>
                                <div class="caption-active g-bg-black-opacity-7 g-text-white g-p-30 g-rounded-5">
                                    <h4 class="font-weight-bold g-mb-10"><a href="#" class="text-white">Hypnosis, rumour, and adventure.</a></h4>
                                    <p class="g-mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, excepturi possimus...</p>
                        
                                    <div class="g-bottom-30 g-left-30 position-absolute">
                                        <ul class="list-unstyled inline-list g-font-size-13 d-flex">
                                            <li class="list-inline-item font-weight-semibold">Author: <span class="g-text-primary">Jessica</span></li>
                                            <li class="list-inline-item ml-auto">
                                                <a href="#" class="g-text-white"><i class="fa fa-comments"></i> 14</a>
                                                <a href="#" class="g-text-white"><i class="fa fa-eye"></i> 59</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!-- END Article -->
                    </div>
                </div>
                
            </div> <!-- / .container -->
        </section>
        <!-- END Blog -->
    
        <!-- Section -->
        <section class="bg-primary text-white py-4 text-center">
            <h5 class="g-px-5">We offer a theme that suits you perfectly. <br class="d-block d-sm-none"><a href="#" class="btn cn-btn-outline-light g-mt-15 g-mt-sm-0 g-ml-sm-15">Purchase Now</a></h5>
        </section>
        <!-- END Section -->
    </div>
    <!-- END Main Content -->
    
    <!-- Footer -->
    {% include '../_partials/footers/footer-1.html' %}
    <!-- END Footer -->
    
</div>
<!-- END Main Wrapper -->
{% endblock %}
