{% extends '../_partials/cnote-main-layout.html' %}
{% block page-title %}<title>Homepage Version 3 Animated | cNote Responsive Template</title> {% endblock %}

{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper">
    
    <!-- Header -->
    <header id="header" class="cn-header g-bg-white-opacity-3">
        <!-- Main Navbar -->
        {% include '../_partials/headers/_main-header-transparent.html' %}
        <!-- END Main Navbar -->
    </header>
    <!-- END Header -->
    
    <!-- Main Content -->
    <div id="main-content">
        
        <!-- Banner -->
        <section class="banner fullscreen bg-cover" style="background-image: url('http://via.placeholder.com/1920x1080/eee/ddd');">
            <div class="overlay g-bg-white-opacity-5"></div>
            
            <div class="g-flex-center h-100 g-py-100 g-py-lg-0">
                <div class="container banner-text text-dark text-center text-lg-left g-px-15">
                    <h2 class="text-uppercase font-weight-bold g-font-size-30 g-font-size-md-45 sr-element sr-right"><span class="g-text-primary">cNote</span> Theme</h2>
                    <h1 class="text-uppercase font-weight-bold g-font-size-30 g-font-size-md-45 g-mb-lg-30 g-mb-20 sr-element sr-left">We are <span class="g-text-primary">creative</span></h1>
                    <div class="d-lg-inline-block sr-element sr-delay-200">
                        <a href="#" class="btn cn-btn-primary g-rounded-30 g-mr-lg-10 g-mb-15 g-font-size-13">Read More</a>
                    </div>
                    <div class="d-lg-inline-block sr-element sr-delay-400">
                        <a href="#" class="btn cn-btn-dark g-rounded-30 g-mb-15 g-font-size-13">Purchase Now</a>
                    </div>
                </div>
            </div>
        
        </section>
        <!-- END Banner -->
        
        <!-- Features -->
        <section class="g-py-100">
            <div class="container">
                <div class="section-title text-center g-mb-80 sr-element">
                    <h3 class="title text-uppercase cn-heading-v1-center font-weight-bold">What we do</h3>
                    <div class="row justify-content-center g-my-20">
                        <div class="col-md-9">
                            <p>Don't forget to remove this dummy text.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters justify-content-center">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-lg pulse-dark-effect g-mb-20 g-mb-lg-0 sr-element sr-left sr-delay-400">
                                <div class="text-center g-bg-white g-border g-border-gray-200 g-shadow-v2 g-py-60 g-px-15 g-rounded-left-5">
                                    <div class="cn-icon cn-icon-dark rounded-circle g-mb-30">
                                        <i class="fa fa-cloud g-font-size-20" aria-hidden="true"></i>
                                    </div>
                                    <h5 class="text-uppercase font-weight-semibold g-mb-10">Clean design</h5>
                                    <p class="g-p-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolor dolore, error esse iure perferendis.</p>
                                </div>
                            </div>
                            <div class="col-lg pulse-primary-effect g-mb-20 g-mb-lg-0 sr-element sr-left sr-delay-200">
                                <div class="text-center g-bg-white g-border g-border-gray-200 g-shadow-v2 g-py-60 g-px-15">
                                    <div class="cn-icon cn-icon-primary rounded-circle g-mb-30">
                                        <i class="fa fa-codepen g-font-size-20" aria-hidden="true"></i>
                                    </div>
                                    <h5 class="text-uppercase font-weight-semibold g-mb-10">Best Quality</h5>
                                    <p class="g-p-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolor dolore, error esse iure perferendis.</p>
                                </div>
                            </div>
                            <div class="col-lg pulse-dark-effect g-mb-20 g-mb-lg-0 sr-element sr-left">
                                <div class="text-center g-bg-white g-border g-border-gray-200 g-shadow-v2 g-py-60 g-px-15">
                                    <div class="cn-icon cn-icon-dark rounded-circle g-mb-30">
                                        <i class="fa fa-image g-font-size-20" aria-hidden="true"></i>
                                    </div>
                                    <h5 class="text-uppercase font-weight-semibold g-mb-10">100% Responsive</h5>
                                    <p class="g-p-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolor dolore, error esse iure perferendis.</p>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </section>
        <!-- END Features -->
        
        <!-- About -->
        <section class="g-bg-gray-100 g-py-100">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-6 g-px-20 g-mb-50 g-mb-lg-0">
                        <div class="row counters">
                            <div class="col-md-6 g-mb-10 sr-element">
                                <div class="counter-wrapper g-py-40 text-center g-bg-primary g-shadow-v2">
                                    <div class="counter-icon g-mb-20">
                                        <i class="icon-screen-desktop g-font-size-30 text-white"></i>
                                    </div>
                                    <div class="counter-text">
                                        <p class="font-weight-semibold g-font-size-25 g-font-size-md-40 countup" data-counter="493">493</p>
                                        <p>Projects</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 g-mb-10 sr-element sr-delay-200">
                                <div class="counter-wrapper g-py-40 text-center g-bg-white g-shadow-v2">
                                    <div class="counter-icon g-mb-20">
                                        <i class="icon-cup g-font-size-30 g-text-primary"></i>
                                    </div>
                                    <div class="counter-text">
                                        <p class="font-weight-semibold g-font-size-25 g-font-size-md-40 g-text-gray-700 countup" data-counter="873">873</p>
                                        <p class="g-text-gray-800">Coffees</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 g-mb-10 sr-element sr-delay-200">
                                <div class="counter-wrapper g-py-40 text-center g-bg-white g-shadow-v2">
                                    <div class="counter-icon g-mb-20">
                                        <i class="icon-notebook g-font-size-30 g-text-primary"></i>
                                    </div>
                                    <div class="counter-text">
                                        <p class="font-weight-semibold g-font-size-25 g-font-size-md-40 g-text-gray-700 countup" data-counter="34205">34205</p>
                                        <p class="g-text-gray-800">Code Lines</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 g-mb-10 sr-element">
                                <div class="counter-wrapper g-py-40 text-center g-bg-primary g-shadow-v2">
                                    <div class="counter-icon g-mb-20">
                                        <i class="icon-people g-font-size-30 text-white"></i>
                                    </div>
                                    <div class="counter-text">
                                        <p class="font-weight-semibold g-font-size-25 g-font-size-md-40 countup" data-counter="1472">1472</p>
                                        <p>Users Satisfied</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 g-px-20 sr-element sr-delay-200">
                        <h5 class="text-uppercase text-center text-lg-left font-weight-semibold g-mb-40 g-mb-lg-20">About our company</h5>
                        <div class="cn-nav-tabs-container g-shadow-v2">
                            <ul class="nav cn-nav-tabs nav-pills nav-justified" id="tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="true">
                                        <span class="align-middle g-mr-sm-3"><i class="icon-home"></i></span>
                                        <span class="align-middle tab-name">About</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="goals-tab" data-toggle="tab" href="#goals" role="tab" aria-controls="goals" aria-selected="false">
                                        <span class="align-middle g-mr-sm-3"><i class="icon-bell"></i></span>
                                        <span class="align-middle tab-name">Goals</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="projects-tab" data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="false">
                                        <span class="align-middle g-mr-sm-3"><i class="icon-paper-clip"></i></span>
                                        <span class="align-middle tab-name">Projects</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content" id="TabContent">
                                <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                                    <p class="text-muted">Lorem ipsum <b>dolor</b> <span class="g-text-primary"> sit amet</span>, consectetur adipisicing elit.</p>
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <span class="g-text-primary">Adipisci debitis</span> Adipisci debitis dolor error eveniet iure magni quos ullam. Alias, eius quia! Corporis, quae.</p>
                                    <ul class="list-unstyled g-py-20">
                                        <li class="g-py-2">
                                            <i class="fa fa-check fa-fw text-primary"></i>
                                            <span class="g-ml-10 g-font-size-15">Build with Bootstrap 4</span>
                                        </li>
                                        <li class="g-py-2">
                                            <i class="fa fa-check fa-fw text-primary"></i>
                                            <span class="g-ml-10 g-font-size-15">Great SASS Architecture</span>
                                        </li>
                                        <li class="g-py-2">
                                            <i class="fa fa-check fa-fw text-primary"></i>
                                            <span class="g-ml-10 g-font-size-15">Responsive HTML Layouts</span>
                                        </li>
                                        <li class="g-py-2">
                                            <i class="fa fa-check fa-fw text-primary"></i>
                                            <span class="g-ml-10 g-font-size-15">Beautiful Demos</span>
                                        </li>
                                        <li class="g-py-2">
                                            <i class="fa fa-check fa-fw text-primary"></i>
                                            <span class="g-ml-10 g-font-size-15">Multipages / Onepages</span>
                                        </li>
                                    </ul>
                                    <p class="text-muted"><b>Lorem</b> ipsum dolor <b><a href="#">sit amet, consectetur adipisicing elit.</a></b> Aspernatur consectetur eius et fuga veniam?</p>
                                </div>
                                <div class="tab-pane fade" id="goals" role="tabpanel" aria-labelledby="goals-tab">
                                    <p class="text-muted">Lorem ipsum <b>dolor</b> <span class="g-text-primary"> sit amet</span>, consectetur adipisicing elit.</p>
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <span class="g-text-primary">Adipisci debitis</span> Adipisci debitis dolor error eveniet iure magni quos ullam. Alias, eius quia! Corporis, quae.</p>
                                    <ul class="list-unstyled g-py-20">
                                        <li class="g-py-2">
                                            <i class="fa fa-check fa-fw text-primary"></i>
                                            <span class="g-ml-10 g-font-size-15">Build with Bootstrap 4</span>
                                        </li>
                                        <li class="g-py-2">
                                            <i class="fa fa-check fa-fw text-primary"></i>
                                            <span class="g-ml-10 g-font-size-15">Great SASS Architecture</span>
                                        </li>
                                        <li class="g-py-2">
                                            <i class="fa fa-check fa-fw text-primary"></i>
                                            <span class="g-ml-10 g-font-size-15">Responsive HTML Layouts</span>
                                        </li>
                                        <li class="g-py-2">
                                            <i class="fa fa-check fa-fw text-primary"></i>
                                            <span class="g-ml-10 g-font-size-15">Beautiful Demos</span>
                                        </li>
                                        <li class="g-py-2">
                                            <i class="fa fa-check fa-fw text-primary"></i>
                                            <span class="g-ml-10 g-font-size-15">Multipages / Onepages</span>
                                        </li>
                                    </ul>
                                    <p class="text-muted"><b>Lorem</b> ipsum dolor <b><a href="#">sit amet, consectetur adipisicing elit.</a></b> Aspernatur consectetur eius et fuga veniam?</p>
                                </div>
                                <div class="tab-pane fade" id="projects" role="tabpanel" aria-labelledby="projects-tab">
                                    <p class="text-muted">Lorem ipsum <b>dolor</b> <span class="g-text-primary"> sit amet</span>, consectetur adipisicing elit.</p>
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <span class="g-text-primary">Adipisci debitis</span> Adipisci debitis dolor error eveniet iure magni quos ullam. Alias, eius quia! Corporis, quae.</p>
                                    <ul class="list-unstyled g-py-20">
                                        <li class="g-py-2">
                                            <i class="fa fa-check fa-fw text-primary"></i>
                                            <span class="g-ml-10 g-font-size-15">Build with Bootstrap 4</span>
                                        </li>
                                        <li class="g-py-2">
                                            <i class="fa fa-check fa-fw text-primary"></i>
                                            <span class="g-ml-10 g-font-size-15">Great SASS Architecture</span>
                                        </li>
                                        <li class="g-py-2">
                                            <i class="fa fa-check fa-fw text-primary"></i>
                                            <span class="g-ml-10 g-font-size-15">Responsive HTML Layouts</span>
                                        </li>
                                        <li class="g-py-2">
                                            <i class="fa fa-check fa-fw text-primary"></i>
                                            <span class="g-ml-10 g-font-size-15">Beautiful Demos</span>
                                        </li>
                                        <li class="g-py-2">
                                            <i class="fa fa-check fa-fw text-primary"></i>
                                            <span class="g-ml-10 g-font-size-15">Multipages / Onepages</span>
                                        </li>
                                    </ul>
                                    <p class="text-muted"><b>Lorem</b> ipsum dolor <b><a href="#">sit amet, consectetur adipisicing elit.</a></b> Aspernatur consectetur eius et fuga veniam?</p>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END About -->
        
        <!-- Offers -->
        <section class="offers-section g-py-100">
            <div class="container">
                
                <div class="section-title text-center g-mb-80 sr-element">
                    <h4 class="title text-uppercase cn-heading-v1-center font-weight-bold">What we offer you</h4>
                    <div class="row justify-content-center g-my-20">
                        <div class="col-md-9">
                            <p>Don't forget to remove this dummy text.</p>
                            <p>Accusamus alias amet asperiores aspernatur assumenda corporis error expedita iusto.</p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 order-2 order-lg-1 sr-element sr-left">
                        <ul class="list-unstyled">
                            <li class="d-lg-flex align-items-center text-center text-lg-left g-mb-15 g-border g-border-gray-300 g-shadow-v2 g-p-20 g-bg-primary-h g-parent-text-h">
                                <div class="g-mb-10 g-mb-lg-0">
                                    <i class="icon-chart g-font-size-25 g-text-primary g-text-white-parent-h" aria-hidden="true"></i>
                                </div>
                                <div class="g-ml-lg-15">
                                    <p>Superbus cannabiss ducunt ad eleates.</p>
                                </div>
                            </li>
                            <li class="d-lg-flex align-items-center text-center text-lg-left g-mb-15 g-border g-border-gray-300 g-shadow-v2 g-p-20 g-bg-primary-h g-parent-text-h">
                                <div class="g-mb-10 g-mb-lg-0">
                                    <i class="icon-graph g-font-size-25 g-text-primary g-text-white-parent-h" aria-hidden="true"></i>
                                </div>
                                <div class="g-ml-lg-15">
                                    <p>Abactor accelerares, tanquam altus nuptia.</p>
                                </div>
                            </li>
                            <li class="d-lg-flex align-items-center text-center text-lg-left g-mb-15 g-border g-border-gray-300 g-shadow-v2 g-p-20 g-bg-primary-h g-parent-text-h">
                                <div class="g-mb-10 g-mb-lg-0">
                                    <i class="icon-globe g-font-size-25 g-text-primary g-text-white-parent-h" aria-hidden="true"></i>
                                </div>
                                <div class="g-ml-lg-15">
                                    <p>Deus experimentums, tanquam nobilis demissio.</p>
                                </div>
                            </li>
                        
                        </ul>
                    </div>
                    <div class="col-10 col-lg-5 offset-lg-1 order-lg-2 g-mb-20 text-center sr-element sr-right">
                        <div class="box-image position-relative g-mb-80 g-mb-lg-0">
                            <img src="http://via.placeholder.com/900x600/eee/777" class="img-fluid g-shadow-v2" alt="Image Description">
                        </div>
                    </div>
                </div>
            
            </div>
        
        </section>
        <!-- END Offers -->
        
        <!-- Pricing-plans Section -->
        <section class="pricing-section g-bg-gray-100 g-py-100">
            
            <div class="container">
                <div class="section-title text-center g-mb-80 sr-element">
                    <h4 class="title text-uppercase cn-heading-v1-center font-weight-bold">Our Prices</h4>
                    <div class="row justify-content-center g-my-20">
                        <div class="col-md-9 text-center">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                            <p>Accusamus alias amet quam quod reiciendis suscipit voluptates? </p>
                        </div>
                    </div>
                </div>
                
                <div class="row justify-content-center">
                    <div class="col-sm-10 col-md-6 col-lg-3 g-pb-20 g-pb-lg-0 sr-element">
                        <div class="pricing-box g-bg-white g-border g-border-gray-300 g-p-30 text-center g-rounded-5 g-shadow-v1">
                            <div class="g-border-b g-border-gray-300 g-py-15">
                                <h4 class="text-uppercase g-mb-10 font-weight-semibold"><span class="text-primary">Basic</span> Plan</h4>
                            </div>
                            <ul class="list-unstyled g-mt-20 g-mb-70">
                                <li class="g-py-4">50GB Storage</li>
                                <li class="g-py-4">Unlimited Members</li>
                                <li class="g-py-4">10 Projects</li>
                                <li class="g-py-4">Admin Area</li>
                                <li class="g-py-4">3 Months Support</li>
                            </ul>
                            <div class="g-border-t g-border-b g-border-gray-300 g-py-15">
                                <p>$<span class="price font-weight-bold g-font-size-25">10</span> /month</p>
                            </div>
                            <a href="#" class="btn cn-btn-outline-primary g-rounded-50 g-mt-20">Choose Price</a>
                        </div>
                    </div>
                    
                    <div class="col-sm-10 col-md-6 col-lg-3 g-pb-20 g-pb-lg-0 sr-element sr-delay-200">
                        <div class="pricing-box g-bg-white g-border g-border-gray-300 g-p-30 text-center g-rounded-5 g-shadow-v1">
                            <div class="g-border-b g-border-gray-300 g-py-15">
                                <h4 class="text-uppercase g-mb-10 font-weight-semibold"><span class="text-primary">Medium</span> Plan</h4>
                            </div>
                            <ul class="list-unstyled g-mt-20 g-mb-70">
                                <li class="g-py-4">100GB Storage</li>
                                <li class="g-py-4">Unlimited Members</li>
                                <li class="g-py-4">20 Projects</li>
                                <li class="g-py-4">Admin Area</li>
                                <li class="g-py-4">6 Months Support</li>
                            </ul>
                            <div class="g-border-t g-border-b g-border-gray-300 g-py-15">
                                <p>$<span class="price font-weight-bold g-font-size-25">20</span> /month</p>
                            </div>
                            <a href="#" class="btn cn-btn-primary g-rounded-50 g-mt-20">Choose Price</a>
                        </div>
                    </div>
                    
                    <div class="col-sm-10 col-md-6 col-lg-3 g-pb-20 g-pb-lg-0 sr-element sr-delay-400">
                        <div class="pricing-box g-bg-white g-border g-border-gray-300 g-p-30 text-center g-rounded-5 g-shadow-v1">
                            <div class="g-border-b g-border-gray-300 g-py-15">
                                <h4 class="text-uppercase g-mb-10 font-weight-semibold"><span class="text-primary">Pro</span> Plan</h4>
                            </div>
                            <ul class="list-unstyled g-mt-20 g-mb-70">
                                <li class="g-py-4">500GB Storage</li>
                                <li class="g-py-4">Unlimited Members</li>
                                <li class="g-py-4">40 Projects</li>
                                <li class="g-py-4">Admin Area</li>
                                <li class="g-py-4">9 Months Support</li>
                            </ul>
                            <div class="g-border-t g-border-b g-border-gray-300 g-py-15">
                                <p>$<span class="price font-weight-bold g-font-size-25">40</span> /month</p>
                            </div>
                            <a href="#" class="btn cn-btn-outline-primary g-rounded-50 g-mt-20">Choose Price</a>
                        </div>
                    </div>
                    
                    <div class="col-sm-10 col-md-6 col-lg-3 sr-element sr-delay-600">
                        <div class="pricing-box g-bg-white g-border g-border-gray-300 g-p-30 text-center g-rounded-5 g-shadow-v1">
                            <div class="g-border-b g-border-gray-300 g-py-15">
                                <h4 class="text-uppercase g-mb-10 font-weight-semibold"><span class="text-primary">Premium</span> Plan</h4>
                            </div>
                            <ul class="list-unstyled g-mt-20 g-mb-70">
                                <li class="g-py-4">1TB Storage</li>
                                <li class="g-py-4">Unlimited Members</li>
                                <li class="g-py-4">60 Projects</li>
                                <li class="g-py-4">Admin Area</li>
                                <li class="g-py-4">12 Months Support</li>
                            </ul>
                            <div class="g-border-t g-border-b g-border-gray-300 g-py-15">
                                <p>$<span class="price font-weight-bold g-font-size-25">50</span> /month</p>
                            </div>
                            <a href="#" class="btn cn-btn-outline-primary g-rounded-50 g-mt-20">Choose Price</a>
                        </div>
                    </div>
                
                </div>
            </div>
        </section>
        <!-- END Pricing-plans Section -->
        
        <!-- Team Section -->
        <section class="team-section g-bg-white g-py-100">
            <div class="container">
                <div class="section-title text-center g-mb-80 sr-element">
                    <h4 class="title text-uppercase cn-heading-v1-center font-weight-bold">Meet the team</h4>
                    <div class="row justify-content-center g-my-20">
                        <div class="col-md-9 text-center">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam itaque odit praesentium quas quidem.</p>
                        </div>
                    </div>
                
                </div>
                <div class="row justify-content-center top-overlay">
                    
                    <!-- Member 1 -->
                    <div class="col-sm-8 col-lg-4 g-mb-20 sr-element sr-right sr-delay-400">
                        <div class="member g-border g-border-gray-300 g-border-primary-h g-shadow-v2">
                            <div class="caption">
                                <div class="caption-default">
                                    <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                                </div>
                                <div class="caption-active g-bg-primary-opacity-8">
                                    <div class="h-100 g-flex-center g-px-20">
                                        <div>
                                            <p class="text-center g-font-size-18 g-text-white">Follow me on</p>
                                            <ul class="list-inline mx-auto text-center g-py-10">
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-light rounded-circle"><i class="fa fa-twitter"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-light rounded-circle"><i class="fa fa-facebook"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-light rounded-circle"><i class="fa fa-google-plus"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-light rounded-circle"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="g-bg-white g-p-30 text-center">
                                <h5 class="font-weight-semibold">John Doe</h5>
                                <p class="g-text-primary">Designer</p>
                                <hr class="g-my-10">
                                <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, maxime.</p>
                            </div>
                        </div>
                    </div>
                    <!-- END Member 1 -->
                    
                    <!-- Member 2 -->
                    <div class="col-sm-8 col-lg-4 g-mb-20 sr-element sr-right sr-delay-200">
                        <div class="member g-border g-border-gray-300 g-border-primary-h g-shadow-v2">
                            <div class="caption">
                                <div class="caption-default">
                                    <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                                </div>
                                <div class="caption-active g-bg-primary-opacity-8">
                                    <div class="h-100 g-flex-center g-px-20">
                                        <div>
                                            <p class="text-center g-font-size-18 g-text-white">Follow me on</p>
                                            <ul class="list-inline mx-auto text-center g-py-10">
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-light rounded-circle"><i class="fa fa-twitter"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-light rounded-circle"><i class="fa fa-facebook"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-light rounded-circle"><i class="fa fa-google-plus"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-light rounded-circle"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="g-bg-white g-p-30 text-center">
                                <h5 class="font-weight-semibold">Jenny Doe</h5>
                                <p class="g-text-primary">Designer</p>
                                <hr class="g-my-10">
                                <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, maxime.</p>
                            </div>
                        </div>
                    </div>
                    <!-- END Member 2 -->
                    
                    <!-- Member 3 -->
                    <div class="col-sm-8 col-lg-4 g-mb-20 sr-element sr-right">
                        <div class="member g-border g-border-gray-300 g-border-primary-h g-shadow-v2">
                            <div class="caption">
                                <div class="caption-default">
                                    <img src="http://via.placeholder.com/800x1000/eee/777" class="img-fluid" alt="Image Description">
                                </div>
                                <div class="caption-active g-bg-primary-opacity-8">
                                    <div class="h-100 g-flex-center g-px-20">
                                        <div>
                                            <p class="text-center g-font-size-18 g-text-white">Follow me on</p>
                                            <ul class="list-inline mx-auto text-center g-py-10">
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-light rounded-circle"><i class="fa fa-twitter"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-light rounded-circle"><i class="fa fa-facebook"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-light rounded-circle"><i class="fa fa-google-plus"></i></a></li>
                                                <li class="list-inline-item g-mx-2"><a href="#" class="cn-icon cn-icon-sm cn-icon-light rounded-circle"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="g-bg-white g-p-30 text-center">
                                <h5 class="font-weight-semibold">John Doe</h5>
                                <p class="g-text-primary">Designer</p>
                                <hr class="g-my-10">
                                <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, maxime.</p>
                            </div>
                        </div>
                    </div>
                    <!-- END Member 3 -->
                </div>
            </div>
        </section>
        <!-- END Team Section -->
        
        <!-- Testimonials -->
        <section class="testimonials-section g-bg-gray-100 g-py-100">
            <div class="container">
                <div class="section-title text-center g-mb-80 sr-element">
                    <h4 class="title text-uppercase cn-heading-v1-center font-weight-bold g-mb-20">Our Clients Say</h4>
                    <div class="row justify-content-center">
                        <div class="col-md-9">
                            <p>Secundus, bassus abactuss virtualiter aperto de.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, praesentium.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="testimonial-box g-px-5 text-center">
                            
                            <div class="owl-carousel testimonials-carousel style1">
                                <div class="item">
                                    <div class="mx-auto g-my-20">
                                        <img src="http://via.placeholder.com/100x100/eee/111" class="g-w100 rounded-circle g-border g-border-5x g-border-gray-200" alt="Client Image">
                                    </div>
                                    <blockquote class="testimonial-description g-p-15 g-p-md-30 font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eum facilis incidunt quam vero. Alias, autem, tenetur. Aliquam, modi, tenetur.</blockquote >
                                    <p class="g-mt-20">John Doe / CEO of Company</p>
                                </div>
                                <div class="item">
                                    <div class="mx-auto g-my-20">
                                        <img src="http://via.placeholder.com/100x100/eee/111" class="g-w100 rounded-circle g-border g-border-5x g-border-gray-200" alt="Client Image">
                                    </div>
                                    <blockquote class="testimonial-description g-p-15 g-p-md-30 font-italic">Calceuss experimentum, tanquam nobilis usus. Nobilis, flavum gloss rare amor de brevis, festus agripeta. Sunt hydraes vitare lotus, bi-color vortexes.</blockquote >
                                    <p class="g-mt-20">John Price / CEO of Company</p>
                                </div>
                                <div class="item">
                                    <div class="mx-auto g-my-20">
                                        <img src="http://via.placeholder.com/100x100/eee/111" class="g-w100 rounded-circle g-border g-border-5x g-border-gray-200" alt="Client Image">
                                    </div>
                                    <blockquote class="testimonial-description g-p-15 g-p-md-30 font-italic">A falsis, fluctus regius humani generis. Cur burgus volare? Nobilis, fortis tatas nunquam attrahendam de mirabilis, grandis gallus.</blockquote >
                                    <p class="g-mt-20">John Coe / CEO of Company</p>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Testimonials -->
        
        <section class="g-bg-primary">
            <div class="text-center g-py-20">
                <h5 class="g-px-5 font-weight-semibold">Are you ready to use this template ? <br class="d-block d-sm-none"> <a href="#" class="btn cn-btn-white g-mt-15 g-mt-sm-0 g-ml-md-20">Let's talk</a></h5>
            </div>
        </section>
    </div>
    <!-- END Main Content -->
    
    <!-- Footer -->
    {% include '../_partials/footers/footer-1.html' %}
    <!-- END Footer -->

</div>
<!-- END Main Wrapper -->
{% endblock %}
{% block additional-footer-scripts %}
<script src="../assets/js/scrollreveal.js"></script>
<script src="../assets/js/sreveal-options.js"></script>
{% endblock %}