{% extends '../_partials/cnote-main-layout.html' %}
{% block page-title %}<title>Header FullWidth | cNote Responsive Template</title> {% endblock %}

{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper" class="main-wrapper">
    
    <!-- Header -->
    <header id="header" class="cn-header position-absolute">
        <!-- Main Navbar -->
        {% include '../_partials/headers/demos/_header-fullwidth.html' %}
        <!-- END Main Navbar -->
    </header>
    <!-- END Header -->

    <!-- Main Content -->
    <div id="main-content">
        <!-- Banner -->
        <section id="home" class="banner fullscreen fullscreen-height-auto bg-cover g-border-b g-border-b-gray-300" style="background-image: url('http://via.placeholder.com/1920x1080/eee/999');">
            <div class="overlay g-bg-white-opacity-6"></div>

            <div class="g-flex-center h-100 g-py-lg-0">
                <div class="container banner-text text-center text-uppercase text-dark g-px-15 g-py-150 g-rounded-5">
                    <h2 class="font-weight-bold g-font-size-md-45 g-font-size-30 g-mb-20 g-mb-md-35">
                        <span>We are giving you an awesome</span> <br>
                        <span id="typed"></span>
                    </h2>
                    <a href="#" class="btn cn-btn-primary g-border-2x font-weight-bold text-uppercase"><i class="fa fa-long-arrow-right g-mr-5"></i>Purchase Now</a>
                </div>
            </div>

            <div class="scroll-btn">
                <div class="scroll-next">
                    <span class="mouse-icon cursor-pointer">
                        <span class="scroll-dot"></span>
                    </span>
                </div>
            </div>

        </section>
        <!-- END Banner -->

        <!-- Company Provides -->
        <section class="bg-white g-border-b g-border-b-gray-200 g-py-100">

            <div class="container">
                <div class="section-title text-center g-mb-80">
                    <h4 class="title text-uppercase g-mb-30 cn-heading-v1-center font-weight-bold">What our company provide?</h4>
                    <div class="row justify-content-center">
                        <div class="col-md-9 text-center">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <p>Cliniass credere! Raptus, ferox competitions superbe perdere de noster, bassus calcaria?</p>
                            <p>Don't forget to remove this dummy text.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-6">

                        <div class="g-mb-10 g-p-20 g-rounded-5 text-center text-lg-right g-bg-primary d-lg-flex align-items-center justify-content-end">
                            <div class="order-lg-2">
                                <div class="cn-icon cn-icon-sm cn-icon-light rounded g-mb-20 g-mb-lg-0">
                                    <i class="fa fa-bell" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="g-mr-lg-15">
                                <h6 class="g-mb-5 text-uppercase font-weight-bold">Creative Design</h6>
                                <p>Secundus, primus consiliums inciviliter carpseris de velox, raptus ionicis tormento.</p>
                            </div>
                        </div>

                        <div class="g-mb-10 g-p-20 g-rounded-5 text-center text-lg-right g-bg-gray-100 d-lg-flex align-items-center justify-content-end">
                            <div class="order-lg-2">
                                <div class="cn-icon cn-icon-sm cn-icon-primary rounded g-mb-20 g-mb-lg-0">
                                    <i class="fa fa-desktop" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="g-mr-lg-15">
                                <h6 class="g-mb-5 text-uppercase font-weight-bold">Pre-made Layouts</h6>
                                <p>Secundus, primus consiliums inciviliter carpseris de velox, raptus ionicis tormento.</p>
                            </div>
                        </div>

                        <div class="g-mb-10 g-p-20 g-rounded-5 text-center text-lg-right g-bg-primary d-lg-flex align-items-center justify-content-end">
                            <div class="order-lg-2">
                                <div class="cn-icon cn-icon-sm cn-icon-light rounded g-mb-20 g-mb-lg-0">
                                    <i class="fa fa-image" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="g-mr-lg-15">
                                <h6 class="g-mb-5 text-uppercase font-weight-bold">Responsive Design</h6>
                                <p>Secundus, primus consiliums inciviliter carpseris de velox, raptus ionicis tormento.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="g-mb-10 g-p-20 g-rounded-5 text-center text-lg-left g-bg-gray-100 d-lg-flex align-items-center ">
                            <div>
                                <div class="cn-icon cn-icon-sm cn-icon-primary rounded g-mb-20 g-mb-lg-0">
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="g-ml-lg-15">
                                <h6 class="g-mb-5 text-uppercase font-weight-bold">Creative Design</h6>
                                <p>Secundus, primus consiliums inciviliter carpseris de velox, raptus ionicis tormento.</p>
                            </div>
                        </div>
                        <div class="g-mb-10 g-p-20 g-rounded-5 text-center text-lg-left g-bg-primary d-lg-flex align-items-center ">
                            <div>
                                <div class="cn-icon cn-icon-sm cn-icon-light rounded g-mb-20 g-mb-lg-0">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="g-ml-lg-15">
                                <h6 class="g-mb-5 text-uppercase font-weight-bold">Pre-made Layouts</h6>
                                <p>Secundus, primus consiliums inciviliter carpseris de velox, raptus ionicis tormento.</p>
                            </div>
                        </div>
                        <div class="g-mb-10 g-p-20 g-rounded-5 text-center text-lg-left g-bg-gray-100 d-lg-flex align-items-center ">
                            <div>
                                <div class="cn-icon cn-icon-sm cn-icon-primary rounded g-mb-20 g-mb-lg-0">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="g-ml-lg-15">
                                <h6 class="g-mb-5 text-uppercase font-weight-bold">Responsive Design</h6>
                                <p>Secundus, primus consiliums inciviliter carpseris de velox, raptus ionicis tormento.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- END Company Provides -->

        <!-- Icons Section -->
        <section class="icons-section">
            <div class="container">
                <div class="row no-gutters g-py-50 g-py-md-0">
                    <div class="col-md-4">
                        <div class="text-center g-py-40 g-py-md-100 g-px-5 g-px-lg-20 g-bg-white pulse-primary-effect">
                            <div class="cn-icon cn-icon-lg cn-icon-primary rounded-circle g-mb-30">
                                <i class="fa fa-magic g-font-size-20" aria-hidden="true"></i>
                            </div>
                            <h5 class="text-uppercase font-weight-semibold">Clean design</h5>
                            <p class="g-text-gray-700 g-mt-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae ea eligendi eveniet in magnam soluta!</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center g-py-40 g-py-md-100 g-px-5 g-px-lg-20 g-bg-white g-border-md-x g-border-gray-200 pulse-primary-effect">
                            <div class="cn-icon cn-icon-lg cn-icon-primary rounded-circle g-mb-30">
                                <i class="fa fa-bell-o g-font-size-20" aria-hidden="true"></i>
                            </div>
                            <h5 class="text-uppercase font-weight-semibold">Awesome Features</h5>
                            <p class="g-text-gray-700 g-mt-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae ea eligendi eveniet in magnam soluta!</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center g-py-40 g-py-md-100 g-px-5 g-px-lg-20 g-bg-white  pulse-primary-effect">
                            <div class="cn-icon cn-icon-lg cn-icon-primary rounded-circle g-mb-30">
                                <i class="fa fa-cloud g-font-size-20" aria-hidden="true"></i>
                            </div>
                            <h5 class="text-uppercase font-weight-semibold">Best Quality</h5>
                            <p class="g-text-gray-700 g-mt-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae ea eligendi eveniet in magnam soluta!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Icons Section -->

        <!-- Services -->
        <section class="services-section g-bg-gray-100 g-py-100">
            <div class="container">
                <div class="section-title text-center g-mb-80">
                    <h4 class="title text-uppercase g-mb-30 cn-heading-v1-center font-weight-bold">Our Services</h4>
                    <div class="row justify-content-center">
                        <div class="col-md-9 text-center">
                            <p>Don't forget to remove this dummy text.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, similique!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="service-wrapper g-py-60 g-px-20 g-mb-30 bg-white g-border g-border-gray-300">
                            <div class="service-header text-center g-mb-45">
                                <div class="g-mb-50">
                                    <i class="icon-chart g-font-size-25 g-text-primary"></i>
                                </div>
                                <h5 class="font-weight-bold g-mb-10">SEO Optimization</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, neque?</p>
                            </div>
                            <ul class="list-unstyled list-striped check-list g-ml-lg-25 g-px-10 text-center text-lg-left">
                                <li class="g-p-7"><span>Support 24/7</span></li>
                                <li class="g-p-7"><span>100+ Pages</span></li>
                                <li class="g-p-7"><span>500+ UI Elements</span></li>
                                <li class="g-p-7"><span>Bootstrap 4</span></li>
                                <li class="g-p-7"><span>Support 24/7</span></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="service-wrapper g-py-60 g-px-20 g-mb-30 bg-white g-border g-border-gray-300">
                            <div class="service-header text-center g-mb-45">
                                <div class="g-mb-50">
                                    <i class="icon-pie-chart g-font-size-25 g-text-primary"></i>
                                </div>
                                <h5 class="font-weight-bold g-mb-10">Creative Design</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, neque?</p>
                            </div>
                            <ul class="list-unstyled list-striped check-list g-ml-lg-25 g-px-10 text-center text-lg-left">
                                <li class="g-p-7"><span>Support 24/7</span></li>
                                <li class="g-p-7"><span>100+ Pages</span></li>
                                <li class="g-p-7"><span>500+ UI Elements</span></li>
                                <li class="g-p-7"><span>Bootstrap 4</span></li>
                                <li class="g-p-7"><span>Support 24/7</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service-wrapper g-py-60 g-px-20 g-mb-30 bg-white g-border g-border-gray-300">
                            <div class="service-header text-center g-mb-45">
                                <div class="g-mb-50">
                                    <i class="icon-note g-font-size-25 g-text-primary"></i>
                                </div>
                                <h5 class="font-weight-bold g-mb-10">Technical Audit</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, neque?</p>
                            </div>
                            <ul class="list-unstyled list-striped check-list g-ml-lg-25 g-px-10 text-center text-lg-left">
                                <li class="g-p-7"><span>Support 24/7</span></li>
                                <li class="g-p-7"><span>100+ Pages</span></li>
                                <li class="g-p-7"><span>500+ UI Elements</span></li>
                                <li class="g-p-7"><span>Bootstrap 4</span></li>
                                <li class="g-p-7"><span>Support 24/7</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- END Services -->

        <!-- Section -->
        <section class="g-bg-white">
            <div class="row no-gutters align-items-center">
                <div class="col-xl-6 order-xl-1">
                    <div class="row h-100 justify-content-center">
                        <div class="col-lg-10 g-py-100 g-py-xl-40 g-px-20 text-center text-xl-left">
                            <div class="g-mb-40">
                                <h4 class="font-weight-bold g-text-gray-700 g-mb-15 text-uppercase cn-heading-v1-center cn-heading-xl-v1"><span class="g-text-primary">Why</span> us ?</h4>
                                <p class="g-mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <p>Cotta, ignigena, et usus. Est fidelis clabulare, cesaris. Camerarius, velox mensas satis imitari de altus, varius equiso!</p>
                            </div>

                            <ul class="list-unstyled check-list g-ml-xl-25 g-mb-20">
                                <li class="g-py-2">
                                    <span class="g-font-size-15">Build with Bootstrap 4</span>
                                </li>
                                <li class="g-py-2">
                                    <span class="g-font-size-15">Great SASS Architecture</span>
                                </li>
                                <li class="g-py-2">
                                    <span class="g-font-size-15">Beautiful Demos</span>
                                </li>
                                <li class="g-py-2">
                                    <span class="g-font-size-15">Responsive HTML Layouts</span>
                                </li>
                                <li class="g-py-2">
                                    <span class="g-font-size-15">Visual Design</span>
                                </li>
                            </ul>
                            <div>
                                <a href="#" class="btn cn-btn-primary">
                                    <i class="icon-basket g-mr-5"></i> Purchase Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="g-h300 g-lg-h500 bg-cover" style="background-image: url('http://via.placeholder.com/1280x600/eee/777');"></div>
                </div>
            </div>
            <div class="row no-gutters align-items-center">
                <div class="col-xl-6">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 g-py-100 g-py-xl-40 g-px-20 text-center text-xl-left">
                            <div class="g-mb-40">
                                <h4 class="font-weight-bold g-text-gray-700 g-mb-15 text-uppercase cn-heading-v1-center cn-heading-xl-v1"><span class="g-text-primary">Increase</span> income</h4>
                                <p class="g-mb-5">Sunt fiscinaes experientia fortis, nobilis rationees!</p>
                                <p>Cotta, ignigena, et usus. Est fidelis clabulare, cesaris. Camerarius, velox mensas satis imitari de altus, varius equiso!</p>
                            </div>

                            <ul class="list-unstyled check-list g-ml-xl-25 g-mb-20">
                                <li class="g-py-2">
                                    <span class="g-font-size-15">Endless possibilities</span>
                                </li>
                                <li class="g-py-2">
                                    <span class="g-font-size-15">Lots of Pre-made layouts</span>
                                </li>
                                <li class="g-py-2">
                                    <span class="g-font-size-15">Responsive HTML Layouts</span>
                                </li>
                                <li class="g-py-2">
                                    <span class="g-font-size-15">Beautiful Demos</span>
                                </li>
                                <li class="g-py-2">
                                    <span class="g-font-size-15">Visual Design</span>
                                </li>
                            </ul>

                            <div >
                                <a href="#" class="btn cn-btn-primary">
                                    <i class="fa fa-arrow-circle-right g-mr-5"></i>
                                    <span>Read More</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="g-h300 g-lg-h500 bg-cover" style="background-image: url('http://via.placeholder.com/1280x600/eee/777');"></div>
                </div>
            </div>
        </section>
        <!-- END Section -->

        <!-- Projects -->
        <section class="work-section g-bg-gray-100 g-py-100">

            <div class="container">
                <div class="section-title text-center g-mb-80">
                    <h4 class="title text-uppercase g-mb-30 cn-heading-v1-center font-weight-bold">Recent Projects</h4>
                    <div class="row justify-content-center">
                        <div class="col-md-9 text-center">
                            <p>Don't forget to remove this dummy text.</p>
                            <p>Cum bubo observare, omnes classises talem lotus, brevis gloses.</p>
                        </div>
                    </div>
                </div>
                <!-- Masonry Grid -->
                <div class="grid zoom">
                    <div class="grid-sizer grid-item-w-20"></div>

                    <div class="grid-item grid-item-w-20">
                        <div class="caption">
                            <div class="caption-default">
                                <img src="http://via.placeholder.com/900x600/e6e6e6/777" class="img-fluid" alt="Image Description">
                            </div>
                            <a href="#">
                                <div class="caption-active g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-plus text-white g-font-size-30"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item grid-item-w-20">
                        <div class="caption">
                            <div class="caption-default">
                                <img src="http://via.placeholder.com/900x600/eee/777" class="img-fluid" alt="Image Description">
                            </div>
                            <a href="#">
                                <div class="caption-active g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-plus text-white g-font-size-30"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item grid-item-w-60">
                        <div class="caption">
                            <div class="caption-default">
                                <img src="http://via.placeholder.com/900x600/e6e6e6/777" class="img-fluid" alt="Image Description">
                            </div>
                            <a href="#">
                                <div class="caption-active g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-plus text-white g-font-size-30"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item grid-item-w-40">
                        <div class="caption">
                            <div class="caption-default">
                                <img src="http://via.placeholder.com/900x600/ddd/777" class="img-fluid" alt="Image Description">
                            </div>
                            <a href="#">
                                <div class="caption-active g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-plus text-white g-font-size-30"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item grid-item-w-60">
                        <div class="caption">
                            <div class="caption-default">
                                <img src="http://via.placeholder.com/900x600/eee/777" class="img-fluid" alt="Image Description">
                            </div>
                            <a href="#">
                                <div class="caption-active g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-plus text-white g-font-size-30"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item grid-item-w-20">
                        <div class="caption">
                            <div class="caption-default">
                                <img src="http://via.placeholder.com/900x600/eee/777" class="img-fluid" alt="Image Description">
                            </div>
                            <a href="#">
                                <div class="caption-active g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-plus text-white g-font-size-30"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item grid-item-w-20">
                        <div class="caption">
                            <div class="caption-default">
                                <img src="http://via.placeholder.com/900x600/ddd/777" class="img-fluid" alt="Image Description">
                            </div>
                            <a href="#">
                                <div class="caption-active g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-plus text-white g-font-size-30"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item grid-item-w-20">
                        <div class="caption">
                            <div class="caption-default">
                                <img src="http://via.placeholder.com/900x600/e6e6e6/777" class="img-fluid" alt="Image Description">
                            </div>
                            <a href="#">
                                <div class="caption-active g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-plus text-white g-font-size-30"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item grid-item-w-20">
                        <div class="caption">
                            <div class="caption-default">
                                <img src="http://via.placeholder.com/900x600/eee/777" class="img-fluid" alt="Image Description">
                            </div>
                            <a href="#">
                                <div class="caption-active g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-plus text-white g-font-size-30"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item grid-item-w-20">
                        <div class="caption">
                            <div class="caption-default">
                                <img src="http://via.placeholder.com/900x600/eee/777" class="img-fluid" alt="Image Description">
                            </div>
                            <a href="#">
                                <div class="caption-active g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-plus text-white g-font-size-30"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item grid-item-w-20">
                        <div class="caption">
                            <div class="caption-default">
                                <img src="http://via.placeholder.com/900x600/ddd/777" class="img-fluid" alt="Image Description">
                            </div>
                            <a href="#">
                                <div class="caption-active g-flex-center">
                                    <div class="text-center">
                                        <i class="icon-plus text-white g-font-size-30"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- END Masonry Grid -->
            </div>

        </section>
        <!-- END Projects -->

        <!-- Blog -->
        <section class="blog-section g-py-100">
            <div class="container">

                <div class="section-title text-center g-mb-80">
                    <h4 class="title text-uppercase g-mb-30 cn-heading-v1-center font-weight-bold">Recent Articles</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita illum repellat voluptatem.</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>

                <div class="row">

                    <div class="col-lg-4">
                        <div class="card g-border-gray-300 g-m-5">
                            <div class="card-body text-center text-lg-left">
                                <a href="#"><h4 class="card-title g-my-25 g-text-gray-800 font-weight-semibold">Albus, castus armariums saepe contactus de superbus, domesticus navis. </h4></a>
                                <p class="card-text g-mb-25">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. [...]</p>
                                <a href="#" class="btn btn-sm cn-btn-primary g-mb-15">Read more</a>
                            </div>
                            <div class="card-footer border-0 d-flex">
                                <span><small class="text-muted">Created by: <span>John Doe</span></small></span>
                                <span class="ml-auto">
                                    <small class="text-muted"><a href="#"><i class="fa fa-comment fa-fw"></i>12</a></small>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card g-border-gray-300 g-m-5">
                            <div class="card-body text-center text-lg-left">
                                <a href="#"><h4 class="card-title g-my-25 g-text-gray-800 font-weight-semibold">Albus, castus armariums saepe contactus de superbus, domesticus navis. </h4></a>
                                <p class="card-text g-mb-25">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. [...]</p>
                                <a href="#" class="btn btn-sm cn-btn-primary g-mb-15">Read more</a>
                            </div>
                            <div class="card-footer border-0 d-flex">
                                <span><small class="text-muted">Created by: <span>John Doe</span></small></span>
                                <span class="ml-auto">
                                    <small class="text-muted"><a href="#"><i class="fa fa-comment fa-fw"></i>12</a></small>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card g-border-gray-300 g-m-5">
                            <div class="card-body text-center text-lg-left">
                                <a href="#"><h4 class="card-title g-my-25 g-text-gray-800 font-weight-semibold">Albus, castus armariums saepe contactus de superbus, domesticus navis. </h4></a>
                                <p class="card-text g-mb-25">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. [...]</p>
                                <a href="#" class="btn btn-sm cn-btn-primary g-mb-15">Read more</a>
                            </div>
                            <div class="card-footer border-0 d-flex">
                                <span><small class="text-muted">Created by: <span>John Doe</span></small></span>
                                <span class="ml-auto">
                                    <small class="text-muted"><a href="#"><i class="fa fa-comment fa-fw"></i>12</a></small>
                                </span>
                            </div>
                        </div>
                    </div>

                </div><!-- / .row -->

            </div> <!-- / .container -->
        </section>
        <!-- END Blog -->

        <!-- Newsletter -->
        <section class="newsletter-section g-bg-gray-100 g-py-100">
            <div class="container">

                <div class="section-title text-center g-mb-50">
                    <h4 class="title g-mb-10 text-uppercase cn-heading-v1-center font-weight-bold">Subscribe now</h4>
                    <p>Stay tuned with our latest news</p>
                </div>


                <div class="row justify-content-center">
                    <div class="col-md-8">

                        <form>
                            <div class="form-group">
                                <div class="input-group input-group-focus-v2">
                                    <div class="input-group-prepend bg-white g-px-20"><i class="fa fa-send"></i></div>
                                    <input type="email" class="form-control form-control-lg g-px-15" name="subscribe_email" id="subscribe_email" placeholder="example@domain.com">
                                    <button type="submit" class="g-bg-white input-group-append cursor-pointer g-font-size-14 g-px-20">
                                        Subscribe
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </section>
        <!-- END Newsletter -->

        <section class="bg-primary text-white py-4 text-center">
            <h5 class="g-px-5">We offer a theme that suits you perfectly. <br class="d-block d-sm-none"><a href="#" class="btn cn-btn-outline-light g-mt-15 g-mt-sm-0 g-ml-sm-15">Purchase Now</a></h5>
        </section>
    </div>
    <!-- END Main Content -->
    
    <!-- Footer -->
    {% include '../_partials/footers/footer-3.html' %}
    <!-- END Footer -->

</div>
<!-- END Main Wrapper -->
{% endblock %}
{% block additional-footer-scripts %}
<script>
    var typed = new Typed('#typed', {
        strings: ["<span class='g-text-primary text-uppercase'>template</span>", "<span class='g-text-primary text-uppercase'>landing page</span>"],
        typeSpeed: 50,
        backSpeed: 30,
        startDelay: 300,
        loop: true,
        backDelay:5000,
        showCursor: true,
    });
</script>
{% endblock %}