
@{
    ViewBag.Title = "Mis Alertas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="profile-section g-py g-bg-white">
    <div class="container">
        <div class="row">
            @Html.Partial("_ProfileRightNavMenu")
            <div class="col-md-9">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="g-border g-border-gray-300 g-shadow-v2 g-p-15">

                    </div>
                }
            </div>
        </div>
    </div>
</section>

