
<div class="g-flex-center h-100">
    <div class="container">
        <div class="text-center">
            <ul class="list-unstyled g-text-gray-600 g-mt-50">
                <li class="g-mb-4 g-mb-md-10">El álbum no tiene imagenes.</li>
                <li class="g-mb-4 g-mb-md-10">Que esperas ...</li>
                <li class="g-mb-4 g-mb-md-10">Sube las imagenes de tu mascota !!!</li>
            </ul>
        </div>
    </div>
</div>
